.course-replacer {
    background: #021281;
    width: 680px;
    border-radius: 20px;
    border: 0;
    color: #273D75;
    padding: 15px;
    font-size: 16px;
    max-height:540px;
    height:70%;
    display: flex;
    flex-direction: column;
}

.course-replacer .course-replacer-header {
    color: #9DAFE3;
    padding: 5px 10px;
    margin-bottom: 10px;
    position: relative;
}
.course-replacer .course-replacer-header .course-replacer-close-btn {
    position: absolute;
    right: 0px;
    top: -5px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.course-replacer .course-replacer-header .course-replacer-close-btn img {
    width: 14px;
    height: 14px;
}

.course-replacer .course-replacer-body {
    background-color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    height: calc(100% - 62px);
}

.course-replacer .course-replacer-body .mask {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 34px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
}

.course-replacer .course-replacer-body input {
    height: 20px;
    width: 250px;
    border: 1px solid #D7D7E6;
    padding: 3px 10px 3px 30px;
    border-radius: 5px;
    outline: none;
    color: #7D8798;
    font-size: 13px;
}

.course-replacer .course-replacer-body input:focus {
    border: 1px solid #5471FE;
}

.course-replacer .course-replacer-body .search-icon {
    position: absolute;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-replacer .course-replacer-body .search-icon img {
    width: 18px;
    height: 18px;
}

.course-replacer .course-replacer-body .clear-icon {
    position: absolute;
    height: 28px;
    width: 28px;
    left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-replacer .course-replacer-body .clear-icon.invisible {
    opacity: 0;
    pointer-events: none;
}

.course-replacer .course-replacer-body .clear-icon img {
    width: 18px;
    height: 18px;
}

.course-replacer .course-replacer-body .course-replacer-tbl-h {
    background: #F0F3FF;
    padding: 5px 10px;
    margin: 10px 0 5px 0;
}


.course-replacer .course-replacer-body .course-replacer-tbl-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3E3EC;
    height: 40px;
    margin: 0 10px;
}

.course-replacer .course-replacer-body .course-replacer-tbl-row>.course-replacer-tbl-col {
    cursor: pointer;
    margin-right: 5px;
}

.course-replacer .course-replacer-body .course-replacer-tbl-row:last-child {
    border-bottom: 0;
}

.course-paging {
    display: flex;
    justify-content: center;
}

.course-paging>div {
    padding: 3px 10px;
    color: #7D8798;
    border-radius: 5px;
    border: 1px solid #E3E3EC;
    margin: 4px;
    font-size: 13px;
    cursor: pointer;
}

.course-paging>div.active {
    background: #5571FF;
    color: white;
    border: 1px solid #5571FF;
}

.course-paging>div.invisible {
    opacity: 0;
    pointer-events: none;
}

@keyframes rotation{
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
}

.course-replacer .course-replacer-body .progress button {
    background: #DFB635;
    border: 0;
    color: white;
    width: 64px;
    height: 24px;
    border-radius: 24px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 12px;
}

/* .course-replacer .loading .MuiCircularProgress-colorPrimary {
    color: #576AFC;
} */