.chat-panel {
  @apply bg-white;
  position: relative;
  flex: 1;
  border-radius: 4px;
  min-width: 300px;
  @apply border-l border-gray-100 border-t;
}

.chat-header {
  @apply flex items-center justify-between;
  height: 44px;
  padding: 0 15px;
  border-bottom: 1px solid #ececf1;
}

.chat-header-title {
  font-size: 13px;
  font-weight: 400;
  color: #191919;
}

.chat-header-message-state {
  font-size: 24px;
  color: #979797;
}

.chat-notice {
  @apply flex justify-center items-center w-full;
  height: 32px;
  background: #f9f9fc;
  border: 1px solid #ececf1;
  font-size: 12px;
  font-weight: 400;
  color: #191919;
  top: 44px;
  position: absolute;
  z-index: 1;
}

.chat-notice .iconfont {
  margin-right: 5px;
  font-size: 17px;
  color: #f04c36;
}

.chat-history {
  width: 100%;
  height: calc(100% - 120px);
  padding-bottom: 18px;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
}

.chat-texting {
  @apply flex justify-between items-center;
  padding: 15px;
  min-height: 60px;
  width: 100%;
  background-color: #f9f9fc;
  border-radius: 18px 18px 4px 4px;
  border: 1px solid #ececf1;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.chat-texting > textarea {
  @apply w-full outline-none border-none resize-none;
  height: 20px;
  font-size: 13px;
  transition: .3s;
}

.chat-texting.focus > textarea {
  height: 50px;
  margin-top: 10px;
}

.chat-texting.focus {
  @apply flex flex-col items-end justify-end;
}

.chat-texting-message {
  @apply bg-transparent;
}

.chat-texting-message:hover,
.chat-texting-message:active,
.chat-texting-message:focus {
  @apply outline-none;
}

.no-discussion-svg, .can-discussion-svg {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 24px;
  height: 24px;
  background: url('../icon/assets/svg/icon-nodiscussion-actived.svg') no-repeat center / 24px 24px;
  cursor: pointer;
}

.can-discussion-svg {
  background: url('../icon/assets/svg/icon-nodiscussion-default.svg')
}

.full-screen-chat {
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
}

.full-screen-chat .chat-header {
  border-top: 1px solid #ececf1;
}

.svg-icon-wrap {
  position: relative;
  left: -11px;
}
