.landscape-tool-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.landscape-tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.hands-up-action-sheet-mobile-prepare-options-item {
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.landscape-info-classroom-name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 5px;
}
.landscape-classroom-info {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 16px;
}
.landscape-classroom-status {
  display: flex;
  flex-direction: row;
  height: 10px;
  font-size: 12px;
  align-items: center;
  margin-top: 4px;
}
.landscape-info-classroom-recording {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.recording-icon {
  animation: breath 3s infinite;
}
.landscape-info-classroom-time {
  font-size: 10px;
  font-weight: 700;
}
.landscape-info-classroom-totaltime {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.landscape-group-buttons{
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 30px;
  overflow: hidden;
  margin-right: 9px;
}
.landscape-help-button{
  display: flex;
  align-items: center;
  background-color: #0D1433;
  padding: 0px 7px;
  height: 100%;
  
}
.landscape-help-button.active{
  background-color: rgba(13,20,51,.5)
}

.landscape-help-button.active .landscape-help-button-value {
  color: rgba(255, 255, 255, 0.5);
}
.landscape-help-button-value{
  color: #fff;
  font-family: "PingFang HK";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px; /* 100% */
}
.landscape-leave-group-button{
  padding: 0px 13px;
  color: #FFF;
  text-align: center;
  font-family: "PingFang HK";
  font-size: 11px;
  font-style: normal;
  background-color: #4262FF;
  font-weight: 600;
  line-height: 30px; /* 218.182% */
}

@keyframes breath {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
