.roster-modal .modal-content {
  padding: 0 1px;
}

.reward {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.roster-wrap .main-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  background: #f9f9fc;
  border: 0;
  outline: 0;
  /* cursor: pointer; */
  color: #586376;
  width: 100%;
  padding-left: 19px;
}

.roster-wrap {
  width: 606px;
  height: 540px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(47,65%,146%,15%);
  border-radius: 6px;
  border: 1px solid #e3e3ec;
  position: relative;
  overflow-y: hidden;
}

.roster-wrap .table-header {
  margin: 0;
}

.roster-header {
  font-size: 13px;
  color: #191919;
  padding: 11px 19px;
}

.roster-header > label {
  color: #7b88a0;
}

.roster-table .table-container .table-row-item .table-col-item {
  @apply box-content;
  color: #191919;
  height: 22px;
  padding: 9px 0;
}

.roster-table .table-container .table-row-item .iconfont {
  font-size: 22px;
}

.roster-table .muted {
  color: #f04c36;
}

.roster-table .un-muted {
  color: #0073ff;
}

.roster-table .disabled {
  color: #979797 !important;
}

.roster-table .on-podium,
.roster-table .whiteboard-granted,
.roster-table .camera-enabled,
.roster-table .mic-enabled {
  color: #0073ff;
}

.roster-table .camera-disabled,
.roster-table .mic-disabled {
  color: #f04c36;
}

.roster-table .whiteboard-no_granted {
  color: #bdbdca;
}

.roster-table .star {
  color: #979797;
}

.roster-table .star-nums {
  color: #7b88a0;
}

.roster-table .kick-out {
  @apply rounded-full text-center cursor-pointer inline-block;
  color: #7b88a0;
  height: 32px;
  width: 32px;
}

.roster-table .kick-out:hover {
  background-color: #e7e7f3;
}

.roster-table .inline-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}