.roster-modal .modal-content {
  padding: 0 1px;
}

.student-username .roster-username {
  margin: 0;
}

.student-username > span {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roster-table .table-row-item .table-col-item:first-child {
  flex: 1;
  min-width: 0;
}

.roster-username {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roster-wrap .main-title,
.supervise-container .main-title {
  @apply bg-icon-selected-color text-level1;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  border: 0;
  outline: 0;
  width: 100%;
  padding-left: 19px;
}

.roster-wrap,
.supervise-container {
  @apply border border-solid border-divider;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(47, 65%, 146%, 15%);
  border-radius: 6px;
  position: relative;
  overflow-y: hidden;
}

.roster-user-list-wrap .main-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  background: #f9f9fc;
  border: 0;
  outline: 0;
  color: #586376;
  width: 100%;
  padding-left: 19px;
}

.roster-user-list-wrap {
  width: 350px;
  height: 402px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(47, 65%, 146%, 15%);
  border-radius: 6px;
  border: 1px solid #e3e3ec;
  position: relative;
  overflow-y: hidden;
}

.roster-user-list-wrap .table-header {
  color: #7b88a0;
  padding-left: 0;
}

.roster-wrap .table-header {
  margin: 0;
  padding-left: 0;
}

.roster-header {
  @apply text-level1;
  font-size: 13px;
  padding: 11px 20px;
}

.roster-header > label {
  @apply text-level2;
}

.roster-container {
  @apply bg-component border border-solid border-divider;
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
}

.roster-container .roster-table {
  @apply border-t border-solid border-divider;
  flex: 1;
  min-height: 0;
}

.roster-table .table-container .table-row-item .table-col-item {
  @apply box-content text-level1;
  height: 40px;
}

.roster-table .star {
  color: #979797;
}

.student-username {
  display: flex;
}
.roster-table .star-nums {
  color: #7b88a0;
  user-select: none;
}

.roster-table .inline-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-teacher-name {
  height: 30px;
  display: inline-flex;
  align-items: center;
}

.search-teacher-name label {
  @apply text-level2;
}

.search-teacher-name .roster-username {
  margin: 0;
}

.search-header .input-search-wrapper {
  height: 34px;
}

.search-header .input-search::-webkit-input-placeholder {
  font-size: 13px !important;
}

.search-header .input-search-wrapper .input-prefix {
  position: relative;
  left: -10px;
  margin-right: -10px;
  opacity: 0.5;
}

.carousel-menu {
  display: inline-flex;
  align-items: center;
}

.carousel-flag {
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-right: -2px;
}

.carousel-flag label.pure-material-checkbox {
  margin-right: 3px;
}

.carousel-flag .form-checkbox {
  margin-right: 3px !important;
}

.disable-flag {
  width: 100px;
  margin-left: 10px;
}

.student-order,
.carousel-frequency {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.order-select {
  margin-left: 6px;
  width: 100px;
}

.carousel-frequency-input {
  width: 65px;
  margin: 0 6px;
}

.roster-row-hover {
  @apply bg-icon-selected-color;
}

.roster-col-hover .clickable {
  @apply bg-component;
  cursor: pointer;
}

.carousel-menu .react-select__single-value,
.carousel-menu .react-select__option {
  font-size: 13px !important;
}

.search-header .input-search-wrapper {
  background-color: #fff !important;
  border: 1px solid #d7d7e6;
}

.carousel-desc {
  @apply text-level2;
}
