<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>阿卡索教室内录制</title>
  <script src="./edu_sdk.bundle.js"></script>
</head>

<body>
  <style>
    #root1 {
      width: 100%;
      height: 100%;
    }
  </style>
  <div id="root1"></div>
  <script type="text/javascript">

  function useParams (location) {
    const searchString = location.href.split('?').pop()
    const urlParams = new URLSearchParams(location.href.split('?').pop())
    const audienceParams = {}
    for (let key of urlParams.keys()) {
      audienceParams[key] = urlParams.get(key)
    }
    console.log("urlParams ", audienceParams)
    return audienceParams
  }

  const {
    appId,
    userUuid,
    userName,
    roomUuid,
    userRole,
    roomType,
    roomName,
    pretest = false,
    rtmUid,
    rtmToken,
    language = "zh",
    translateLanguage = 'auto',
    startTime,
    duration,
    courseWareList = [],
    personalCourseWareList = [],
  } = useParams(window.location)

  const reportReady = async () => {
    const opts = {
      method: "post",
      headers: {
        'Content-Type': 'application/json',
        'x-agora-token': rtmToken,
        'x-agora-uid': rtmUid,
      }
    }
    // const url = `https://api-solutions-pre.bj2.agoralab.co/edu/acadsoc/apps/${appId}/v1/rooms/${roomUuid}/records/ready`
    const url = `https://api.agora.io/edu/apps/${appId}/v2/rooms/${roomUUid}/records/ready`
    let resp = await fetch(url, opts)

    if(resp.status !== 200) {
      throw new Error(`request failed: ${resp.status}`)
    }

    return resp
  }

  const wait = (time) => {
    return new Promise((resolve) => {
      setTimeout(() => {
        resolve()
      }, time)
    })
  }
  // const options = paramsObject
  // if(!options) {
  //     document.querySelector("#root1").textContent = "options missing"
  // } else {
  // if(AgoraEduSDK.setParameters) {
  //   AgoraEduSDK.setParameters(JSON.stringify({
  //       "edu.apiUrl":"https://api-solutions-dev.bj2.agoralab.co",
  //       "edu.logUrl":"https://api-solutions-dev.bj2.agoralab.co"
  //   }))
  //   console.log(`AgoraEduSDK setParameters called`)
  // } 
  AgoraEduSDK.config({
      appId,
      cachePath: undefined,
  })
  AgoraEduSDK.launch(
      document.querySelector("#root1"), {
        userUuid,
        userName,
        roomUuid,
        // record always use invisible role
        roleType: 0,
        roomType: +roomType,
        roomName,
        // record always disable 
        pretest: false,
        rtmUid,
        rtmToken,
        language,
        translateLanguage,
        startTime: +startTime,
        duration: +duration,
        courseWareList,
        personalCourseWareList,
        listener: async (evt, args) => {
          if(evt === 1) {
            let reported = false
            while(!reported) {
              try {
                await reportReady()
                reported = true
              }catch(e) {
                // wait for 5 seconds
                await wait(10 * 1000)
              }
            }
          }
        }
      }
  ).then(async () => {
    console.log('start launch')
  })
  // }
  </script>
</body>

</html>
