/* FIXME: etxtract colors to tailwind config */

td.biz-col {
  font-size: 13px;
  display: table-cell;
  font-weight: 400;
  vertical-align: middle;
}

td.biz-col.label {
  padding-right: 2px;
}

td.biz-col.value {
  padding-left: 2px;
}

td.biz-col.value.left {
  padding-right: 7px;
}

td.biz-col.label.right {
  padding-left: 7px;
}

.fcr-biz-header {
  @apply bg-foreground border-divider text-level2 border border-solid;
  /* 因为 iconfont icon设计不合规无法对齐 特此 hack */
  padding: 0 15px 0 8px;
  border-top: 0px;
  position: relative;
}

.fcr-biz-header-title-wrap {
  display: flex;
  align-items: center;
}

.fcr-biz-subtitle .line:first-child {
  padding-right: 8px;
}

.fcr-biz-header-title-wrap > div {
  padding: 0 19px;
  border-color: #d2d2e2;
}

.fcr-biz-header-title {
  @apply text-level1;
  font-size: 13px;
  position: relative;
}
.fcr-biz-header-title .fcr-biz-header-title-share-name {
  position: absolute;
  right: 100%;
  width: max-content;
}
.fcr-biz-header-split-line {
  width: 2px;
  height: 13px;
  padding: 0 !important;
  background-color: #e2e2ee;
}

.header-signal {
  position: absolute;
  left: 8px;
}

.header-actions {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
}

.header-actions .action-icon {
  margin-left: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-actions .record-heartbeat {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d9011b;
  margin-right: 5px;
}
.header-actions .record-icon {
  margin-left: 7px;
}
.header-actions .record-tips {
  color: #677386;
  font-size: 12px;
  line-height: 12px;
}
/* 因为 iconfont icon设计不合规无法对齐 特此 hack */
.biz-signal-quality {
  text-align: center;
  width: 40px;
}
.biz-signal-quality.excellent path,
.biz-signal-quality.good path {
  fill: #0bad69;
}

.biz-signal-quality.bad path {
  fill: #f5b723;
}
.biz-signal-quality.down path {
  fill: #f04c36;
}

.biz-signal-quality.unknown path {
  fill: #bdbdca;
}

.biz-col {
  font-size: 13px;
  font-weight: 400;
  display: flex;
}

.biz-col > label {
  color: #586376;
}

.biz-col > span {
  color: #191919;
}
.biz-col > span {
  color: #191919;
}
.biz-col > .label-info-list {
  color: #191919;
}
.biz-col > .label-info-list > span {
  color: #191919;
}
.biz-col > .right-gap {
  margin-right: 5px;
}
.biz-col > .left-gap {
  margin-left: 5px;
}
.fr {
  float: right;
}
