.announcement {
  height: 100%;
}

.no-show-icon {
  margin-top: 3px;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.announcement-icon {
  width: 106px;
  height: 117px;
}

.no-notice {
  width: 178px;
  height: 18px;
  font-size: 13px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #ececf1;
  line-height: 18px;

  overflow: hidden;
  text-overflow: 'ellipsis';
  display: '-webkit-box';
  -webkit-line-clamp: 2;
  -webkit-box-orient: 'vertical';
  white-space: 'break-spaces';
}

.announcement-box {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
}

.edit {
  color: #4591f8;
  cursor: pointer;
}

.edit-content {
  /* margin-top: 8px; */
  padding: 15px;
}

.input-content {
  margin: 0 3px !important;
  width: 308px !important;
  height: 232px !important;
  border-radius: 4px !important;
  border: 1px solid #ececf1 !important;
}

.menu {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 0 20px;
}

.tips-content {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
}

.more-message {
  /* width: 121px; */
  height: 18px;
  font-size: 13px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #f04c36;
  line-height: 18px;
}

.count-content {
  /* width: 178px; */
  height: 18px;
  font-size: 13px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #7d8798;
  line-height: 18px;
}

.announcement-content {
  /* width: 307px; */
  /* height: 235px; */
  font-size: 13px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #191919;
  line-height: 25px;
  padding: 15px;
  word-break: break-all;
  white-space: pre-wrap;
  height: 100%;
  overflow-y: scroll;
}

.update-content {
  /* width: 26px; */
  height: 18px;
  font-size: 13px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #3c86f7;
  line-height: 18px;
  margin: 8px;
}

.btn-content {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.ok-btn {
  width: 94px;
  height: 30px;
  background: #357bf6;
  border-radius: 15px !important;
}

.cancel-btn {
  width: 94px;
  height: 30px;
  border-radius: 15px !important;
  border: 1px solid #4b4b58 !important;
}

.btn-text {
  /* width: 38px; */
  height: 20px;
  font-size: 14px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  line-height: 20px;
}

.ok-btn-text {
  color: #ffffff;
}

.cancel-btn-text {
  color: #677386;
}

/* 修改antd 默认样式 */

.delete-modal .ant-modal-content {
  height: 175px;
  width: 280px;
}

.delete-modal .ant-modal-header {
  height: 40px !important;
  padding: 8px 24px !important;
  background: #f9f9fc !important;
  border-radius: 4px 4px 0px 0px !important;
  border: 1px solid #e1e1ea !important;
}

.delete-modal .ant-modal-title {
  font-size: 14px !important;
  font-family: 'PingFangSC-Regular', 'PingFang SC' !important;
  font-weight: 400 !important;
  color: #333333 !important;
  line-height: 20px !important;
}

.delete-modal .ant-modal-close {
  top: 11px !important;
  right: 30px !important;
}

.delete-modal .ant-modal-close-x {
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}

.delete-modal .ant-modal-body {
  text-align: center;
  /* width: 104px; */
  /* height: 18px; */
  font-size: 13px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #586376;
  line-height: 18px;
  padding: 32px !important;
}

.delete-modal .ant-modal-footer {
  display: flex;
  justify-content: center;
  border: none !important;
  padding: 0 !important;
  margin-top: 2px !important;
}

.delete-modal .ant-btn {
  border-radius: 15px !important;
  border: 1px solid #d2d2e2;
  width: 90px;
  height: 30px;
  margin: 0 8px !important;
}
