.placeholder {
  @apply w-full h-full flex flex-col items-center justify-center pt-36 pb-36;
}

.placeholder-desc {
  margin-top: 46px;
  font-size: 13px;
  font-weight: 400;
  color: #7d8798;
}

.camera-placeholder {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.camera-placeholder.camera-disabled-placeholder::before, .camera-placeholder.camera-broken-placeholder::before, .camera-placeholder.camera-muted-placeholder::before{
  content: ' ';
  background-image: url('./assets/camera-disabled.png');
  background-position: center;
  background-color: #F9F9FC;
  border: 1px solid #ECECF1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.camera-placeholder.camera-loading-placeholder::before, .camera-placeholder.camera-broken-placeholder::before, .camera-placeholder.camera-muted-placeholder::before{
  content: ' ';
  background-image: url('./assets/no-body.png');
  background-position: center;
  background-color: #F9F9FC;
  border: 1px solid #ECECF1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.camera-placeholder.camera-broken-placeholder::before {
  background-image: url('./assets/camera-broken.png');
}

.camera-placeholder.camera-muted-placeholder::before {
  background-size: 96px 96px;
  background-image: url('./assets/camera-close.png');
}

.maxiumn-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #000;
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
}

.board-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.reconnect-btn {
  margin-top: 30px;
  font-size: 16px;
  width: 136px;
  height: 44px;
}