
html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rtc-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.edu-room .layout {
  position: relative;
}

.edu-room .tabs {
  position: absolute;
  top: 15px;
  left: 15px;
}

.layout-aside-normal {
  max-width: 300px;
  min-width: 300px;
  flex: 1;
  position: relative;
}

.layout-aside.layout-aside-fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  width: auto;
  margin: 10px;
  height: auto;
}