.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url('./assets/bg.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.leftContainer {
  display: flex;
  flex: 1;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  flex: 1;
}