.container {
  display: flex;
  flex-direction: column;
  background: url('~@/pages/acadsoc/assets/bg.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.mainContainer {
  display: flex;
  flex: 1;
  margin: 0;
  margin-bottom: 44px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  min-width: 268px;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  z-index: 3;
}

.fullScreen {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  .mainContainer {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .rightContainer {
    position: absolute;
    height: 90%;
    right: 0;
  }
}
