@font-face {font-family: "iconfont";
  src: url('./assets/iconfont.eot?t=1616389926613'); /* IE9 */
  src: url('./assets/iconfont.eot?t=1616389926613#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAACfsAAsAAAAAUUAAACeaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCLDAqBgXTmVwE2AiQDgjALgRoABCAFhG0HiS8bQEJlhpjHAaBLF0ZExagk+/+PCVTGcCuQ8qLqi8L7F5IU7URGg+JK3WKPuVFe/umbIZj2dubce/Rh2ofEVptDGnXxKRcWLitY5h3IifqvaJF1h1LCw/9+7r7/pobbGKIDHyq5UcmkQirkezqhfB6Iw9/7Y+/G3OcRBD4tsgCzLMACa3h+bv/n3hVLNjaWwBpaYpMoNzYWVIwURmxkDHpGw5PQ5imij1RE/e/7BOHLC/02VoD62kKsxPdnWi5TfP0UjWO53V5sL/cyfGZYgzQnhBNBc7ttjykJpqKmxYUiiCLYoiFki6HYFgANECDif2CeS3AoSdAB+v/Ovect+JobaJd+ILZThEJOuM33Tq2ZwN7djJ0eCAwth1qXaHfT+mgJM6NxkoVAW793XuC8d/mRfjW/I8mQJgWT7AImbC9CQAD/7+9qN2MUmf3/RCFm273nhgI94ECKPQIIgMvxA774AdCv0ZqAn0Y5rWlRphljVzbLVHokI8qEQQQcXeogdJBtz65gFu60orsVnG+PSnss8P+u9KBnSU+6MzBnWh3R6ln/pgeMDJxRSJATxY4pzByk5jRzkDrKHISktmQkrC8/tA0MFDznz5j7/w6Wdyxt4ZoJKiiK3cz93h+fEaCka0lgXmtTEKZdChDu69wUXGPhmDCI96IhLyMQ+IASz+/5AhjwhX8fPnCuQCJSaDc/j2U3eLX9xdzN6X1qBb0loL5DhB5kCH/o+r+YXU9I8vO78A0MKIgLIqql/X1RUIIGSKtyPy6vClVZOWmRXRgS/Bu8voGhkbGJqZk58xYsWrJsxao16zZs2rJtx649+w4c6uo5cuzEqTNXrt24defeg5w7T0Y8eDGlramloa6krKKqKK8gJi4hKUUYaNsVID6weYHgCaoIQQ1hqCMCFUQhizhkkICIJCRIQUAaZpGBOWRhHjlYQB4WUYAlFGEZJVhBGVZRgTVUoYsarKMOPTRgA03YRAu20IZtdGAHXdhFD/bQh30M4ABDOMQI+hjDESZwjCmcYAanmMM0FjCDJZxhBedYwwU2cIktDGAHV7CHazjADRzhFk5wB2dwD+fwABeQwyU8whU8wTWM4Aae4Tbups0OYAr3MIkHGMcjTOAJxvAMo3iBNl6hgzcYwjsM4wNa+IQGvqCJb8jjBwr4hSL+oIT/HcoAr5cn3yBMOjc+bZI0vJcgIi0pJGx2IUHRXroMoAglL3VQr8P99DIqgup4umVETClDsA5j6LKX4qWm+MhfSyW4q03KhH4UG10iagnNWqIYMX2h8FaoQ1iveYGgyWMg+BiB7NDfZGfkIw+burQipUgnBtkOnABG4l0qZfSexe44QrvScgJCSsAtGQy5zvrK3x4fQigd/mPp4x5fJXswh4eNfcqtrFOSLMSanW25XCqjbY4lDxi9DNGyWUJqRXXm2mDcCvfIiIwtfTQh+UBc5K4GpB3F2A4VimVucAlbr7i/0oUTW+DvuVUBGvF1I5nyvUp/wVgvVNxj313shuGdDTq1abXBSBPRzq1CmIJT/qPg/+koYUiY5q4MmFMBsF5WNCDqKGI2lE6nibM9/kvDnwWf5j1TliUD3xRzqyAk5IkAXZRtBQZoyLSLjorDMGg4mVhIBy5cywBhxlhIZ1Qg6xZllXV9zWwZ7Wmguy5vNiHEj9d3yV2za6dRz0Jrt9I93z6nYlBY5+0knOjp0i0Z7+COqn5AXpdHFHWlxKhroHZ+CdnhswCpk1aWs6tGgb4iHiy+QCg6aJmIWM86yGLIAaQjaEJoEKsgEVGuFlXmcE0ISYqYVWKq3KWgQ8+Xq4rSKRKhIo9SB2HD+/lr8uc2fifJIKEv2S/rBAbbCaNKzQy3ZCBMpQIRrcRBF65xp4rDupQQAnpdQZPVhNINDFULP9E10T0h0+xONS0GAV+0XYJTyzVZlS8CMHfD9Doc+GIzToQBrBEV9Ft5uu8/YwkBJGFn+r21H82fWw9gGPpoTW+mMKM148vLnlBQ/d8Pwz8F6ic15tTcgiR9JsqNHAUWhKqSssxVb8M7O0Z8jfr/St8xwtB/Mt0IECkv3ZqNM3sGoP/zdQDrayhitmCn0cYTEVN4sNWm2AEU3eUnWYdbuiRdEqZtq2o2g/rjzV0A8/X4SGH21tKNa2ClMQfHSm2M4fz2uQwihfW+aK2d0BDQb/WSaiMxZUoydVSIGwgJmbaCaYWQyA7NthV/Jg2Z9RjA0Gj0FwBiAI6FAO0bDHCS4sluhqK5RPFnhDp02cUYRCDmKUYVyOwtf7kTsdvQW6BMXX/wdcGyRXJJIudFtV7ejGPMUbPN8OBnRGa5SzSrWValXssOZ9IQTTvziqLZCxKXA/PHnWTEPWn81BnsszIV++nKRqojap7e77yRBUnKiPqjBeVN18xRphZXpy8Xrt37sben+vODG8ls6Rf+U4ZBBCg98zna6rwsK0qJUEuvm4omg4Ki2C+qTLONZm0q6xi2Wb0L5i1eVBO5aLsnOaK60IeJoNaRAT9kY2SfBTjMaytBGHLf987/Zoor63GQX2MuUwvCUnsAGqo6kLvocPdqqRTl/vd7TAEAYf0OHdzzyrci0VUcfbSx8+rmmcXtPXNb0+bGPlxUS5i7wCxJa7eAeFRLaspRS9D4PcPdin2wG0Zz1NKlNU/3L1i6MJUtjHDY4e9vWvdeF6ZtqO3QCC7ahsPHE+lbuvTwifXjGNqnfk+/f1Df0Kf07sDBvZsPjQeH+Owdjnn83UHxvFzp83thtpkeP41EsILZjdNoYWs3LN7pD6agiu0f1uP+4i73ycz0PP9JSwZCKP3933N0q+xqOS/7/TZd/grQgtvHas0kNGret51VqZWUoKr9toJsW4GOuhoGwcx3Ir77UN0zg0NI0BESwHefvhk+3T7Ot5DQlbgRQONDVAA8sbgFHBphA0mYCnOK1bJmeocXuUtyolmyn3n8266u2S9PIzC7hpC5kljyguAoMm0CoQ7GN04tnH3ENvv4XPslJ5mcf5gKe8+71YJRzMZi0qL/ZDLpOKqDK7JlyfFdFgCY19Ruo6j0mGWpSy/IGKCF33d3z39z7nN0lT2S3QvnDvyoZubhmJCMMiUxd6XTe0XZ5l7xrr/f9p+xKinpSvPAIfjWo5VEUGDwCzNbu6Hx4PPyzcXlqb4F8YffbkHcUwLj8BpZkMM89z0HbjZ36/t077+PN0+Uks32wILcDzv905SO2l1s9E+a9eHiocIb2/iyuTZ4a6eQCnGAsQ0Dxh95RJdwwORTnHxuJzDb1MebjYT3kvH4U148mFcG2WoSE5L0JIAAL9DzX9uUVHWFl8/8kANJhoCn/5r9DMOUo31nCh4R7GcDVAgrJuY09BQVsVPjpDPCMBl0fZecLsLp1LccQ6dWyfMiAvbTwSO5i9+jQXLeq/4zJVLM0K78GkLgLPWYrUR3x+UxBBhwjliXuiwX7+DNT9VQtZWAkHRoCGKWWvaB7p2XDq2Ge+aCQyRVuX39Vq90yCmVioqSopbDJf6V/qWZAGgUW2BkCncgG+bNr41vMI9ljMvgPtGCAQIIIoihcXfcrOsu5mW9YBOY3QGedIziDIh2RcBk9wSoDQwAHJv90jOfAlEQOeXc/R7qwBDz8MCNgJZ7gfvdD+2kijS+HL9GEJySo/uLIXgB4GKrnwzKcTolINo9/t/M6DHT6ZEzY3jkmbGsYj/BgIHVlTHTbEVhUibK1VG7OhYRdQCz0i99siXL1PBU4iPVzV2B44839Q1zy9i+YJbzeqGCedNoaNBoD0Rplz5Ij6kLDvXbCM4SzzTDdE9hN2BXance0VqfZV46zwAERwnR/kvJM4xSbSIQM/+8KF4oub44n3CGSpwXIHWnAp8WAfPNsR9uUMmMQyIvAQSNZCmtDiatNdBCTMQAuhFOVuXYdH6aDozO3kitoEkRAC4AguvbDUUjkjLT/JnxuGjdwioQZgOmmVfU/6oi8hH4H0wo0iBBTNNYkS4SmtYGAseF4XFC8D+/MvBE+tnquiRF7AlxBVt5itzfWgLC8G3zWRLVvr1e90U8aQNNCq2TXpP5dDjI8HbY5UpAh257G95TQ78l3Q61wepP1pF0MdwOz6RXcgNoTItRo+IZlZ0cEdve/rbM8e+M+OaHjAQjSe2n+/q9H/sXiNVYlpzJNxcz+gDn5RGvihx1HFUdcxzicIDMmAy+hiPOjHxjmLSWcReAHpftOQRjWGoOYLZoYcRsIdpRp7qpqw9eGnxX882Gkco2OSFCl99wf+K/pNgoocwxFM02Z9ol+9ld+/qDQ1EW+m27VJMrZ/rk9Rfmkkm15LyhednJKj3ARutNzu9WlKo1I8sFANTzszpQyfzxyU9ybDin+SJygDW0d4AywB6kspdiCwgMoCSwDAaa+RN7+tNBAGjhyZi00AifLsKb4XO8767gdj6DH+kinAvOvqtDeCN49pF3WJSVKpo2/BVaiFtCqn8JwHX/mVyakossN2ozy9tGn64sx1f9vRXZvTZYid9/feh18qte1VrBqbHS6ne3Y0RYang2U80jyJTEoDcnXBy7KqTMrH+QrvOn2XDqbsJ+1G8GviyqdklN5RlSavQSISYgVWqppNgxcCOaU9QxaNhT4xM1mMbMLjVrMkOmedze4Dfv80T8TT29Z353Qqn2kxyRRF0ilb6+uAQojGCSPzO0gNIF6f6TQ61gfqjglYKeL6NqF4ifspWfYoAg/gADTOeAR5MmACVtpmJIcDBwgJwSd0EMqflhNp4BJ8DjJRvA9xojZsjUXBUCsO6kZtrkfNeuaQs/m+FMGmhnwe4AYNrBgt8zA7NBIliyevZ2XJ82VHcad1or+cSIa04VWPw9F/vDi3Mn2J277rJC97zg4tCmGVDRiOuH38BJBObNsNxDbJTpMoOvFX/+e5bfHcmjBj3zcKCWnKeiivnie7Qneww8vcwkf4Foag6l9wmAnI9Bad3cAkPBoIgbv6+KoYK61wc7lmM48ju3Rd90MR82NWpwD0RZGSBtB/6wd0TzPdtAdDFBs4HEuIpSpGlCpnyHwFBEGe3M2dsmaFRfKo2XY7Wp3lCYszrArrw9Td2vkiq/HCR185DW+Jqw+5sUeyzy5Vvfytt9tMIHWO1u2B3d6deU6iP6KM/8aEPf5NvG1ofc0kWLBRgOzj3evInZ2LBahU5j+9yEyMvyG8hrolBTw429LomCVbnXoNayVjTFLlNZmhKNJNPs0gBjDpcpfUKqE1qoK9p+R6aarYajpTEERFsSyXE3/rbgGEnDjkqn4wRi5kz41vNQmg1D3Y4RvMkzJuklCXVgXtd4jCrVD0FXMr6/0qcI0xijlNDp1YKCy2sEiXB7BKF5TW6FFOw249mmyAwWYhUtCCOLMDo6D5xziyzTDCvxf7O18tl7g96qGfZXQtBsbn4nllvXy3peEAGhahTUIX5TKllKaqpKX6PB0/CaNVNqIknJXX5ciuVgsRUg7/B4d2RBWgryjq3ti7H8rAWpCNfRiS0iYsetDprJ2CLTWITDY0+SzzFJxdiuTmwxDjsO95iJk8A6KMbisRcWnAKx5+CD5mXY9ObGNGwAdoJyjhmUim1sxKb5hVoCSXCJUrH+2AnyWWZwikWjiZDynt8r8da1grTbQVakR6JHJKugbPITT0wlOIzArl46j7UCjSLM2UG4UN9QXND41BQWd6kLvRr/jIW0rMR/pZ/ahzIQnl9ZrYs1gr+5D//N2kpkht6vwH0RpGt/Y+9z6zHj+/mz+npp5JVpe01okCFDVBmRQmjFXTmCwtMQKI52BDKb7JsEDF9PBIlH1eAXJlR+Xv66GHfrgqs6i9WFu7xPBgiW9CtHdmsa3LqPAoSHFbYcJMA/yGH7H91eh36ZtS0vrw71Mm6bVLoO/SprW36+Cf0ye9vhsnS6F3p2xEw22+/affwDOrpFQJmJ0LjIRCvIy1uv59J3EhO4CuEaygI1jp+P/cJG7HkdZ0XzRIo37sl/DSHxz9jIcfylTlS/nEAeQ4aG0fiIfQg0TZwYVzFvIAYaXNZ7lWuPsVoZUZQsuXCi9yvq1D7kiYu1CLXE6Am+/ddCB3bhapGm7w7VWKljySFL0JbiR+hX5AR3+1foWHWNVfsoyoSr2b+zFgZRvdm+/oZK/9zaoDcVrq+HZUkzLWleCig1FVLw62cHZAOz9Xyg2KuVEbxZld4J8KiM4MpBm8JcFaPGkr9cLtfhpfoCSXp87ngjIz2VUx9J3pWSONSb49wmyY0ZGotzaZQashTp5NsxsfGRd7ApqpTEGpt8ZthQOM0kqJ7JDfQtRtcIak1pruExTjpEcs2vMpoQrPLg63XZhXk3gAz4HD9ugbCyG7brOrm5O7n4djuXdOHn8UAlSme0fv/WYHWR7C14Rz910lJldVKhj1EyIlMvF7v42q2xZeTSH79cwRikl8+/pzOKbNfY+YrRyOzk4OXkN7jE3oN9PmzLheU8xkzWQ6D/ai8UfeDh++ZAr/OxD47YkXIEdojh6jv2DY9UI2Op8d/GfB2xu8uRFicwktEu2lmq8wcxrcezQDnttc8qePQwYpUT3boKhnD4MHwlKFvlWgZv6YbKSMBaBkPo7oavBNcP8Lz6A2Y3LXnF5zCXnIPBcxJHJtWBynJl/s/3YIKnakdCIM1iN10KHhOQpEGp1e6G1W15DqvWrPFdaeXh0c8z/VAhcCgM4Y0ihFeu7lAir7sROd/t2MzGsqoquzqrqvIcQrmhVlRaIuUcV0Vt78MSrRxGvTZ0day/INgrjIi8L/ggsFfIAo5x9FCvgkN+u8toMQKdZbr69n5hIcPVcXO9Y1ccoZy1UGWLrfuRR54+PSIL0lKQR2zNy2wbtjbXpdN+JHw/TbO4m7h1xy6sqOu45NYiwXqB3O2kB08Jf0Uu2CxE/kV4+kr3OUqWob5O7i2SFykrT6NcJQfWG+fmHsyZYtdITLQUiXWEuQ1MK9b6Bw+OZIpZE1JHKxB29qCeSS4HxKp3b41WU1TDVYAuUcvUQIxoPHCgsVoQBmC2rwR4d3bJZJK518vjAUXT3PGwHMS5ApwBIZuABoBcsSEBFS9bKZwXGbjFOllFbCZesdgwL5StRMW7PNxJarPc+TBjZpzbRsy/ug2X5MWFJqXKoKfCYaspSWiwXbXgTAZmGNNmkYCtFm2QoenTSY0W+oBKjMgA1sILEunFwsP9ZgFIltcOIMFPHbVjrGdYnVT9SGOhpWjyTye27RC85TtFSyBLL7sQG4VtyLN6E6P2m6R+LdN8q2Us0tfVBrT1lPradXRnjJW4GC2/rjbRTXxxcjYFvomevGTIragOliEU9mKsxMVohVZdyzAlmIJPKHHJfW5YQljuo5CGsQCoyP89Gd/oYMuVOxY5bmmJUsnCcq1dvUdJ6dUzuztVHi88j/2kDtjkySjbVodN7qro2Op0CLMhTGuvi0qgrHCzGZiOwOteWfkXrNrw0UsTRMleEnf1OomEfdaZK41UOrzsIeay8XGncORqpXZBIQSRYjDM+GYuBRUvMIeIRf2x/sIhJ7ZijO12v8k/dc3rV6iK3RgO6cYj9zhKjiYQCF47ljeZf/iYgqaNs/vLcNNNadzgGLDsjm9KYdv77hrCmrLHikhrpYjOoIZJ6PZ0RWBFy2q/tbS2R5lSF7dEnJ9WW8/Z0D6eLHKTe99yyBdXWuK8UBD4Dp+SWOHLbPOcpdkfPIgCMuKUkOQJXRBwrAW9m7MYBmpsQJsEO4v1hScEXSyDsX3dOr+jXwUB9lEUlCDJoFauW7p/dY1mf6Hj7uc3WAibG0n0sPPnir5PWFQ75hL3pK76Y7nlFIbA5ZCIj6b7iFjx8oiTr8iDIMnpHSkxWLr97WxPV0YgcBdxHNwsbvAJ28+BplZUwAANSQ2jImmX3hzE5VGThCmJtbJvwmRJcuI6OphrJ+rrX2rsp66tfpSEPZXb99/dar5+B7NGmrVdrBANRUqPQXOUOuEX3n+4r6fC7ROjYimttNYfMepIFchIB0oneooK2I9T4CF4EhMtAp5Iqzi0PkqUbXEQnGVmIr9CObEbP9gHhVEVarnUS6kUSOUaUeglj5w+7r3ts57hBL0yIDs0GJe1NPxzvKYFmSBGe8AbPN8Bh0FxRN/2uT2HCcNRAxpv0FdwFRqmIdIS+ReahoKSNA2ByEchVSAJLXwMJ4c0sWxV2AnQUxFmcQ7qWaHJ+gh43cybVz3XPfNPgXmDWdWcgJ3050IL5hbvx0ETuczfj8TgUDImjhVkHWJIDMHaO8xwOSjSy2lUD4nHeX1F5umgnQTGhfIExQcxWuvAAHKtrpyz6dEfEDTscfFLuTYJyAgtrabsbZJ19AKhoWB9+TKHQkln12ntKEKBJlo6PfoZZ8Nlu9ssMQOZVhemcw1Y7yyp5wD8jXfW7Aq7LDFzGdlebtCdjPjqLjtqCHmZs1TtJ0rYsuhTAHJGDpWjqeorZf6mK3Dt9v55Ek0a5ortiSPcJdwRYr3lzgWxmDT8sF88QFZa1pNCyUvISvKfy09tccMUbfmxujk9ezz7nsuy3e6JEnfnuLQ1wdbiUAs0X37TNSw4qI7iH5yw7Phj2/ETimDSz6PCpUT+/ox/1NdTlwKs1BZHoGqXkiUs/L8RP6Z+dOTV+wzqrbKcCfhdlkS+I3/n0p22jrYU7tUNdTTXAIK1c5DvMVd/mwweu7JM+gWIqN75NXtq6v6Qf/xD21jUfWT9eqqwSCZQQ64Msb457Bkh0QmsFe0l3t0JPgofFCzzmbA0Evd5cNxi19NXvjdyyyxJKhBr7qsp14Yx2Hv2JLQLcUs7Q7S27pX4VfhJH/Y8yY9O2GwQequkQTRvJ2d+VWD+HxJ/SKrcr90JTLX8qlcqQfbREEvlglG5PmSzyIu/uJw63bQVJT/WkLpS7ju4oCTf8i+4CXbGfdjsLSkpuvZ/aEccs3NAf335zBpXdBE7Uq+IViqrqWgiRvzK+i2cSB1yHHruLeaOzxyfnkTbIIQSngenfqUlD4dJ9SK/KuCyn1zTDbdszoCamyFZMgwA7PFwBhxsX/xwS9mUU+Z5/bflZlB1iSsuF9udOFu8ZmyiE0Rnyh+UD+QoMWl7E9qkheMFPy2N35S6R4lecfvPQ1vFW0W34gpPiM1Ekf+SgTbKsBX/LTKww3tsQ9KG5JMEXF6TB3nD9cC487hlZla7oYuGrlEM/BpeLTAwxeSbSxwc8mR3zxItAyxst5TL5nUzVNYFNvnGKAvrbxGyzMYofragWrwQ7rgdz19Ddvyvb8eY3dDMvYc7iYC4i1vqUkZcBPwC8R4BEHanz8hIIMXUn5Unzsu2zzaKjVmlWUb7v6X2jvZ6/HrcjLh7aSHHaOdoJ632j8Kfgk59AGmvpOV7IAtOC84N4stA3H3+AcsDsr9cL5/frDY+n/etYTxzBvAQjgsVTn8BkwdRlCJY6HUzyYHB2J+yJDNzpHR05cuYsYXDs8E90ozM1bYqlWkhpEGoUctjGaeTTw4V5f281L2sYqz+3bX7iIjiq8IMBctlQUMYlS8lLeJ3jC4uTod55PaLDrQnh/dQ+qVKvqeK0Hfobh9B5UlpXc5LOHVBhg5fF4ZGXlA3Y74+wDQfrvWIdneNR6TvmF1El/wQvOXFEaCKHdXESgbUxkveBE1029Wz63Nul/rXgbXU/1cGdr1d/UT3n0fcCyveya3nLfDAINwMtwwMtMA2Hjh32jww2KLQQ61mOBPWt7bqrx2aWyE9lGk2Zy7VQPpMoHFRr9dACq+HUKA+UxM4E3ANSTPTB9MODo65upgvMNlDruuu5s4ci+AM46e8PjkhWAew9zs8Mjo+Ma0OcV/2IDvuWaCwrdiLsmdY5N0J7vlB3D0mEteKu+T5ibXrED83cMpqPVV8E3ef+r9OpPkaRpt6NC6KITWEAov+x83joGfFOHYc6ikfB3tbmk9GnxSJhhQ2YfGPaWj+ZMxETs75mJ+G376dc5qdl9B8aZITPyW7h0f8dkqrnXWabW557gi8QuIKk5uArnBdqoCMId+JYRvWd/6VWpVZjqrCvIVC289BNq7X4jhZNSAsLzV8h0/dxu/a4ImdcA1ctH9rK7EpyeYxlwUTuhMEOStADFwzsbPNsQHetwLOAqrMiljONaIrj/KjT6qKV0rY1Awlw1n7VvAnrNaJ14lMYtOUAWcscmgC0HPcPJbYQDjwA77BsuM+7VIHmQQ0NhKIuIvyZ1jLRtxAP74R3/EMOdU7AwJZN+KIuHmreGXvfeRUhxrg8je35+NC8LMJo0FoHr6tHZcnp1GiALi8Ywny8SH4OfocLiQft7md7PdwfbD++AcPZ+9Ep0FyCojKzQ+HN4FQVFo2pEG5iiJY8dYYTbie7j2S6MmLhYtKEPElmRErwmPwzGXB8mvYjgmsNCMuZnpMtcRRY13tTPeAUMhKn6jcq0vskUxNeBwoUuvmtR81utNnANS5LIi9f/6w1v1tjtD9q/V7KZlPWrZ7oIdtOHtrTzvWBDHqS+LpWeQa4sANm+2+5FDAJweHKzRS4PkJiav9JgpRB4ft/u38Yy4llNGEfKeqxv5OUI+YSmTpmRMDpyWvevzgGAqFF5ALJiHDbZlP3gs3yGvzxoSFu2SVoHMTdYvF2mdvYapg1aZE6Jy72qqmmY6fBME79DlG/heBRhivA6HQ/qEAFVRzbFcvpIMiohIp1V46ikooV/YrCy0RpZM7u0l+qjRuIMrRChyl0fU5H7GHjgE7yaPv+8RSKsWVTz7t7JafZSbua4GSJIHJ9HbF6K5a1w54aiVC7yBSu0lXu6VIEHWzexAL+LD/MI6F4XkmkSkPEPwdHfoTyOtE68AzkuvgoGsTujEtTcu20RstRdNahzHX1atdweKlQbPfI+rhkhwwNJ0XaM2EZSW81RtBCqL+eUkPwNJOaGoVrAfhLbWFTCrFBpBPs4MY8rdCOlgPXjJZ1HD6fyDn1JPAcYyJzID7xzItlJUNaTep+Ftki+mM5Pt2PGUjcFP7kL4JcO22H2qIsto1tGDc5U6UGP9tDaw5k6ySsG0vqhJk+ISukUudMh8+bi6WwEbyVZsgbXZ2bpkqATas2WBEGsCmVWhDhop8SVa2FjjONmWju3khIbAYkpVPyduBxEw2dKQcr3M2BoORv8YrzypZ2NbGY+ldSbrcRZmebpKRhCkCvX4lOwYPlrOnC9pg2T4BOqODkaEZDtnI2bA0tgqhaW6+fHmTihLK3mUvylIlALV2/qGI1Wqiy+Mn8Ww2I0OYAaA1wZFu3DYt5RgtAMnRt1rtSNSIYIUoL1mpfzVZSy9fvhfO4nG+W9/BwTJVm3Bkn/Wc85xWO+8CCn+x1RES8fP0OXwiZifGfCoFmA0WGCf2RVtmHp9I0NmabY0EgDfZkGcERlDtFRpqJUBqw4wezwRJQlNE733E6D6PCJORkiQAbY8HXbqeON0/OLC3T7+XREvQB491QVVwZ5hgPHVjzGQzbIs7PmUkpC0PG+zadJMkI93c1DW4BWCH/j9J6iwW3zh5hi12KFuskzT5f3OeB+Duwu/316/5GDOwNpk7jebHneo6U5BcAzjHrxy2EnzlPlXzIsGyF3OtV1hCWMi6cmisvOJSUwfNmVkh1rB1CAtSHVmQJg4jtz4qg3Q6SBaZAcTYZZ5j65N1CQwr8LNCwjqhyGfxw0YeRZgoTBF4LCJwLjxxm46iFlDa0pHuy4s/TBcLFFc3AopATbnwMGgYESnp4fVIxsp4VVPklRQKcGb/vZ/s8Gyk/+Be+Lmg4GaLoEXELIL3HvzW7PCMd+zv62VnTp8+nMb/xXZn+8ZfOFeLk464tfjqIg7rTtsHAVy7s+LWFYgm3mofO96z4gDuGQuZJ8fpBrY23iMQQuTq4ckgRsfr6IBedyJ4W3/w1vHhln9e+f9b2QS9bKt7Nybea0dz5ed19HUXPCrNHlUXxv9pGUlwyChghwl1dLB4+hWOLw8PvxIW33OiE4s4LgnQzK0ipsQHrxzGiTdhXTsWthDPWnh0xVXEf3CyWJElViPGwkriDFc4avmzfPaqjY1bb9UAwcV+08IZdn+7okkXizWQUF6CQRNqtl8pOVC2zfzs79bnxK5lBaMbzYHSgFJg2zPpPzkVOHXxgMxFbZf36QKqUQmnA5CetAMRgPdq8wZRVf3IGgQizuMKvwAhHkGE67ciAdwNevPgh8zxNF4x/IPbAfooFUFD+8zajxB6VsHXYRs8vI0m0jJlBcRR3XQYzZD0tgaEI4zfBe+SPsW18CtgR8MOlA7ZC3/AHwEAYJss+Ml2Kvgb4NNNj2tDeB/zvzcxrROxLC4EkjswRyFAuk8Tg+DpnZKVcJnvnGwWPf5wKgyu9qbB/4jQDr+HbTbDj7kK0Z6vEp6gYaoiAFefZZsW+NY2LHhP9Hp4BoD0phZWjRjRHglN+vYhKMrA37ilbcOtoSkUw2eg+lvUI2DYRgePeNoRGNgmFb7L6UXJKNqOPSniakiOQ21UkdyH0/87ZUvgh73ycaZl4FsL/P+6vNxfV8pmjLoLOXyQ/7GRSk39V8nyUCHyvyKT0ByvEfYtOA0e4+EfEkAKz/vq9z8ekiLGJb0SqXZGyx/ihlKjC467KNWQiOkYorixPjN4yZCVsmXIiTs1lCy67b2s5EkUiAR0Pe8MAXmfhqCsL0NI3o8+PPjXEFH1b4jKFw1Jj4n6MFKmrRnHCgUZfHN5NtEJB2EbGxP/QlsT6Y8J7/kPWmJlc9ofvXXfwVAanZRbezYLTVDJzbfdsiElaXqVDzjbd2b92+EQwnLYO8mDsUJBBt9cnpejRyccLtzGvpf+F9qaSGNm+Hn0f9AS73xz2h9T6L8znGqGrCjLrT0bEkJzmlIlN9+QgKRXS9OHN/cBZ/sug9S/HVCykJbZF8/le5yRvplq3eOoMAmSpEiTIUv8Dxh+kkCeAkVKzVa7MzQ8Mjo2PjE5NT0zOze/sLi0vLK61l3vbWxube/s7u0fHPaPjk9Oz84vLgfyEIUyVKXWaMPCIyKFHNSiE94pnKiP3G6c3QVJSe47chZv8DN/tKME9qSr9+YTFWgvkQ06/KyQaotEYoYSNCpL1RXCoaXyv5Jil0VRsDdF/hw4CTeRVM7TG8OjuoTzOLAcDztZCLGnUjl6OOMWiPygEtW4Du4a3IrCO6oWhXf1SQpGhRsDri9JdMJi/IQFKrejl464NYrrlitfWe5cYsuU6g7iWvGl9sWqBwvE9Yy3xLh5qdQb8TQ9O3dMWSlHbh22nEY5lb4ThgCTbgJ6512ZBtFMtnuvPspYKe59UIt//PgTvT8eDskVXdihbtFDJuV3Uc+G90K+Wtw82Mit8WeqRHztqQWxCnvYLEulu96JglkCKNmpdZKziCt+EknZh/BIMEBARYGO2vH8ZBPpNDehr/ppEK35UcL1tSJMF4yAChUzSilvuYQwdF+QHvNAjtPkx/pNtlbgtoJRF4zpjGPOQyqmFo9oQyWVJ78yyq4tSHCRBFy27FgTKYpTEKgpRjo1J+1BV+g4yHgnkN2dKu+U9y4aLkIqjDO9RLJUgSFHaeQBAAA=') format('woff2'),
  url('./assets/iconfont.woff?t=1616389926613') format('woff'),
  url('./assets/iconfont.ttf?t=1616389926613') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./assets/iconfont.svg?t=1616389926613#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-format-audio:before {
  content: '\e665';
}

.icon-format-pdf:before {
  content: '\e666';
}

.icon-format-ppt:before {
  content: '\e667';
}

.icon-format-excel:before {
  content: '\e668';
}

.icon-format-image:before {
  content: '\e669';
}

.icon-format-video:before {
  content: '\e66a';
}

.icon-format-word:before {
  content: '\e66b';
}

.icon-bad-signal:before {
  content: '\e66c';
}

.icon-format-unknown:before {
  content: '\e66d';
}

.icon-blank-page:before {
  content: '\e66e';
}

.icon-format-txt:before {
  content: '\e66f';
}

.icon-backward:before {
  content: '\e670';
}

.icon-camera-off:before {
  content: '\e671';
}

.icon-normal-signal:before {
  content: '\e672';
}

.icon-camera:before {
  content: '\e673';
}

.icon-delete:before {
  content: '\e674';
}

.icon-eraser:before {
  content: '\e675';
}

.icon-chat:before {
  content: '\e676';
}

.icon-follow:before {
  content: '\e677';
}

.icon-cloud:before {
  content: '\e678';
}

.icon-forward:before {
  content: '\e679';
}

.icon-good-signal:before {
  content: '\e67a';
}

.icon-hand:before {
  content: '\e67b';
}

.icon-message-off:before {
  content: '\e67c';
}

.icon-max:before {
  content: '\e67d';
}

.icon-message-on:before {
  content: '\e67e';
}

.icon-microphone-on-outline:before {
  content: '\e67f';
}

.icon-microphone-off-outline:before {
  content: '\e680';
}

.icon-triangle-down:before {
  content: '\e606';
}

.icon-more:before {
  content: '\e684';
}

.icon-pen:before {
  content: '\e685';
}

.icon-exit:before {
  content: '\e686';
}

.icon-min:before {
  content: '\e687';
}

.icon-record:before {
  content: '\e688';
}

.icon-select:before {
  content: '\e689';
}

.icon-set:before {
  content: '\e68a';
}

.icon-share-screen:before {
  content: '\e68b';
}

.icon-star-outline:before {
  content: '\e68c';
}

.icon-speaker:before {
  content: '\e68d';
}

.icon-star:before {
  content: '\e68e';
}

.icon-text:before {
  content: '\e609';
}

.icon-tools:before {
  content: '\e690';
}

.icon-whiteboard:before {
  content: '\e691';
}

.icon-zoom-out:before {
  content: '\e693';
}

.icon-zoom-in:before {
  content: '\e694';
}

.icon-microphone-off:before {
  content: '\e681';
}

.icon-microphone-on:before {
  content: '\e682';
}

.icon-register:before {
  content: '\e695';
}

.icon-hands-up:before {
  content: '\e696';
}

.icon-on-podium:before {
  content: '\e697';
}

.icon-authorized:before {
  content: '\e698';
}

.icon-hands-up-student:before {
  content: '\e699';
}

.icon-unknown-signal:before {
  content: '\e69a';
}

.icon-invite-to-podium:before {
  content: '\e692';
}

.icon-line:before {
  content: '\e69b';
}

.icon-color:before {
  content: '\e69c';
}

.icon-color::after {
  content: ' ';
  border: 1px solid transparent;
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 55px;
  position: absolute;
  top: 2px;
  left: 1px;
  opacity: 0.5;
}

.icon-square:before {
  content: '\e69d';
}

.icon-circle:before {
  content: '\e69e';
}

.icon-close:before {
  content: '\e69f';
}

.icon-checked:before {
  content: '\e6a0';
}

.icon-red-caution:before {
  content: '\e6a1';
}

.icon-kick-out:before {
  content: '\e60a';
}

.icon-laser-pointer:before {
  content: '\e60c';
}

.icon-recording:before {
  content: "\e60f";
}

.svg-icon {
  display: inline-flex;
}