/* FIXME: etxtract colors to tailwind config */

.biz-header {
  @apply bg-white;
  /* 因为 iconfont icon设计不合规无法对齐 特此 hack */
  padding: 0 15px 0 8px;
  border-top: 0px;
  border: 1px solid #ECECF1;
}

.biz-header-title-wrap {
  @apply flex items-center divide-x;
}

.biz-subtitle .line:first-child{
  padding-right: 8px;
}

.biz-header-title-wrap > div {
  padding: 0 19px;
  border-color: #d2d2e2;
}

.biz-header-title {
  color: #191919;
  font-size: 13px;
}

.header-actions {
  @apply flex;
}

.header-actions > .iconfont {
  margin-left: 27px;
  font-size: 29px;
  color: #3f5c8f;
  cursor: pointer;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply cursor-pointer;
}

/* 因为 iconfont icon设计不合规无法对齐 特此 hack */
.biz-signal-quality {
  @apply text-center;
  width: 40px;
}
.biz-signal-quality.popover-open {
}
.biz-signal-quality.excellent {
  color: #0bad69;
}

.biz-signal-quality.good {
  color: #f5b723;
}

.biz-signal-quality.bad {
  color: #f04c36;
}

.biz-signal-quality.unknown {
  color: #666;
}

.biz-signal-content-row {
  @apply flex justify-between;
}
.biz-signal-content-row.margin-top-9 {
  margin-top: 9px;
}

.biz-signal-content-row > .padding-right-27 {
  padding-right: 27px;
}

.biz-col {
  font-size: 13px;
  font-weight: 400;
}

.biz-col > label {
  color: #586376;
}

.biz-col > span {
  color: #191919;
}