.tabs-small > .tabs-nav .tabs-tab {
  padding: 8px 0;
  font-size: 14px;
}
.tabs-large > .tabs-nav .tabs-tab {
  padding: 16px 0;
  font-size: 16px;
}
.tabs-card.tabs-small > .tabs-nav .tabs-tab {
  padding: 6px 16px;
}
.tabs-card.tabs-large > .tabs-nav .tabs-tab {
  padding: 7px 16px 6px;
}
.tabs-rtl {
  direction: rtl;
}
.tabs-rtl .tabs-nav .tabs-tab {
  margin: 0 0 0 32px;
}
.tabs-rtl .tabs-nav .tabs-tab:last-of-type {
  margin-left: 0;
}
.tabs-rtl .tabs-nav .tabs-tab .anticon {
  margin-right: 0;
  margin-left: 12px;
}
.tabs-rtl .tabs-nav .tabs-tab .tabs-tab-remove {
  margin-right: 8px;
  margin-left: -4px;
}
.tabs-rtl .tabs-nav .tabs-tab .tabs-tab-remove .anticon {
  margin: 0;
}
.tabs-rtl.tabs-left > .tabs-nav {
  order: 1;
}
.tabs-rtl.tabs-left > .tabs-content-holder {
  order: 0;
}
.tabs-rtl.tabs-right > .tabs-nav {
  order: 0;
}
.tabs-rtl.tabs-right > .tabs-content-holder {
  order: 1;
}
.tabs-rtl.tabs-card.tabs-top > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-rtl.tabs-card.tabs-bottom > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-rtl.tabs-card.tabs-top > div > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-rtl.tabs-card.tabs-bottom > div > .tabs-nav .tabs-tab + .tabs-tab {
  margin-right: 0;
  margin-left: 2px;
}
.tabs-dropdown-rtl {
  direction: rtl;
}
.tabs-dropdown-rtl .tabs-dropdown-menu-item {
  text-align: right;
}
.tabs-top,
.tabs-bottom {
  flex-direction: column;
}
.tabs-top > .tabs-nav,
.tabs-bottom > .tabs-nav,
.tabs-top > div > .tabs-nav,
.tabs-bottom > div > .tabs-nav {
  /* margin: 0 0 16px 0; */
  margin: 0;
}
.tabs-top > .tabs-nav::before,
.tabs-bottom > .tabs-nav::before,
.tabs-top > div > .tabs-nav::before,
.tabs-bottom > div > .tabs-nav::before {
  @apply border-b border-solid border-divider;
  position: absolute;
  right: 0;
  left: 0;
  content: '';
}
.tabs-top > .tabs-nav .tabs-ink-bar,
.tabs-bottom > .tabs-nav .tabs-ink-bar,
.tabs-top > div > .tabs-nav .tabs-ink-bar,
.tabs-bottom > div > .tabs-nav .tabs-ink-bar {
  height: 2px;
}
.tabs-top > .tabs-nav .tabs-ink-bar-animated,
.tabs-bottom > .tabs-nav .tabs-ink-bar-animated,
.tabs-top > div > .tabs-nav .tabs-ink-bar-animated,
.tabs-bottom > div > .tabs-nav .tabs-ink-bar-animated {
  transition: width 0.3s, left 0.3s, right 0.3s;
}
.tabs-top > .tabs-nav .tabs-nav-wrap::before,
.tabs-bottom > .tabs-nav .tabs-nav-wrap::before,
.tabs-top > div > .tabs-nav .tabs-nav-wrap::before,
.tabs-bottom > div > .tabs-nav .tabs-nav-wrap::before,
.tabs-top > .tabs-nav .tabs-nav-wrap::after,
.tabs-bottom > .tabs-nav .tabs-nav-wrap::after,
.tabs-top > div > .tabs-nav .tabs-nav-wrap::after,
.tabs-bottom > div > .tabs-nav .tabs-nav-wrap::after {
  top: 0;
  bottom: 0;
  width: 30px;
}
.tabs-top > .tabs-nav .tabs-nav-wrap::before,
.tabs-bottom > .tabs-nav .tabs-nav-wrap::before,
.tabs-top > div > .tabs-nav .tabs-nav-wrap::before,
.tabs-bottom > div > .tabs-nav .tabs-nav-wrap::before {
  left: 0;
  box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
}
.tabs-top > .tabs-nav .tabs-nav-wrap::after,
.tabs-bottom > .tabs-nav .tabs-nav-wrap::after,
.tabs-top > div > .tabs-nav .tabs-nav-wrap::after,
.tabs-bottom > div > .tabs-nav .tabs-nav-wrap::after {
  right: 0;
  box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
}
.tabs-top > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-left::before,
.tabs-bottom > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-left::before,
.tabs-top > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-left::before,
.tabs-bottom > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-left::before {
  opacity: 1;
}
.tabs-top > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-right::after,
.tabs-bottom > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-right::after,
.tabs-top > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-right::after,
.tabs-bottom > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-right::after {
  opacity: 1;
}
.tabs-top > .tabs-nav::before,
.tabs-top > div > .tabs-nav::before {
  bottom: 0;
}
.tabs-top > .tabs-nav .tabs-ink-bar,
.tabs-top > div > .tabs-nav .tabs-ink-bar {
  bottom: 0;
}
.tabs-bottom > .tabs-nav,
.tabs-bottom > div > .tabs-nav {
  order: 1;
  margin-top: 16px;
  margin-bottom: 0;
}
.tabs-bottom > .tabs-nav::before,
.tabs-bottom > div > .tabs-nav::before {
  top: 0;
}
.tabs-bottom > .tabs-nav .tabs-ink-bar,
.tabs-bottom > div > .tabs-nav .tabs-ink-bar {
  top: 0;
}
.tabs-bottom > .tabs-content-holder,
.tabs-bottom > div > .tabs-content-holder {
  order: 0;
}
.tabs-left > .tabs-nav,
.tabs-right > .tabs-nav,
.tabs-left > div > .tabs-nav,
.tabs-right > div > .tabs-nav {
  flex-direction: column;
  min-width: 50px;
}
.tabs-left > .tabs-nav .tabs-tab,
.tabs-right > .tabs-nav .tabs-tab,
.tabs-left > div > .tabs-nav .tabs-tab,
.tabs-right > div > .tabs-nav .tabs-tab {
  padding: 8px 24px;
  text-align: center;
}
.tabs-left > .tabs-nav .tabs-tab-active .tabs-tab-btn,
.tabs-right > .tabs-nav .tabs-tab-active .tabs-tab-btn,
.tabs-left > div > .tabs-nav .tabs-tab-active .tabs-tab-btn,
.tabs-right > div > .tabs-nav .tabs-tab-active .tabs-tab-btn {
  font-weight: normal;
  text-shadow: 0 0 0.25px #096dd9;
}
.tabs-left > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-right > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-left > div > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-right > div > .tabs-nav .tabs-tab + .tabs-tab {
  margin: 16px 0 0 0;
}
.tabs-left > .tabs-nav .tabs-nav-wrap,
.tabs-right > .tabs-nav .tabs-nav-wrap,
.tabs-left > div > .tabs-nav .tabs-nav-wrap,
.tabs-right > div > .tabs-nav .tabs-nav-wrap {
  flex-direction: column;
}
.tabs-left > .tabs-nav .tabs-nav-wrap::before,
.tabs-right > .tabs-nav .tabs-nav-wrap::before,
.tabs-left > div > .tabs-nav .tabs-nav-wrap::before,
.tabs-right > div > .tabs-nav .tabs-nav-wrap::before,
.tabs-left > .tabs-nav .tabs-nav-wrap::after,
.tabs-right > .tabs-nav .tabs-nav-wrap::after,
.tabs-left > div > .tabs-nav .tabs-nav-wrap::after,
.tabs-right > div > .tabs-nav .tabs-nav-wrap::after {
  right: 0;
  left: 0;
  height: 30px;
}
.tabs-left > .tabs-nav .tabs-nav-wrap::before,
.tabs-right > .tabs-nav .tabs-nav-wrap::before,
.tabs-left > div > .tabs-nav .tabs-nav-wrap::before,
.tabs-right > div > .tabs-nav .tabs-nav-wrap::before {
  top: 0;
  box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
}
.tabs-left > .tabs-nav .tabs-nav-wrap::after,
.tabs-right > .tabs-nav .tabs-nav-wrap::after,
.tabs-left > div > .tabs-nav .tabs-nav-wrap::after,
.tabs-right > div > .tabs-nav .tabs-nav-wrap::after {
  bottom: 0;
  box-shadow: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}
.tabs-left > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-top::before,
.tabs-right > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-top::before,
.tabs-left > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-top::before,
.tabs-right > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-top::before {
  opacity: 1;
}
.tabs-left > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-bottom::after,
.tabs-right > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-bottom::after,
.tabs-left > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-bottom::after,
.tabs-right > div > .tabs-nav .tabs-nav-wrap.tabs-nav-wrap-ping-bottom::after {
  opacity: 1;
}
.tabs-left > .tabs-nav .tabs-ink-bar,
.tabs-right > .tabs-nav .tabs-ink-bar,
.tabs-left > div > .tabs-nav .tabs-ink-bar,
.tabs-right > div > .tabs-nav .tabs-ink-bar {
  width: 2px;
}
.tabs-left > .tabs-nav .tabs-ink-bar-animated,
.tabs-right > .tabs-nav .tabs-ink-bar-animated,
.tabs-left > div > .tabs-nav .tabs-ink-bar-animated,
.tabs-right > div > .tabs-nav .tabs-ink-bar-animated {
  transition: height 0.3s, top 0.3s;
}
.tabs-left > .tabs-nav .tabs-nav-list,
.tabs-right > .tabs-nav .tabs-nav-list,
.tabs-left > div > .tabs-nav .tabs-nav-list,
.tabs-right > div > .tabs-nav .tabs-nav-list,
.tabs-left > .tabs-nav .tabs-nav-operations,
.tabs-right > .tabs-nav .tabs-nav-operations,
.tabs-left > div > .tabs-nav .tabs-nav-operations,
.tabs-right > div > .tabs-nav .tabs-nav-operations {
  flex-direction: column;
}
.tabs-left > .tabs-nav .tabs-ink-bar,
.tabs-left > div > .tabs-nav .tabs-ink-bar {
  right: 0;
}
.tabs-left > .tabs-content-holder,
.tabs-left > div > .tabs-content-holder {
  margin-left: -1px;
  border-left: 1px solid #f0f0f0;
}
.tabs-left > .tabs-content-holder > .tabs-content > .tabs-tabpane,
.tabs-left > div > .tabs-content-holder > .tabs-content > .tabs-tabpane {
  padding-left: 24px;
}
.tabs-right > .tabs-nav,
.tabs-right > div > .tabs-nav {
  order: 1;
}
.tabs-right > .tabs-nav .tabs-ink-bar,
.tabs-right > div > .tabs-nav .tabs-ink-bar {
  left: 0;
}
.tabs-right > .tabs-content-holder,
.tabs-right > div > .tabs-content-holder {
  order: 0;
  margin-right: -1px;
  border-right: 1px solid #f0f0f0;
}
.tabs-right > .tabs-content-holder > .tabs-content > .tabs-tabpane,
.tabs-right > div > .tabs-content-holder > .tabs-content > .tabs-tabpane {
  padding-right: 24px;
}
.tabs-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #7b88a0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  display: block;
}
.tabs-dropdown-hidden {
  display: none;
}
.tabs-dropdown-menu {
  max-height: 200px;
  margin: 0;
  padding: 4px 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.tabs-dropdown-menu-item {
  display: flex;
  align-items: center;
  min-width: 120px;
  margin: 0;
  padding: 5px 12px;
  overflow: hidden;
  color: #7b88a0;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.3s;
}

.tabs-dropdown-menu-item svg {
  font-size: 22px;
  margin-right: 4px;
}

.tabs-dropdown-menu-item:hover {
  background: #f5f5f5;
}
.tabs-dropdown-menu-item-disabled,
.tabs-dropdown-menu-item-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  cursor: not-allowed;
}
.tabs-card > .tabs-nav .tabs-tab,
.tabs-card > div > .tabs-nav .tabs-tab {
  margin: 0;
  padding: 8px 15px;
  height: 34px;
  border-radius: 6px;
  border: 1px solid #ececf1;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 13px;
  font-weight: 400;
  color: #7b88a0;
}
.tabs-card > .tabs-nav .tabs-tab-active,
.tabs-card > div > .tabs-nav .tabs-tab-active {
  color: #1890ff;
  background: #fff;
}

.tabs-card > .tabs-nav .tabs-tab-active svg,
.tabs-card > div > .tabs-nav .tabs-tab-active svg {
  color: #75a7ff;
}

.tabs-card > .tabs-nav .tabs-ink-bar,
.tabs-card > div > .tabs-nav .tabs-ink-bar {
  visibility: hidden;
}
.tabs-card.tabs-top > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-card.tabs-bottom > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-card.tabs-top > div > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-card.tabs-bottom > div > .tabs-nav .tabs-tab + .tabs-tab {
  margin-left: 2px;
}
.tabs-card.tabs-top > .tabs-nav .tabs-tab,
.tabs-card.tabs-top > div > .tabs-nav .tabs-tab {
  border-radius: 6px;
}
.tabs-card.tabs-top > .tabs-nav .tabs-tab-active,
.tabs-card.tabs-top > div > .tabs-nav .tabs-tab-active {
  border-color: #9dc0ff;
}
.tabs-card.tabs-bottom > .tabs-nav .tabs-tab,
.tabs-card.tabs-bottom > div > .tabs-nav .tabs-tab {
  border-radius: 0 0 2px 2px;
}
.tabs-card.tabs-bottom > .tabs-nav .tabs-tab-active,
.tabs-card.tabs-bottom > div > .tabs-nav .tabs-tab-active {
  border-top-color: #fff;
}
.tabs-card.tabs-left > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-card.tabs-right > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-card.tabs-left > div > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-card.tabs-right > div > .tabs-nav .tabs-tab + .tabs-tab {
  margin-top: 2px;
}
.tabs-card.tabs-left > .tabs-nav .tabs-tab,
.tabs-card.tabs-left > div > .tabs-nav .tabs-tab {
  border-radius: 2px 0 0 2px;
}
.tabs-card.tabs-left > .tabs-nav .tabs-tab-active,
.tabs-card.tabs-left > div > .tabs-nav .tabs-tab-active {
  border-right-color: #fff;
}
.tabs-card.tabs-right > .tabs-nav .tabs-tab,
.tabs-card.tabs-right > div > .tabs-nav .tabs-tab {
  border-radius: 0 2px 2px 0;
}
.tabs-card.tabs-right > .tabs-nav .tabs-tab-active,
.tabs-card.tabs-right > div > .tabs-nav .tabs-tab-active {
  border-left-color: #fff;
}
.tabs-card.tabs-top > .tabs-nav::before,
.tabs-card.tabs-top > div > .tabs-nav::before {
  border-bottom: none;
}

.tabs-card .tabs-tab .tabs-tab-btn {
  @apply flex justify-center items-center;
}

.tabs-card.tabs-top > .tabs-nav .tabs-nav-list {
  background: #f9f9fc;
  border-radius: 8px;
  border: 1px solid #ececf1;
  padding: 2px;
}

.tabs {
  @apply text-level1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  display: flex;
  overflow: hidden;
}
.tabs > .tabs-nav,
.tabs > div > .tabs-nav {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
}
.tabs > .tabs-nav .tabs-nav-wrap,
.tabs > div > .tabs-nav .tabs-nav-wrap {
  position: relative;
  display: inline-block;
  display: flex;
  flex: auto;
  align-self: stretch;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(0);
}
.tabs > .tabs-nav .tabs-nav-wrap::before,
.tabs > div > .tabs-nav .tabs-nav-wrap::before,
.tabs > .tabs-nav .tabs-nav-wrap::after,
.tabs > div > .tabs-nav .tabs-nav-wrap::after {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  content: '';
  pointer-events: none;
}

.tabs > .tabs-nav .tabs-nav-list,
.tabs > div > .tabs-nav .tabs-nav-list {
  position: relative;
  display: flex;
  transition: transform 0.3s;
}
.tabs > .tabs-nav .tabs-nav-operations,
.tabs > div > .tabs-nav .tabs-nav-operations {
  display: flex;
  align-self: stretch;
}
.tabs > .tabs-nav .tabs-nav-operations-hidden,
.tabs > div > .tabs-nav .tabs-nav-operations-hidden {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
.tabs > .tabs-nav .tabs-nav-more,
.tabs > div > .tabs-nav .tabs-nav-more {
  position: relative;
  padding: 0 16px;
  background: transparent;
  border: 0;
  outline: none;
}
.tabs > .tabs-nav .tabs-nav-more::after,
.tabs > div > .tabs-nav .tabs-nav-more::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  transform: translateY(100%);
  content: '';
}
.tabs > .tabs-nav .tabs-nav-add,
.tabs > div > .tabs-nav .tabs-nav-add {
  min-width: 40px;
  padding: 0 8px;
  background: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.tabs > .tabs-nav .tabs-nav-add:hover,
.tabs > div > .tabs-nav .tabs-nav-add:hover {
  color: #40a9ff;
}
.tabs > .tabs-nav .tabs-nav-add:active,
.tabs > div > .tabs-nav .tabs-nav-add:active,
.tabs > .tabs-nav .tabs-nav-add:focus,
.tabs > div > .tabs-nav .tabs-nav-add:focus {
  color: #096dd9;
}
.tabs-extra-content {
  flex: none;
}
.tabs-centered > .tabs-nav .tabs-nav-wrap:not([class*='tabs-nav-wrap-ping']),
.tabs-centered > div > .tabs-nav .tabs-nav-wrap:not([class*='tabs-nav-wrap-ping']) {
  justify-content: center;
}
.tabs-ink-bar {
  position: absolute;
  background: #0073ff;
  pointer-events: none;
}
.tabs-tab {
  @apply text-level1;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px 0;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.tabs-tab-btn:focus,
.tabs-tab-remove:focus,
.tabs-tab-btn:active,
.tabs-tab-remove:active {
  @apply text-level1;
}
.tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
}
.tabs-tab-remove {
  @apply text-level1;

  flex: none;
  margin-right: -4px;
  margin-left: 8px;
  font-size: 12px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tabs-tab-remove .icon-close {
  position: absolute;
}
.tabs-tab-remove:hover {
  color: rgba(0, 0, 0, 0.85);
}
.tabs-tab:hover {
  @apply text-level3;
}
.tabs-tab.tabs-tab-active .tabs-tab-btn {
  font-weight: 400;
}
.tabs-tab.tabs-tab-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.tabs-tab.tabs-tab-disabled .tabs-tab-btn:focus,
.tabs-tab.tabs-tab-disabled .tabs-tab-remove:focus,
.tabs-tab.tabs-tab-disabled .tabs-tab-btn:active,
.tabs-tab.tabs-tab-disabled .tabs-tab-remove:active {
  color: rgba(0, 0, 0, 0.25);
}
.tabs-tab .tabs-tab-remove:hover {
  background-color: #cccccc;
}
.tabs-tab .tabs-tab-remove:hover svg,
.tabs-tab.tabs-tab-active .tabs-tab-remove:hover svg {
  color: #fff;
}

.tabs-tab.tabs-tab-active .tabs-tab-remove svg {
  color: #b9b9d5;
}
.tabs-tab .tabs-tab-remove {
  @apply rounded-full outline-none;
  height: 18px;
  width: 18px;
  line-height: 18px;
}
.tabs-tab .tabs-tab-remove svg {
  color: #b9b9d5;
  font-size: 18px;
  margin: 0;
}
.tabs-tab svg {
  margin-right: 4px;
  font-size: 22px;
}
.tabs-tab + .tabs-tab {
  margin: 0 0 0 30px;
}
.tabs-content {
  display: flex;
  width: 100%;
}
.tabs-content-holder {
  flex: auto;
  min-width: 0;
  min-height: 0;
}
.tabs-content-animated {
  transition: margin 0.3s;
}
.tabs-tabpane {
  flex: none;
  width: 100%;
  outline: none;
}

.tabs-slide-up-enter,
.tabs-slide-up-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.tabs-slide-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.tabs-slide-up-enter.tabs-slide-up-enter-active,
.tabs-slide-up-appear.tabs-slide-up-appear-active {
  animation-name: slideUpIn;
  animation-play-state: running;
}
.tabs-slide-up-leave.tabs-slide-up-leave-active {
  animation-name: slideUpOut;
  animation-play-state: running;
  pointer-events: none;
}
.tabs-slide-up-enter,
.tabs-slide-up-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.tabs-slide-up-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@keyframes slideUpOut {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
}

@keyframes slideUpIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.whiteboard .tabs-top {
  width: 100%;
}
.whiteboard .tabs-top .tabs-nav-list {
  overflow-x: auto;
}
.whiteboard .tabs-top .tabs-nav-operations {
  display: none !important;
}
