.top-operation-panel {
  position: relative;
  height: 48px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  z-index: 3;
  background: var(--background-dark, #151515);
}

.fcr-mobile-landscape-container .top-operation-panel {
  height: 52px; 
}

.top-operation-panel .top-operation-panel-device {
  display: inline-flex;
  justify-content: space-between;
  width: 106px;
  padding: 5px;
}

.top-operation-panel-device-item {
  background: var(--field, #FFFFFF);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 2px 1px var(--background-dark, #151515); */
  border: 1px solid var(--background-dark, #151515);
  animation: blink 1s infinite;
}

.top-operation-panel-device-mute {
  width: 38px;
  height: 38px;
  background: var(--background-dark, #151515);
  border: 1px solid var(--inverse-icon-primary, #FEFEFE);
  animation: none;
}

.top-operation-panel-camera-on {
  animation: none;
  width: 38px;
  height: 38px;
}

@keyframes blink {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 0 1px var(--head-5, #84BD00);
    ;
  }

  100% {
    box-shadow: 0 0 0 2px var(--head-5, #84BD00);

  }
}

.top-operation-panel .top-operation-panel-screen-shared,
.top-operation-panel-groupName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-operation-panel-groupName {
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: var(--inverse-text-primary, #FEFEFE);
}

.top-operation-panel .top-operation-panel-button .fcr-btn {
  background: var(--leave, #BD0101);
  height: 32px;
}

.top-operation-panel .group-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 191px;
  height: 32px;
  justify-content: flex-end;
}

.top-operation-panel .group-buttons .help-button {
  right: 105px;
  width: 80px;
  height: 32px;
  border-radius: 16px 0 0 16px;
  background: var(--text-secondary, #333333);

  font-family: PingFang HK;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;

  padding: 0 9px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--inverse-icon-primary, #FEFEFE);
  white-space: nowrap;
}

.top-operation-panel .group-buttons .help-button.active {
  /* background-color: rgba(13, 20, 51, .5) */
}

.top-operation-panel .group-buttons .help-button.active .help-button-value {
  color: rgba(255, 255, 255, 0.5);
}

.top-operation-panel .group-buttons .leave-group-button {
  display: flex;
  align-items: center;
  padding: 0 13px;
  background: var(--leave, #BD0101);
  border-radius: 0 16px 16px 0;
  justify-content: center;
  color: #fff;
  width: 111px;
  height: 32px;
  left: 80px;
  /* padding: 1px 13px 1px 13px;  */
  border-radius: 0px 16px 16px 0px;

  font-family: PingFang HK;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;

  white-space: nowrap;
}