.chat-panel {
  @apply bg-white;
  position: relative;
  flex: 1;
  border-radius: 4px;
  min-width: 300px;
  /* margin-left: 2px; */
  display: flex;
  /* @apply border-l border-gray-100; */
}

.chat-panel .tabs {
  left: 0;
  top: 0;
  flex: 1 1;
}

.message-tab {
  position: relative;
}


.chat-panel .tab-title .new-message-notice {
  display: inline-block;
  border: 1px solid #F04C36;
  width: 8px;
  height: 8px;
  background: #F04C36;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}

.message-tab .new-message-notice {
  display: inline-block;
  border: 1px solid #F04C36;
  width: 8px;
  height: 8px;
  background: #F04C36;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}

.question {
  position: relative;
}

.question .question-count {
  position: absolute;
  top: -8px;
}

.chat-panel .tabs-nav-list {
  margin-left: 25px;
}

.chat-panel .tabs-nav {
  z-index: 3;
}

.chat-header {
  @apply flex items-center justify-between;
  height: 44px;
  padding: 0 15px;
  border-bottom: 1px solid #ececf1;
}

.chat-header-title {
  font-size: 13px;
  font-weight: 400;
  color: #191919;
}

.chat-header-message-state {
  font-size: 24px;
  color: #979797;
}

.chat-notice {
  @apply flex justify-center items-center w-full;
  height: 32px;
  background: #f9f9fc;
  border: 1px solid #ececf1;
  font-size: 12px;
  font-weight: 400;
  color: #191919;
  top: 44px;
  position: absolute;
  z-index: 1;
}

.chat-notice .iconfont {
  margin-right: 5px;
  font-size: 17px;
  color: #f04c36;
}

.chat-history {
  width: 100%;
  padding-bottom: 18px;
  overflow-y: auto;
  width: 100%;
  position: absolute;
}

.chat-history>.chat-message:first-child {
  margin-top: 20px;
}

.conversation-header {
  display: flex;
  align-items: center;
  height: 64px;
}
.conversation-header>.avatar{
  background: url('../icon/assets/svg/avatar.svg') no-repeat center / 36px 36px;
    /* background: gray; */
    border-radius: 50%;
    width:36px;
    height:36px;
    position: relative;
}
.conversation-header>.name{
  color: #191919;
  font-size:13px;
  margin-left: 15px;
}

.room.chat-history {
  height: calc(100% - 120px);
}

.conversation.chat-history {
  height: calc(100% - 120px - 48px);
}


.chat-texting {
  @apply flex justify-between items-center;
  padding: 15px;
  min-height: 60px;
  width: 100%;
  background-color: #f9f9fc;
  border-radius: 18px 18px 4px 4px;
  border: 1px solid #ececf1;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.chat-texting > textarea {
  @apply w-full outline-none border-none resize-none;
  height: 20px;
  font-size: 13px;
  transition: .3s;
}

.chat-texting.focus > textarea {
  height: 50px;
  margin-top: 10px;
}

.chat-texting.focus {
  @apply flex flex-col items-end justify-end;
}

.chat-texting-message {
  @apply bg-transparent;
}

.chat-texting-message:hover,
.chat-texting-message:active,
.chat-texting-message:focus {
  @apply outline-none;
}

.no-discussion-svg, .can-discussion-svg {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url('../icon/assets/svg/icon-nodiscussion-actived.svg') no-repeat center / 24px 24px;
  cursor: pointer;
}

.can-discussion-svg {
  background: url('../icon/assets/svg/icon-nodiscussion-default.svg')
}

.stu-can-discussion-svg {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url('../icon/assets/svg/icon-stu-chat-default.svg')  no-repeat center / 24px 24px;
}

.stu-no-discussion-svg {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url('../icon/assets/svg/icon-stu-chat-mute.svg')  no-repeat center / 24px 24px;
}

.full-screen-chat {
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
}

.full-screen-chat .chat-header {
  border-top: 1px solid #ececf1;
}

.full-screen-chat .svg-icon-wrap {
  position: relative;
  left: -11px;
}

.small-class-chat.chat-panel,
.simple-chat.chat-panel{
  margin-left: 0;
  border-left: 0;
}

.simple-chat .chat-header {
  flex: 1 1;
}

.small-class-chat .chat-notice,
.simple-chat .chat-notice {
  border-top: 0;
  border-left: 0;
}

.simple-chat .chat-history{
  margin-top: 44px;
}