.chat-panel {
  @apply bg-white;
  /* width: 300px; */
  position: relative;
  flex: 1;
  border-radius: 4px;
  min-width: 300px;
}

.chat-header {
  @apply flex items-center justify-between;
  height: 44px;
  padding: 0 15px;
  border-bottom: 1px solid #ececf1;
}

.chat-header-title {
  font-size: 13px;
  font-weight: 400;
  color: #191919;
}

.chat-header-message-state {
  font-size: 24px;
  color: #979797;
}

.chat-notice {
  @apply flex justify-center items-center w-full;
  height: 32px;
  background: #f9f9fc;
  border: 1px solid #ececf1;
  font-size: 12px;
  font-weight: 400;
  color: #191919;
  top: 44px;
  position: absolute;
  z-index: 1;
}

.chat-notice .iconfont {
  margin-right: 5px;
  font-size: 17px;
  color: #f04c36;
}

.chat-history {
  width: 100%;
  height: calc(100% - 120px);
  padding-bottom: 18px;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
}

.chat-texting {
  @apply flex justify-between items-center;
  padding: 15px;
  min-height: 60px;
  width: 100%;
  background-color: #f9f9fc;
  border-radius: 18px 18px 4px 4px;
  border: 1px solid #ececf1;
  position: absolute;
  bottom: 0;
}

.chat-texting > textarea {
  @apply resize-none w-full;
}

.chat-texting.focus > textarea {
  height: 80px;
  margin-top: 10px;
}

.chat-texting.focus {
  @apply flex flex-col items-end justify-end;
}

.chat-texting-message {
  @apply bg-transparent;
}

.chat-texting-message:hover,
.chat-texting-message:active,
.chat-texting-message:focus {
  @apply outline-none;
}
