SKIP_PREFLIGHT_CHECK=true
ELECTRON_START_URL=http://localhost:3000
REACT_APP_BUILD_VERSION=TEST_APAAS_2.0.0
REACT_APP_AGORA_APP_SDK_DOMAIN=https://api.sd-rtn.com
REACT_APP_AGORA_APP_TOKEN_DOMAIN=https://api.sd-rtn.com
REACT_APP_AGORA_APP_ID=
REACT_APP_AGORA_APP_CERTIFICATE=