SKIP_PREFLIGHT_CHECK=true
ELECTRON_START_URL=http://localhost:3000
REACT_APP_BUILD_VERSION=TEST_APAAS_2.0.0
REACT_APP_AGORA_APP_SDK_DOMAIN=https://api.sd-rtn.com
REACT_APP_AGORA_APP_TOKEN_DOMAIN={ "prod_cn": "https://api-solutions.bj2.agoralab.co", "prod_ap": "https://api-solutions.sg3sbm.agoralab.co", "prod_na": "https://api-solutions.sv3sbm.agoralab.co", "prod_eu": "https://api-solutions.fr3sbm.agoralab.co" }
REACT_APP_SCENE_BUILDER_DOMAIN=https://api-solutions.bj2.agoralab.co
REACT_APP_AGORA_APP_ID=
REACT_APP_AGORA_APP_CERTIFICATE=
