dist
package-lock.json
yarn.lock
.env
*.*~
release/
*.local
build
.DS_Store
*.log
src/assets/.DS_Store
!src/assets/
node_modules
*.sh
.env.back
native_module
docs
src/stores/replay-app/*.js
fast-edu-electron-app
pkgs
