packages/agora-apaas-demo/public/bundle/bundle.js
node_modules
.env
.env-dev
.env.dev
*.txt
.DS_Store
*.sh
*.sh~
release
build
dist
.env
.env-dev
*.txt
*.ts~
*.*~
pkgs/
es
lib
*.zip
es
lib
.DS_Store
env.local
.eslintcache
lerna-debug.log
./packages/agora-log-sdk
packages/agora-log-sdk
*.zip
*.install.md
*.json.lerna_backup
packages/agora-log-module/
packages/agora-rte-demo/aclass/
package-lock.json
packages/agora-rte-demo/vendor/dev.git/
.ts.back.txt
*.ts.back.txt
*.sh
packages/agora-rte-demo/env.test.local
ManyCamSetup.exe
packages/agora-rte-demo/alcass/
packages/agora-rte-demo/aclass_app/
packages/agora-rte-demo/akasuo/
packages/agora-rte-demo/yarn-error.log
env.prod
main_land
mac
win
.log
packages/agora-edu-core/docs
packages/agora-edu-core/src/protobuf/index.*
electron_deps/
packages/agora-classroom-sdk/agoraAddonlog.txt
.env.local.yarn
.yarn/
.vscode/
.env.prod
