node_modules
.env
.env-dev
.env.dev
.env.prod
.DS_Store
release
build
dist
*.txt
es
lib
*.zip
.eslintcache
packages/agora-log-sdk
package-lock.json
*.log
packages/agora-classroom-sdk/agoraAddonlog.txt
.vscode/
