# folders
examples/
packages/
public/
src/
.storybook/
app/
release/
main_land/
build/
scripts/
icons/
dist/
node_modules/
guides/
ci/

# files
rollup.config.js
ts.base.json
ts.release.json
tsconfig.json
typedoc.json
tailwind.config.js
postcss.config.js
edu-demo-tsconfig.json
*.json

*.sh
*.sh~
.eslintcache
.eslintrc.js
.npmrc
.env
.env.*
env.example
config-overrides.js
webpack
entitlements.mac.plist
*.map
*.*~agoraAddonlog.txt
docs
Jenkinsfile_bitbucket.groovy