SKIP_PREFLIGHT_CHECK=true
ELECTRON_START_URL=http://localhost:3000
REACT_APP_AGORA_APP_SDK_LOG_SECRET=7AIsPeMJgQAppO0Z

REACT_APP_AGORA_APP_ID=<YOUR APPID>

REACT_APP_BUILD_VERSION=TEST_APAAS_1.1.0

REACT_APP_AGORA_APP_SDK_DOMAIN=https://api-test.agora.io/preview
