.bottom-col {
  position: absolute;
  bottom: 58px;
  align-items: center;
  align-self: center;
  max-height: 40px;
}

.agora-board-resources {
  @apply bg-component;
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
  border-radius: 6px;
  /* border: 1px solid #E3E3EC; */
  position: relative;
  /* overflow-y: hidden; */
}

.roster-wrap {
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
}

/* need rewrite ui. hover svg */
.agora-board-resources .icon-hover {
  height: 22px;
  width: 22px;
}

.agora-board-resources .tabs {
  overflow: auto;
}

.agora-board-resources .tabs-nav-list {
  padding-left: 24px;
}

.agora-board-resources .tabs-nav {
  @apply bg-component;
}

.agora-board-resources .rc-tabs-nav {
  @apply bg-component;
  height: 40px;
}

.agora-board-resources .rc-tabs-nav-list {
  left: 19px;
}

.agora-board-resources .rc-tabs-tab-btn {
  line-height: 20px;
  font-size: 14px;
  padding: 10px 5px;
}

.agora-board-resources .rc-tabs-tab {
  background: transparent;
}

.agora-board-resources .tabs-tab,
.agora-board-resources .tabs-tab .tabs-tab-active {
  @apply text-level1;
}
.agora-board-resources .form-checkbox {
  margin-right: 15px;
}

.agora-board-resources .custom-fix-width {
  flex: 0;
}

.cloud-wrap {
  @apply border-divider border border-solid;
}
.cloud-wrap .table-header .table-col-item,
.cloud-wrap .table-col-item {
  @apply text-level1;
}

.cloud-wrap .table-container {
  height: 453px;
}
.cloud-wrap .table-container.upload-table-container {
  height: 403px;
}

.cloud-wrap .table-container-upload .placeholder {
  position: relative;
  top: -47px;
  @apply bg-component;
}

.cloud-panel {
  @apply bg-component;
  box-sizing: border-box;
  padding: 7px 15px;
}
.cloud-wrap .table-header,
.cloud-panel .table-container {
  @apply bg-component;
}
.cloud-panel,
.cloud-panel-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cloud-panel-right {
  @apply text-level1;
}

.cloud-panel-right .input-prefix {
  position: relative;
  left: -10px;
  margin-right: -10px;
  opacity: 0.5;
}

.cloud-help-tip {
  display: flex;
  margin-bottom: 15px;
}
.cloud-help-tip > .help-tip-left {
  margin-right: 10px;
}

.cloud-btn-group {
  @apply border-t border-solid border-divider;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 20px;
}
.cloud-btn-group-right {
  display: flex;
}
.cloud-btn-group .upload-btn-group {
  display: flex;
  align-items: center;
}
.cloud-btn-group .upload-btn-group .fcr-btn:first-child {
  width: 52px;
  border-radius: 6px 0 0 6px;
  min-width: auto;
}
.cloud-btn-group .upload-btn-group .popover-inner-content {
  padding: 7px 0;
  font-size: 12px;
  color: #191919;
  font-weight: 400;
  cursor: pointer;
}
.cloud-btn-group .upload-btn-group .fcr-btn:nth-child(2) {
  border-radius: 0 6px 6px 0;
  width: 28px;
  min-width: auto;
}
.cloud-btn-group .fcr-btn {
  border-radius: 6px;
}
.cloud-minimize-container {
  min-width: 138px;
}

.cloud-minimize-container .cloud-upload-minimize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid #e3e3ec;
  cursor: pointer;
}

.cloud-minimize-container .cloud-upload-minimize .upload-minimize-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud-minimize-container .cloud-upload-minimize .upload-minimize-text {
  margin-left: 4px;
}

.cloud-more-menu {
  width: 100%;
}

.more-menu-item {
  @apply text-level1;
  width: 100%;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  cursor: pointer;
}

.more-menu-item:hover {
  @apply bg-icon-selected-color text-level1;
}

.cloud-help-title {
  @apply text-level1;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}
.cloud-upload-form-modal-form {
  width: 100%;
}
.cloud-upload-form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.cloud-upload-form-item > span {
  display: inline-block;
  color: #586376;
  font-size: 12px;
  width: 80px;
  padding-right: 5px;
  text-align: right;
}
.cloud-upload-form-item > div {
  width: 230px;
}
.cloud-upload-form-modal {
  width: 360px;
}
.cloud-upload-form-modal .fcr-btn {
  border-radius: 6px;
}
.upload-btn-group .upload-btn-popover {
  @apply text-level1 border-divider;
  padding: 0 14px;
}
