.slider .rc-slider-track {
  background-color: #0073ff;
}
.slider .rc-slider-handle {
  border-color: #0073ff;
}

.agora-slider-tooltip .rc-slider-tooltip-inner {
  position: relative;
  min-width: 50px;
  z-index: 99999;
}
