.roster-modal .modal-content {
  padding: 0 1px;
}

.student-username .roster-username {
  margin: 0;
}

.student-username>span{
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roster-table .table-row-item .table-col-item:first-child {
  flex:1;
  min-width: 0;
}

.roster-username {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.reward {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.roster-wrap .main-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  background: #f9f9fc;
  border: 0;
  outline: 0;
  /* cursor: pointer; */
  color: #191919;
  width: 100%;
  padding-left: 19px;
}

.roster-wrap {
  width: 606px;
  height: 402px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(47,65%,146%,15%);
  border-radius: 6px;
  border: 1px solid #e3e3ec;
  position: relative;
  overflow-y: hidden;
}

.roster-user-list-wrap .main-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  background: #f9f9fc;
  border: 0;
  outline: 0;
  /* cursor: pointer; */
  color: #586376;
  width: 100%;
  padding-left: 19px;
}

.roster-user-list-wrap {
  width: 350px;
  height: 402px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(47,65%,146%,15%);
  border-radius: 6px;
  border: 1px solid #e3e3ec;
  position: relative;
  overflow-y: hidden;
}

.roster-user-list-wrap .table-header {
  color: #7B88A0;
  padding-left: 0;
}

.roster-wrap .table-header {
  margin: 0;
  padding-left: 0;
}


.roster-header {
  font-size: 13px;
  color: #191919;
  padding: 11px 19px;
}

.roster-header > label {
  color: #7b88a0;
}

.roster-container {
  display:flex;
  flex-direction: column;
  height: calc(100% - 45px);
}

.roster-container .roster-table {
  flex: 1;
  min-height: 0;
}

.roster-table .table-container .table-row-item .table-col-item {
  @apply box-content;
  color: #191919;
  height: 40px;
}

.roster-table .table-container .table-row-item .iconfont {
  font-size: 22px;
}

.roster-table .muted {
  color: #f04c36;
}

.roster-table .un-muted {
  color: #0073ff;
}

.roster-table .disabled {
  color: #979797 !important;
}

.roster-table .camera-enabled,
.roster-table .mic-enabled {
  color: #0073ff;
}

.whiteboard-granted-svg, .podium-svg {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 15px;
  cursor: pointer;
}

.whiteboard-granted-svg:hover, .podium-svg:hover {
  background-color: #f0f0f7;
}

.roster-table .whiteboard-granted {
  background-image: url('../icon/assets/svg/teacher-granted-active.svg');
}

.roster-table .whiteboard-no_granted {
  background-image: url('../icon/assets/svg/teacher-granted-default.svg');
}

.roster-table .student-granted {
  background-image: url('../icon/assets/svg/student-granted-active.svg');
}

.roster-table .student-no_granted {
  background-image: url('../icon/assets/svg/student-granted-default.svg');
}

.roster-table .on-podium {
  background-image: url('../icon/assets/svg/teacher-on-podium.svg');
}

.roster-table .off-podium {
  background-image: url('../icon/assets/svg/teacher-off-podium.svg');
}

.roster-table .student-on-podium {
  background-image: url('../icon/assets/svg/student-on-podium.svg');
}

.roster-table .student-off-podium {
  background-image: url('../icon/assets/svg/student-off-podium.svg');
}

.roster-table .camera-disabled,
.roster-table .mic-disabled {
  color: #f04c36;
}

.roster-table .star {
  color: #979797;
}

.student-username {
  display: flex;
}

.roster-table .star-nums {
  color: #7b88a0;
  transform: translateY(-4px);
  position: relative;
  display: inline-block;
}

.roster-table .kick-out {
  @apply rounded-full text-center cursor-pointer inline-block;
  color: #7b88a0;
  height: 32px;
  width: 32px;
}

.roster-table .camera-enabled, .roster-table .mic-enabled {
  @apply rounded-full text-center cursor-pointer inline-block;
  height: 32px;
  width: 32px;
}

.roster-table .camera-enabled:hover, .roster-table .mic-enabled:hover {
  background-color: #e7e7f3;
}

.roster-table .inline-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roster-table .operate-status{
  color: #979797;
} 
.roster-table .un-active{
  color: #979797;
} 
.roster-table .icon-active{
  color: #0073FF;
}
.roster-table .media-un-active{
  color: #F04C36;
}
.roster-table .un-operate-status{
  color: #BDBDCA;
}

.search-teacher-name {
  height: 30px;
  display: flex;
  align-items: center;
}

.search-teacher-name label {
  color: #7B88A0;
}

.search-teacher-name .roster-username {
  margin: 0;
}

.search-header .input-search-wrapper {
  height:34px;
}

.search-header .input-search::-webkit-input-placeholder {
  font-size: 13px !important;
}

.search-header .input-search-wrapper .input-prefix {
  position: relative;
  left: -10px;
  margin-right: -10px;
  opacity: 0.5;
}
