.student-hands-up .student-box {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    @apply box-border flex justify-between items-center;
}

.hands-apply-inline-box {
    font-size: 12px;
    margin-left: 10px;
    color: #586376;
}

.students-hands-up .card {
    @apply block;
    overflow-y: auto;
}

.students-hands-up .student-item {
    width: 100%;
    padding: 5px 7px 5px 15px;
    @apply box-border flex justify-between items-center;
    height: 40px;
}

.hands-up {
    cursor: pointer;
}

.hands-up .card {
    position: relative;
}

.student-box .student-name,
.student-item .student-name {
    font-size: 13px;
    color: #191919;
}

.student-item-hands, .student-item-hands .student-name{
    color: #0073FF;
}

.operation-icon-wrap{
    background-image: url('./hands.svg');
}

.student-item-hands .operation-icon-wrap{
    background-image: url('./hands-hot.svg');
}

.operation-icon-disable{
    background-image: url('./hands-video.svg');
    pointer-events: none;
}

.student-item-hands .operation-icon-disable{
    background-image: url('./hands-video-hot.svg');
}

.students-hands-up .hands-up-card {
    min-height: 37px !important;
    height: auto !important;
    width: 210px !important;
    max-height: 290px !important;
}

.hands-up .unread-count {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #F04C36;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hands-box-line {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.received-card-enter {
    /* animation: move-card 0.8s 0.2s ease-in-out; */
    animation: change-card-bg 0.5s linear 0s infinite;
}
.received-card-enter .icon-hands-up {
    /* animation: hand-move 0.2s ease-in-out, hand-shake 0.8s 0.2s ease-in-out; */
}

.received-card-enter .icon-hands-up:before {
    animation: change-icon-content 0.5s linear 0s infinite;
}

.received-card-enter .hands-apply-inline-box {
    animation: change-student-count-color 0.5s linear 0s infinite;
}

@keyframes change-card-bg {
   from {
       background: #fff;
   } 
   to {
       background: #357BF6;
       color: #fff;
   }
}

@keyframes change-icon-content {
    from {
        content: '\e699';
        color: #357BF6;
    }
    to {
        content: '\e696';
        color: #fff;
    }
}

@keyframes change-student-count-color {
    from {
        color: #357BF6;
    } 
    to {
        color: #fff;
    }
}

@keyframes move-card{
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(7px);
    }
    50% {
        transform: translateX(-3px);
    }
    75% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes hand-move{
    0% {
        transform: translateY(10px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes hand-shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hands-up-sender {
    cursor: pointer;
}

.hands-up-sender .handtip {
    position: absolute;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: #357BF6;
    box-shadow: 0px 2px 8px 0px rgba(47, 65, 146, 0.15);
    font-size: 17px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    user-select: none;
}

.hands-up-sender .handtip-no {
    position: absolute;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: transparent;
    box-shadow: 0px 2px 8px 0px rgba(47, 65, 146, 0.15);
    font-size: 17px;
    color: transparent;
    line-height: 40px;
    text-align: center;
    user-select: none;
}

.sender-can-hover:hover {
    background-color: #357BF6;
}
.sender-can-hover:hover > i::before {
    content: '\e696';
    color: #fff;
}

.hands-up-manager:not(.can-not-hover):hover i::before {
    content: '\e696';
    color: #639AFA;
}

.operation-icon-wrap {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.operation-icon-wrap div.use-svg {
    cursor: pointer;
}

.customize-dialog-popover .popover-inner {
    border-radius: 12px;
}
