.student-hands-up .student-box {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    @apply box-border flex justify-between items-center;
}

.students-hands-up .card {
    @apply block overflow-y-scroll;
}

.students-hands-up .student-item {
    width: 100%;
    padding: 0 16px;
    @apply box-border flex justify-between items-center;
}

.hands-up .card {
    position: relative;
}

.received-card-enter {
    left: 50px;
    opacity: 0;
}

.received-card-enter-active {
    left: 0px;
    opacity: 1;
    transition: 1500ms;
}

.received-card-enter .iconfont {
    transform: rotate(45deg);
}

.received-card-enter-active .iconfont{
    transform: rotate(0deg);
    transition: 1500ms;
}

.student-box .student-name, .student-item .student-name {
    font-size: 14px;
    color: #586376;
}


.students-hands-up .hands-up-card {
    min-height: 37px !important;
    height: auto !important;
    width: 210px !important;
    max-height: 150px !important;
}

.hands-up .unread-count {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #F04C36;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hands-box-line {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}