.user {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
}

.user-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 64px;
}

.user-info {
  display: flex;
  align-items: center;
  width: auto;
  height: 48px;
}

.user-avatar {
  width: 36px;
  height: 36px;
}

.user-text {
  /* width: 43px; */
  height: 18px;
  font-size: 13px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #191919;
  line-height: 18px;
  margin: 0 20px;
}

.user-tag {
  /* display: inline-block !important; */
  /* width: 36px !important;
    height: 16px !important; */
  border-radius: 8px !important;
  opacity: 0.3 !important;
  text-align: center !important;
  /* padding: 0 !important; */
}

.teacher-tag {
  border: 1px solid #3c86f7 !important;
  color: #3c86f7 !important;
}

.student-tag {
  border: 1px solid #abb1ba !important;
}

.tag-text {
  width: 28px;
  height: 10px;
  font-size: 12px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  line-height: 10px;
}

.teacher-text {
  color: #357bf6;
}

.mute-icon {
  cursor: pointer;
}
