.pretest {
  @apply flex justify-center;
  position: relative;
}
.media-choice {
  display: flex;
}
.media-choice > .media-choice-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 23px;
}
.media-choice-box:last-child {
  margin-right: 0;
}

.pretest .select {
  font-size: 13px;
}

.pretest .pretest-left {
  width: 318px;
  transform: translateY(-5px);
}

.pretest .pretest-left .media-choice {
  transform: translateY(2px);
}

.pretest .pretest-left .device-title-text {
  transform: translateY(5px);
}

.pretest .pretest-right {
  margin-left: 40px;
}

.pretest .pretest-left .select {
  margin-bottom: 17px;
}

.pretest .device-title,
.pretest .device-text {
  @apply text-level1;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.pretest-left .device-title {
  @apply flex justify-between;
}

.pretest .device-volume {
  margin-top: 15px;
  @apply flex;
}

.pretest .device-volume .slider {
  margin-left: 6px;
  @apply flex-1;
}

.pretest .device-volume-test {
  margin-top: 10px;
  @apply flex items-center;
}

.pretest .device-choose {
  margin-bottom: 20px;
}

.pretest-error-info .error-info {
  @apply flex items-center;
}

.pretest-error-info .error-info .error-info-desc {
  margin-left: 6px;
  font-size: 12px;
  font-weight: 400;
  color: #586376;
}

.select-section {
  position: relative;
}

.select-section .popover-section {
  position: absolute;
  width: 100%;
  top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.pretest-video-wrap {
  position: relative;
  width: 320px;
  height: 180px;
  overflow: hidden;
  border-radius: 4px;
}

.pretest-toast {
  position: absolute;
  top: 26px;
  width: 100%;
}

@keyframes move-top {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.popover-transition-enter {
  animation: 2.5s ease-in-out 0s 1 forwards running move-top;
}

.popover-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 29px;
  background: #ffffff;
  filter: drop-shadow(0px 1.5px 3px rgb(47 65 146 / 15%));
  border: 1px solid #e1e1ea;
  font-size: 12px;
  color: #191919;
  line-height: 14px;
  border-radius: 4px;
  letter-spacing: -0.41px;
}

.popover-notice:after {
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -10px;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  z-index: 2;
}

.popover-notice:before {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e1e1ea;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -10px;
  z-index: 2;
}

.beauty-operation-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 4px 4px;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
}
.beauty-operation-top {
  display: flex;
  width: 80%;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}
.beauty-operation-top .slider {
  width: 100%;
}
.beauty-operation-top .beauty-show-number {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

.beauty-operation-bottom {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.beauty-operation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.beauty-operation-item .operation-item-desc {
  margin-left: 4px;
  font-size: 12px;
  color: #ffffff;
}

.beauty-bar {
  display: flex;
  width: 100%;
  height: 22px;
  padding: 0 12px;
  background-color: transparent;
  flex-direction: row;
  transform: translate3d(0, -30px, 0);
}

.beauty-bar-animate-enter {
  transform: translate3d(0, 0px, 0);
}
.beauty-bar-animate-enter-active {
  transform: translate3d(0, -30px, 0);
  transition: transform 300ms;
}
.beauty-bar-animate-exit {
  transform: translate3d(0, -30px, 0);
}
.beauty-bar-animate-exit-active {
  transform: translate3d(0, 0px, 0);
  transition: transform 300ms;
}

.beauty-bar-left {
  display: flex;
  flex: 1;
}
.beauty-type-icon {
  margin-right: 15px;
}
.beauty-type-icon:last-child {
  margin-right: 0;
}
.beauty-type-icon {
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.beauty-bar-right {
  width: 150px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.3);
}
.beauty-bar-silder {
  flex: 1;
}
.beauty-bar-silder .rc-slider-rail {
  background-color: rgba(255, 255, 255, 0.3);
}
.beauty-bar-silder .rc-slider-track {
  background-color: rgba(255, 255, 255);
}
.beauty-bar-silder .rc-slider-step,
.beauty-bar-silder .rc-slider-rail,
.beauty-bar-silder .rc-slider-track {
  height: 2px;
}
.beauty-bar-silder .rc-slider-handle {
  width: 11px;
  height: 11px;
  border-color: transparent;
}
.beauty-bar-silder .rc-slider-handle:active {
  border-color: transparent;
  box-shadow: none;
}
.beauty-show-number {
  margin-left: 6px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

.beauty-tooltip {
  color: #fff;
}
.test-speaker {
  @apply border-divider border border-solid;
  display: flex;
  padding: 0 10px;
  min-width: 110px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
.test-speakering-icon {
  height: 22px;
  width: 22px;
  background: url(./assets/test-speakering.png) no-repeat center;
  background-size: cover;
}
.test-btn {
  font-size: 12px;
  font-weight: 400;
  color: #357bf6;
}
