.icon-assistant-authorized.assistant-authorized {
  background-image: url('./assets/svg/teacher-granted-active.svg');
}
.icon-teacher-authorized.teacher-authorized {
  background-image: url('./assets/svg/teacher-granted-active.svg');
}
.icon-teacher-whiteboard.teacher-whiteboard {
  background-image: url('./assets/svg/teacher-granted-default.svg');
}
.icon-student-authorized.student-authorized {
  background-image: url('./assets/svg/student-granted-active.svg');
}
.icon-student-whiteboard.student-whiteboard {
  background-image: url('./assets/svg/student-granted-default.svg');
}

.icon-recording.recording {
  background-image: url('./assets/svg/recording.svg');
}
.icon-share-screen.share-screen {
  background-image: url('./assets/svg/share-screen.svg');
}
.icon-checked.checked {
  background-image: url('./assets/svg/icon-accept.svg');
}
.icon-close.close {
  background-image: url('./assets/svg/icon-refuse.svg');
}
.icon-countdown.countdown {
  background-image: url('./assets/svg/icon-countdown.svg');
}
.icon-answer.answer {
  background-image: url('./assets/svg/icon-answer.svg');
}
.icon-vote.vote {
  background-image: url('./assets/svg/icon-vote.svg');
}
.icon-whitening.whitening {
  background-image: url('./assets/svg/whitening.svg');
}
.icon-buffing.buffing {
  background-image: url('./assets/svg/buffing.svg');
}
.icon-ruddy.ruddy {
  background-image: url('./assets/svg/ruddy.svg');
}
.icon-board-grant-disabled {
  background-image: url('./assets/svg/board-grant-disabled.svg');
  background-size: 100%;
}
.icon-board-granted {
  background-image: url('./assets/svg/board-granted.svg');
  background-size: 100%;
}

.icon-board-not-granted {
  background-image: url('./assets/svg/board-not-granted.svg');
  background-size: 100%;
}

.icon-camera-disabled {
  background-image: url('./assets/svg/camera-disabled.svg');
  background-size: 100%;
}

.icon-camera-enabled {
  background-image: url('./assets/svg/camera-enabled.svg');
  background-size: 100%;
}
.icon-camera-inactive {
  background-image: url('./assets/svg/camera-inactive.svg');
  background-size: 100%;
}
.icon-camera-forbidden {
  background-image: url('./assets/svg/camera-forbidden.svg');
  background-size: 100%;
}
.icon-kick-out {
  background-image: url('./assets/svg/kick-out.svg');
  background-size: 100%;
}
.icon-kick-out-hover {
  background-image: url('./assets/svg/kick-out-hover.svg');
  background-size: 100%;
}
.icon-mic-disabled {
  background-image: url('./assets/svg/mic-disabled.svg');
  background-size: 100%;
}
.icon-mic-enabled {
  background-image: url('./assets/svg/mic-enabled.svg');
  background-size: 100%;
}
.icon-mic-inactive {
  background-image: url('./assets/svg/mic-inactive.svg');
  background-size: 100%;
}
.icon-mic-forbidden {
  background-image: url('./assets/svg/mic-forbidden.svg');
  background-size: 100%;
}
.icon-not-on-podium {
  background-image: url('./assets/svg/not-on-podium.svg');
  background-size: 100%;
}
.icon-on-podium {
  background-image: url('./assets/svg/on-podium.svg');
  background-size: 100%;
}
.icon-reward {
  background-image: url('./assets/svg/reward.svg');
  background-size: 100%;
}
.icon-reward-hover {
  background-image: url('./assets/svg/reward-hover.svg');
  background-size: 100%;
}

.icon-stream-camera-disabled {
  background-image: url('./assets/svg/stream-camera-disabled.svg');
  background-size: 100%;
}
.icon-stream-camera-enabled {
  background-image: url('./assets/svg/stream-camera-enabled.svg');
  background-size: 100%;
}
.icon-stream-camera-inactive {
  background-image: url('./assets/svg/stream-camera-inactive.svg');
  background-size: 100%;
}
.icon-stream-mic-disabled {
  background-image: url('./assets/svg/stream-mic-disabled.svg');
  background-size: 100%;
}
.icon-stream-mic-enabled {
  background-image: url('./assets/svg/stream-mic-enabled.svg');
  background-size: 100%;
}
.icon-stream-mic-inactive {
  background-image: url('./assets/svg/stream-mic-inactive.svg');
  background-size: 100%;
}

.icon-whitening {
  background-image: url('./assets/svg/whitening.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-whitening:hover {
  background-image: url('./assets/svg/whitening-hover.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-whitening-active {
  background-image: url('./assets/svg/whitening-active.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-buffing {
  background-image: url('./assets/svg/buffing.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-buffing-active {
  background-image: url('./assets/svg/buffing-active.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-buffing:hover {
  background-image: url('./assets/svg/buffing-hover.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-ruddy {
  background-image: url('./assets/svg/ruddy.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-ruddy-active {
  background-image: url('./assets/svg/ruddy-active.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-ruddy:hover {
  background-image: url('./assets/svg/ruddy-hover.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-search-zoom-in {
  background-image: url('./assets/svg/zoom-in.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-search-zoom-out {
  background-image: url('./assets/svg/zoom-out.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-zoom-in-gray {
  background-image: url('./assets/svg/zoom-in-gary.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-zoom-out-gray {
  background-image: url('./assets/svg/zoom-out-gary.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-test-speaker {
  background-image: url('./assets/svg/test-speaker.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-stream-window-off {
  background-image: url('./assets/svg/stream-window-off.svg');
  background-size: 100%;
}
.icon-stream-window-on {
  background-image: url('./assets/svg/stream-window-on.svg');
  background-size: 100%;
}
.icon-ghost-camera-on {
  background-image: url('./assets/svg/ghost-camera-on.svg');
  background-size: 100%;
}
.icon-ghost-camera-off {
  background-image: url('./assets/svg/ghost-camera-off.svg');
  background-size: 100%;
}
.icon-ghost-mic-on {
  background-image: url('./assets/svg/ghost-mic-on.svg');
  background-size: 100%;
}
.icon-ghost-mic-off {
  background-image: url('./assets/svg/ghost-mic-off.svg');
  background-size: 100%;
}
