.btn {
  @apply cursor-pointer text-base rounded-full;
}

.btn-primary {
  @apply text-white bg-primary;
  @apply hover:bg-primary-hover;
  @apply active:bg-primary-active;
}

.btn-danger {
  @apply text-danger bg-white border-danger border;
}

.btn-danger:hover {
  @apply text-danger-hover border-danger-hover;
}

.btn-danger:active {
  @apply text-danger-active border-danger-active;
}

.btn-secondary {
  @apply text-secondary bg-white border-secondary border;
}

.btn-secondary:hover {
  @apply text-secondary-hover bg-white border-secondary-hover border;
}

.btn-secondary:active {
  @apply text-secondary-active bg-white border-secondary-active border;
}

.btn-ghost {
  @apply text-ghost bg-white border-secondary border;
}

.btn-ghost:hover {
  @apply text-secondary-hover bg-white border-secondary-hover border;
}

.btn-ghost:active {
  @apply text-secondary-active bg-white border-secondary-active border;
}

.btn-sm {
  width: 80px;
  height: 30px;
  font-size: 14px;
}

.btn-lg {
  width: 280px;
  height: 40px;
  font-size: 16px;
}

.btn:focus {
  @apply outline-none;
}

.btn[disabled] {
  @apply disabled:opacity-50 pointer-events-none;
}

.btn.btn-sm[disabled] {
  background-color: #FFFFFF;
  border: 1px solid #C2C2C8; 
  color: #C2C2C8;
}