.home-form .table-row-item .table-col-item:first-child {
  flex: 50px 0;
}

.facade {
  gap: 10px;
}

.home-page {
  width: 100vw;
  height: 100vh;
  background: #F9F9FC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facade .table-flex-container {
  width: 380px;
  height: 500px;
  box-sizing: border-box;
}

.home-form {
  color: #586376;
  font-size: 14px;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.home-form .table-row-item {
  width: 280px;
  background-color: #F9F9FC;
}

.home-form .select {
  width: 211px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #C4C4DC;
  border-style: none !important;
}

.home-form input {
  width: 211px;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  @apply outline-white;
  /* border-radius: 4px; */
  /* border: 1px solid #C4C4DC; */
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F9F9FC;
}