.home {
  @apply bg-cover flex  w-screen h-screen;
  background-image: url('../../assets/home-background.jpg');
  min-width: 1300px;
  overflow-x: auto;
}

/* --- left --- */
.home-left {
  color: #fff;
  width: 42.5vw;
  height: 100%;
  overflow: hidden;
  padding: 25px 47px;
  font-family: 'Montserrat Roboto';
  font-style: normal;
  background-image: url('../../assets/home-left-bg-icon.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  position: relative;
}

.home-left::before {
  @apply block left-0 top-0 w-full h-full absolute;
  content: '';
  background: linear-gradient(190.08deg, rgba(95, 72, 238, 0) 0%, rgb(0 0 0 / 75%) 99.44%);
  opacity: 0.5;
}

.home-left header {
  font-weight: 800;
  font-size: 20px;
}

.home-left .logo {
  @apply flex items-center;
  width: 250px;
  height: 30px;
  margin-right: 20px;
  background-size: auto 30px;
  background-repeat: no-repeat;
  background-position: left;
}

.home-left .logo.en {
  background-image: url('@/app/assets/logo-en.png');
}

.home-left .logo.zh {
  background-image: url('@/app/assets/logo-zh.png');
}

.home-left .text {
  margin-top: 19vh;
  margin-left: 13px;
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  line-height: 2.14;
  /* fcr-white */
  color: #ffffff;
}

/* --- right --- */
.home-right {
  font-family: 'Montserrat Roboto';
  position: relative;
  overflow: hidden;
}

.home-right::before {
  @apply absolute top-0 left-0 w-full h-full;
  content: '';
  /* fcr-light-web background1 */
  background: rgb(248 248 248 / 98%);
  opacity: 0.98;
  /* fcr-card trans */
  backdrop-filter: blur(50px);
}
.ant-spin-nested-loading > div > .ant-spin.home-loading-container {
  max-height: 100%;
}
