.dialog-progress-container {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  line-height: 1.5715;
  list-style: none;
  position: fixed;
  top: 45%;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
  text-align: center;
}
.dialog-progress-item {
  padding: 30px 25px;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
  border-radius: 12px;
  pointer-events: all;
  display: inline-block;
}

.dialog-progress-tip {
  font-size: 13px;
  font-weight: 400;
  color: #191919;
  margin-bottom: 20px;
}
.progress-percentage {
  font-size: 18px;
  color: #357bf6;
  line-height: 22px;
}
