.layout {
  @apply flex;
  background: #F9F9FC;
}

.layout-row {
  @apply flex-row;
}

.layout-col {
  @apply flex-col;
}

.layout-content {
  @apply flex flex-row flex-1 h-full;
  position: relative;
}

.layout-header {
  @apply flex flex-row justify-between items-center border-b border-gray-100 w-full;
  height: 44px;
}

.layout-aside {
  @apply flex flex-col border-l border-gray-100 h-full;
  /* width: 19rem; */
  min-width: 18rem;
  border-left: none;
  @apply overflow-hidden;
  gap: 4px;
  transform: translateX(2px);
}
