.courseMenuTopArea {
  margin-top: 39px;
}

.courseMenu{
  // height: 45px;
  margin-bottom: 5px;
  font-size: 16px;
  overflow-y: scroll;
  display: flex;
  // white-space: nowrap;
  width: calc(100% - 6px);
  color: white;
  height: 30px;
  position: absolute;
  // overflow: auto;
  // overflow-x: hidden;
  .active{
    background-color: #303f9f;
  }
  .courseMenuItem{
    font-size: 12px !important;
    margin:0px 2px !important;
    .MuiButton-Label {
      color: white;
    }
  }

  .menuButton {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .title {
      max-width: 110px;
      /* width: 110px; */
      word-break: break-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    cursor: pointer;
    border-radius: 8px;
    height: 26px;
    font-weight: bold;
    font-size: 14px !important;
    margin: 0px 2px !important;
    color: white;
    position: relative;
    padding: 2px 10px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    background-color: #303f9f;
    justify-content: center;
    &:hover {
      background: #5571FF;
      color: white;
    }

    & .active {
      background: #5571FF;
      color: white;
    }
    & .MuiIconButton-root {
      background: #5571FF;
      color: white;
    }
  }
}

.active {
  background: #5571FF !important;
  color: white !important;
}