.fcr-layout {
  @apply fcr-flex;
  padding-top: calc(env(safe-area-inset-top) * var(--multiple));
  padding-bottom: calc(env(safe-area-inset-bottom) * var(--multiple));
  padding-left: calc(env(safe-area-inset-left) * var(--multiple));
  padding-right: calc(env(safe-area-inset-right) * var(--multiple));
}

.fcr-layout-row {
  @apply fcr-flex-col;
}

.fcr-layout-col {
  @apply fcr-flex-col;
}

.fcr-layout-col-reverse {
  @apply fcr-flex-col-reverse;
}

.fcr-layout-content {
  @apply fcr-flex fcr-flex-row fcr-flex-1 fcr-h-full;
  position: relative;
  width: 0;
}

.fcr-layout-header {
  @apply fcr-flex fcr-flex-row fcr-justify-center fcr-items-center fcr-w-full;
  flex: 0 0 27px;
}

.fcr-layout-aside {
  @apply fcr-flex fcr-flex-col fcr-border-l fcr-border-divider fcr-h-full fcr-overflow-hidden;
  /* width: 19rem; */
  border-left: none;
  gap: 4px;
  margin-left: 2px;
  position: relative;
  z-index: 3;
  flex-shrink: 0;
}