.setting .select {
    font-size: 13px;
}

.setting .device-choose {
    margin-bottom: 30px;
}
.setting .device-title, .setting .device-text, .setting .beauty-text{
    font-size: 12px;
    font-weight: 400;
    color: #586376;
    margin-bottom: 10px;
}

.en .setting .beauty-text {
    width: 55px;
}

.setting .device-volume, .setting .beauty-value {
    margin-top: 15px;
    @apply flex;
}

.setting .device-volume .slider, .setting .beauty-value .slider{
    margin-left: 6px;
    @apply flex-1;
}

.setting .beauty-show-number {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #586376;
}


