.toolbar {
  height: 100%;
  @apply bg-component;
}

.toolbar.opened {
  width: 38px;
  box-shadow: 0px 2px 8px 0px rgba(47, 65, 146, 0.15);
  border-radius: 21px;
  height: 100%;
  overflow: hidden;
}

.toolbar .menu {
  @apply flex justify-center items-center cursor-pointer;
  transform: translateX(-2px);
  padding: 0;
  position: absolute;
  width: 32px;
  height: 66px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}

.toolbar .menu.fold {
  opacity: 1;
}

.toolbar .menu.unfold {
  opacity: 0;
}

.toolbar:hover .menu.unfold {
  opacity: 1;
}

.toolbar > .tools {
  @apply hidden;
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: none;
}

.toolbar > .tools::-webkit-scrollbar {
  width: 0;
}

.toolbar.opened > .tools {
  @apply flex flex-col items-center;
}

.toolbar-shadow {
  @apply bg-background;
  bottom: -2px;
  position: absolute;
  height: 20px;
  width: 100%;
  border-radius: 0 0 21px 21px;
  box-shadow: 0px -4px 6px 0px rgb(47 65 146 / 15%);
}

.toolbar-shadow-up {
  @apply bg-background;
  top: -2px;
  position: absolute;
  height: 20px;
  width: 100%;
  border-radius: 21px 21px 0 0;
  box-shadow: 0px 4px 6px 0px rgb(47 65 146 / 15%);
}

.toolbar-shadow.hidden {
  box-shadow: none;
  display: none;
}

.circle-border {
  border-radius: 50%;
  border: 1px solid;
  margin: 4px;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool .circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.tool {
  @apply cursor-pointer text-center relative;
  height: 25px;
  width: 29px;
  line-height: 1;
  margin-bottom: 10px;
  color: #7b88a0;
}

.toolbar.opened .tools .tool:first-child {
  margin-top: 14px;
}

.toolbar.opened .tools .tool:last-child {
  margin-bottom: 14px;
}

.tool .triangle-icon {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.tool .expandable {
  @apply absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  color: #7b88a0;
}

/* .active {
  color: #357bf6 !important;
} */

.tool.expand,
.tool:hover {
  @apply rounded-full bg-component;
}

.tool > svg {
  font-size: 28px;
}

.expand-tools {
  @apply flex flex-row items-center flex-wrap;
}

.expand-tools.colors {
  width: 140px;
}

.expand-tool {
  @apply flex flex-col items-center  cursor-pointer;
}

.expand-tool.color {
  @apply flex justify-center items-center rounded-full;
  height: 22px;
  width: 22px;
  margin: 6px 8px;
}

/* 1 5 9 */
.expand-tool.color:nth-child(4n + 1) {
  margin-left: 0;
}
/* 4 8 12 */
.expand-tool.color:nth-child(4n + 0) {
  margin-right: 0;
}

.expand-tool.color > .circle {
  @apply rounded-full;
  height: 18px;
  width: 18px;
}

.expand-tool > svg {
  font-size: 26px;
  color: #7b88a0;
}

.expand-tool > .active {
  color: #357bf6;
}

.expand-tool > .active-indicator {
  @apply rounded-full;
  width: 3px;
  height: 3px;
  background: #868f9f;
}

.expand-tool.toolkit {
  margin-right: 0px;
}

.expand-tool > .label {
  color: #7b88a0;
  font-size: 12px;
}

.expand-tools-popover .popover-inner-content {
  padding: 9px 10px;
}
.expand-tools-popover-board-cleaner .popover-inner-content {
  padding: 2px 2px;
}
.expand-tool .current-pen {
  background: #357bf6;
}

.expand-tools.tool-cabinet {
  max-width: 300px;
}

.expand-tools .cabinet-item {
  width: 100px;
  height: 78px;
  color: #7b88a0;
  @apply flex flex-col justify-center items-center cursor-pointer float-left;
}
.expand-tools .cleaner-item {
  width: 30px;
  height: 30px;
  color: #7b88a0;
  @apply flex flex-col justify-center items-center cursor-pointer float-left;
}
.expand-tools .slice-item {
  width: 70px;
  color: #7b88a0;
  @apply flex flex-col justify-center items-center cursor-pointer float-left;
}
.expand-tools .slice-item .slice-item-icon {
  width: 40px;
  height: 40px;
  @apply flex  justify-center items-center cursor-pointer;
}
.expand-tools .cabinet-item img,
.expand-tools .cleaner-item img,
.expand-tools .slice-item img {
  position: relative;
  left: 0;
  vertical-align: middle;
}

.expand-tools .cabinet-item img + span {
  position: relative;
  top: 5px;
}

.expand-tools .cabinet-item:hover,
.expand-tools .cleaner-item:hover,
.expand-tools .slice-item:hover {
  @apply bg-icon-selected-color text-level1;
}

.customize-dialog-popover .popover-inner-content {
  padding-left: 10px;
  display: inline-flex;
  border: none;
  background: transparent;
  padding: 0;
}

.customize-dialog-popover > .popover-content > .popover-arrow {
  display: none;
}

.toolbar-position {
  position: absolute;
  right: 10px;
  top: 50%;
  /* bottom: 0; */
  transform: translate(0, -50%);
  margin: auto;
  /* height: calc(100% - 92px - 5rem); */
  z-index: 3;
}

.toolbar-anim-hide {
  animation: 0.5s toolbarAnimHide linear 1 forwards;
}

.toolbar-anim-show {
  animation: 0.5s toolbarAnimShow linear 1 forwards;
}

@keyframes toolbarAnimHide {
  0% {
    right: 15px;
  }
  50% {
    right: -60px;
  }
  100% {
    right: 0px;
  }
}

@keyframes toolbarAnimShow {
  0% {
    right: 0px;
  }
  50% {
    right: -60px;
  }
  100% {
    right: 15px;
  }
}

.translated-tooltip {
  /* left: 40px !important; */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.pens-colors-line {
  width: 100%;
  height: 1px;
  background: #ececf1;
  margin: 12px 0;
}

.tool.undo-disabled,
.tool.redo-disabled,
.tool.undo-disabled path,
.tool.redo-disabled path,
.tool.undo-disabled:hover path,
.tool.redo-disabled:hover path {
  fill: rgb(226, 226, 238);
}

.tool.undo path,
.tool.redo path {
  fill: rgb(123, 136, 160);
}

.tool.undo:hover path,
.tool.redo:hover path {
  fill: #0073ff;
}

.expand-tools .rc-slider-handle {
  box-shadow: 0px 3px 8px 0px rgb(47 65 146 / 15%) !important;
  border-color: #fff !important;
  background-color: #0073ff;
  width: 16px;
  height: 16px;
  border-width: 4px;
}

.tool-cabinet-popover .popover-arrow {
  @apply border-r border-t border-solid border-divider;
}

.tool-cabinet-popover .popover-inner {
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
}

.tool-cabinet-popover .popover-inner-content {
  @apply border border-solid border-divider;
  padding: 0;
}
.tool-cabinet-popover .cabinet-item {
  position: relative;
}

.cabinet-item:not(.cabinet-item-last) {
  @apply border-b border-solid border-divider;
}

/* 3 6 9 */
.cabinet-item:not(:nth-child(3n)) {
  @apply border-r border-solid border-divider;
}
