.chat-board {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  .menu {
    pointer-events: auto !important;
    max-height: 45px;
    min-height: 45px;
    flex: 1;
    user-select: none;
    .message-count {
      background-color: red;
      border-radius: 25px;
      font-size: 9px;
      line-height: 11px;
      color: white;
      position: absolute;
      top: 11px;
      padding: 1px 2.5px;
      right: 15px;
    }
    .message-count.zh-CN {
      right: 23px;
      top: 9px;
    }
  }
  .message-panel {
    display: flex;
    // margin-top: 10px;
    margin: 10px;
    position: relative;
  }
  .chat-messages-container {
    flex: 1;
    position: relative;
  }
  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .message-panel {
      display: flex;
      // margin-top: 10px;
      margin: 10px;
      position: relative;
    }
    .chat-messages-container {
      flex: 1;
      position: relative;
    }
    &.hide {
      display: none;
    }
  }
  
  .student-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    &.hide {
      display: none;
    }
  }
}

.MuiButtonBase-root.chat-panel-btn {
  right: 0px;
  position: absolute;
  line-height: 15px;
  margin-left: 7px;
  text-transform: none;
  width: 64px;
  height: 34px;
  border-radius: 22px;
  background: #44A2FC;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    background: #82C2FF;
  }
}

.chat-board {
  position: relative;
  .chat-roomname {
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 2px solid #DBE2E5;
    box-sizing: border-box;
    width:96px;
    height:16px;
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height:16px;
    max-width: 280px;
    min-width: 280px;
    max-height:47px;
    min-height:47px;
    background:rgba(255,255,255,1);
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #eeeeee;
    font-size: 14px;
    line-height: 16px;
    color: #666666;

    .item {
      position: relative;
      padding: 14px 16px;
      cursor: pointer;
      min-width: 85px;
      text-align: center;
    }

    .sub-menu {
      flex: 1;
    }

    .sub-menu-back {
      position: absolute;
      background-size: cover;
      background-image: url('../../assets/back.png');
      width: 1rem;
      height: 1rem;
      display: flex;
    }

    .active {
      color: #44A2FC;
      border-bottom: 2px solid #44A2FC;
    }
  }

  .message-panel {
    .icon {
      width: 34px;
      height: 34px;
      margin-right: 5px;
    }

    .message-input {
      flex: 1;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      padding-left: 10px;
      max-height: 34px;
      min-height: 34px;
      background: #F2F4F5;
      border-radius: 17px;
      box-sizing: border-box;
      .MuiInput-input {
        padding-right: 66px;
      }
    }
  }
}