.select {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #C4C4DC;
    cursor: pointer;
}

.select .rc-select-selector {
    height: 100%;
    padding-left: 15px;
    @apply box-border flex items-center;
}

.select .rc-select-selection-search {
    display: none;
}

.select .rc-select-selection-placeholder {
    color: #8A8A9A;
    font-size: 14px;
}

.select:hover {
    border-color: #357BF6;
}

.select-middle {
    width: 320px;
}

.select-dropdown {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #E2E2F0;
    z-index: 990;
}

.select-dropdown .rc-select-item-option-state {
    display: none;
}

.select-dropdown .rc-select-item-option {
    @apply box-border;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.select-dropdown .rc-select-item-option[aria-selected=true] .rc-select-item-option-content {
    color: #357BF6;
}

.select-dropdown .rc-select-item-option-content {
    font-size: 14px;
    font-weight: 400;
    color: #586376;
}

.select-dropdown .rc-select-item-option:hover {
    background-color: #F9F9FC;
    color: #191919;
}

.select-dropdown.rc-select-dropdown-hidden {
    display: none;
}