.register-container {
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
  border-radius: 6px;
  border: 1px solid #E3E3EC;
}

.register-header {
  width: 100%;
}

.register-line {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: .5px solid #EEEEF7;
}

.register-list {
  height: 302px;
  background: #FFFFFF;
  overflow-y: scroll;
}

.title-font {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #191919;
  line-height: 20px;
}

.register-table-column {
  min-width: 86px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: .5px solid #EEEEF7;
}

.name-text {
  color: #191919;
  font-size: 13px;
}

.title-text {
  font-weight: 400;
  color: #7B88A0;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
}

.mar-22 {
  margin-left: 22px;
}

.bacg-color {
  background-color: #f8f8fc;
}

.mouse-hover{
  cursor:pointer;
}

.mouse-disable {
  pointer-events: none; 
}

.icon-box {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin:0 auto;
}

.name-box {
  width: 52px;
  height: 24px;
  line-height: 24px;
  margin:0 auto;
}

.star-box {
  width: 52px;
  height: 24px;
  line-height: 24px;
  margin:0 auto;
}