.course-replacer-visible {
    visibility: visible;
    transition: all 0.2s ease-in-out; 
    opacity: 1;
}

.course-replacer-hidden {
    visibility: hidden;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
    opacity: 0;
}