.welcome-container {
  @apply w-full h-full flex flex-col;
  padding: 25px 0 0;
}

.welcome-container > .header {
  @apply flex items-center justify-end;
  padding: 0 50px 25px 32px;
  z-index: 2;
  height: 65px;
}

.welcome-container .settings {
  @apply flex items-center;
  /* fcr-black */
  border: 1px solid #000000;
  color: #000000;
}

.welcome-container .settings:hover {
  color: #000000;
}

.welcome-container .settings > span {
  margin-left: 7px;
}

.welcome-container .welcome-title {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.5;
  /* fcr-black */
  color: #000000;
  margin-bottom: 50px;
  text-align: center;
}

.welcome-container .content {
  @apply flex flex-col items-center relative;
  height: calc(100vh - 57px - 25px);
  overflow-y: auto;
}

.welcome-container .content > div {
  width: 52%;
}

.welcome-container .content.room-list-empty {
  @apply justify-center;
  padding-bottom: 60px;
}

.welcome-container .content .room-list-empty-img {
  display: none;
}

.welcome-container .content.room-list-empty .room-list-empty-img {
  display: flex;
  justify-content: center;
  margin: 40px 0 60px;
}

.welcome-container .room-list::after {
  content: '';
  display: block;
  height: 58px;
  width: 100%;
}

.welcome-container .room-entry {
  /* fcr-white */
  background: #ffffff82;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6px;
  padding: 6px;
}

.room-entry .btn {
  @apply flex items-center cursor-pointer;
  background: linear-gradient(270deg, #eaecfb 0%, #efeefc 97.6%);
  border-radius: 16px;
  padding: 10px;
}

.room-entry .btn .icon {
  @apply flex items-center justify-center;
  width: 54px;
  height: 54px;
  background-image: url(../../assets/home-btn-bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.room-entry .btn .text {
  @apply flex-1 text-center;
  font-family: 'Montserrat Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 1.3;

  /* fcr-black */
  color: #000000;
}

.room-list {
  margin-top: 35px;
  width: calc(52% + 40px) !important;
}

.welcome-container .content.room-list-empty .room-list {
  display: none;
}

.room-list .title {
  @apply flex justify-between items-center;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 2;
  /* fcr-black */
  color: #000000;

  padding: 0 20px 10px;
}

.room-list > .title::before,
.room-list > .title::after {
  content: '';
  height: 1px;
  flex: 1;
  /* fcr-dark-line 0 */
  background: #4a4c5f;
}

.room-list > .title > span {
  padding: 0 15px;
}

.room-list .list {
  margin-top: 13px;
  padding: 0 20px;
}

.room-list .list .ant-list-item {
  padding: 0 0 16px;
}

.room-list-mask {
  @apply bottom-0 left-0 w-full absolute pointer-events-none;
  height: 128px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 58.33%);
}

.welcome-container .no-more {
  margin-bottom: 50px;
}

.share-modal-container {
  padding-bottom: 0;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.share-close-icon {
  margin: 11px 11px 0 5px;
}
