.toolbar-position {
  position: absolute;
  left: 15px;
  top: 5rem;
}

.zoom-position {
  position: absolute;
  left: 15px;
  bottom: 8px;
}

.whiteboard {
  position: relative;
  width: 100%;
  height: 100%;
}