.zoom-position {
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.whiteboard {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-loading-position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.pin-right {
  position: absolute;
  right: 15px;
  bottom: 20px;
  transition: .5s;
}

.pin-right-full-not-collapse {
  right: 330px !important;
}

.pin-right-full-collapse {
  right: 76px !important;
}

.full-screen-chat {
  /* position: fixed;
  right: 20px;
  bottom: 20px;
  height: 514px; */
}

.mid-class-aside {
  transition: .5s;
  margin-right: 0;
}

.mid-class-aside-full-collapse {
  transition: .5s;
  margin-right: -300px;
}

.mid-class-aside-full-not-collapse {
  transition: .5s;
  margin-right: 0;
}

.mid-class-aside .chat-panel {
  transform: translateX(2px);
  right: 0;
  bottom: 0;
}

.bg-white {
  height: 100%;
  padding-top: 2px;
  box-sizing: border-box;
}

.mid-class-teacher {
  border: 2px solid white;
  border-right: none;
}

.mid-class-aside .full-video-wrap {
  height: auto;
  opacity: 0;
  transform: scale(0.9);
  transition: .5s;
}
.mid-class-aside .video-wrap {
  height: auto;
  opacity: 1;
  transform: scale(1);
  transition: .5s;
}

.edu-room .video-player {
  margin-top: -2px !important;
}

.chat-panel {
  @apply bg-white;
  /* width: 300px; */
  position: relative;
  flex: 1;
  border-radius: 4px;
  min-width: 300px;
  margin-left: 2px;
  @apply border-l border-gray-100;
}
