.widget-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.widget-container * {
  pointer-events: all;
}

.widget-slot-chat {
  /* @apply bg-background; */
}
.widget-slot-chat-h5 {
}
.fcr-countdown-h5-widget {
  position: relative;
}
