.group-info-panel {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  width: 355px;
  height: 46px;
  margin: 0 auto;
  border-radius: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 15%);
  z-index: 2;
}

.group-name {
  display: flex;
  margin-left: 10px;
  width: 166px;
  height: 32px;
  font-family: 'Helvetica Neue';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #fff;
  top: 50%;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.group-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: calc(100% - 166px);
  justify-content: flex-end;
}
.help-button {
  right: 105px;
  height: 26px;
  border-radius: 8px;
  background-color: #373c42;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 11px;
  line-height: 24px;
  margin-right: 8px;
}
.leave-group-button {
  display: flex;
  height: 26px;
  padding: 0 5px;
  background-color: #4262ff;
  border-radius: 8px;
  justify-content: center;
  color: #fff;
  font-size: 11px;
  line-height: 24px;
  margin-right: 7px;
}
