.tab-class {
  height: 44px !important;
  margin-bottom: 2px !important;
}

.ant-tabs-tab {
  /* 宽度自定义 */
  /* width: 70px !important; */
  justify-content: center;
  padding: 12px !important;
  margin: 0 !important;
}
.ant-tabs-tab-btn {
  @apply text-level3 !important;

  /* width: 35px !important; */
  height: 18px !important;
  font-size: 13px !important;
  font-family: 'PingFangSC-Regular', ' PingFang SC' !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  text-align: center !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply text-level1 !important;
}
/* .chat-icon .ant-switch {
  background-color: #E2E2EE;
} */
.ant-switch.chat-switch {
  background: #e2e2ee;
}
.chat-switch.ant-switch-checked {
  background-color: #1890ff;
}
.ant-tabs-ink-bar-animated {
  /* 宽度自定义 */
  /* width: 70px !important; */
  height: 2px !important;
  background: #357bf6 !important;
  border-radius: 1px !important;
}

.fcr-hx-mini-icon {
  /* 宽度自定义 */
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  width: 24px;
}

.fcr-hx-notice {
  @apply bg-background;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 宽度自定义 */
  width: 100%;
  height: 32px;
  /* background: rgba(240, 201, 150, 0.1); */
  cursor: pointer;
  cursor: pointer;
}

.fcr-hx-notice-icon {
  width: 20px;
  height: 20px;
}

.fcr-hx-notice-text {
  @apply text-level2;
  height: 12px;
  font-size: 12px;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  line-height: 12px;
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: '-webkit-box';
  -webkit-line-clamp: 2;
  -webkit-box-orient: 'vertical';
  white-space: pre-wrap;
  text-align: center;
}

.fcr-hx-red-notice {
  position: absolute;
  border-radius: 50%;
  background: #ff462d;
  height: 6px;
  width: 6px;
  left: 45px;
  top: 10px;
}
