.fcr-stream-h5-tool-lg {
  width: 30px;
  height: 92px;
  border-radius: 15px;
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  right: 10px;
  bottom: 0px;
  top: 0px;
  margin: auto 0;
  z-index: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  transition: all 0.2s;
}
.fcr-stream-h5-tool-sm {
  width: 30px;
  height: 80px;
  border-radius: 8px;
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  right: 0px;
  bottom: 0px;
  z-index: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  transition: all 0.2s;
}
.fcr-stream-h5-draggable {
  position: fixed !important;
  width: 140px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  right: 0;
  top: 50%;
  z-index: 9;
}
.fcr-stream-h5 {
  /* transition: all 0.2s; */
}

.fcr-h5-room-placeholder {
  display: flex;
  padding-left: 23px;
  justify-content: center;
  flex-direction: column;
  background: url('./assets/room-placholder-bg.jpg') no-repeat top left / cover;
}
.fcr-h5-room-placeholder > p {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #757575;
}
.fcr-h5-room-placeholder h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.fcr-stream-placeholder-mobile {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
