.fcr-stream-mobile-tool-lg {
  width: 30px;
  height: 52px;
  border-radius: 15px;
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  right: 10px;
  bottom: 0px;
  top: 0px;
  margin: auto 0;
  z-index: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  transition: all 0.2s;
}
.fcr-stream-mobile-tool-sm {
  width: 30px;
  height: 80px;
  border-radius: 8px;
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  right: 0px;
  bottom: 0px;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  transition: all 0.2s;
}
.fcr-stream-mobile-draggable {
  position: fixed !important;
  width: 140px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  right: 0;
  top: 50%;
  z-index: 9;
}
.fcr-stream-mobile {
  /* transition: all 0.2s; */
}

.fcr-mobile-room-placeholder {
  display: flex;
  padding-left: 23px;
  justify-content: center;
  flex-direction: column;
  background: url('./assets/room-placholder-bg.jpg') no-repeat top left / cover;
}
.fcr-mobile-room-placeholder > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #757575;
  margin: 0;
}
.fcr-mobile-room-placeholder h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
.fcr-stream-placeholder-mobile {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}
.fcr-stream-collapse-mobile {
  position: absolute;
  width: 100%;
  height: 13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -13px;
  transition: all 0.2s;
  background: linear-gradient(360deg, rgba(158, 158, 158, 0.47) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcr-stream-player-mobile {
  background: rgba(67, 67, 78, 1);
  position: relative;
}
.fcr-stream-player-mobil-placeholder {
  position: absolute;
  background: rgba(66, 98, 255, 1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.fcr-stream-player-mobil-placeholder-teacher {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
}
