.react-select__indicator-separator {
    display: none;
}

.react-select .react-select__indicators {
    transform: rotate(0deg);
    transition: 150ms;
    -webkit-transition: 150ms;
}

.react-select__control--menu-is-open .react-select__indicators{
    transform: rotate(180deg);
}   