.radio-icon {
  width: 25px;
  height: 25px;
  background-image: url(../../assets/fcr_radio_check.svg);
  background-size: cover;
}

.radio-icon.checked {
  background-image: url(../../assets/fcr_radio_checked.svg);
}

.radio-icon.disabled {
  background-image: url(../../assets/fcr_radio_disabled2.svg);
}

.radio-icon.disabled.checked {
  background-image: url(../../assets/fcr_radio_disabled.svg);
}
