.chat-box {
    padding: 16px 12px;
    border-top: 1px solid #22262E;
}

textarea {
    outline: none;
    resize: none;
    border: none;
}

.msg-box {
    margin: 8px 0;
    font-size: 14px;
    width: 100%;
    height: 45px;
    background: #1D2026;
    color: #D3D6D8;
}

.msg-box::placeholder {
    color: #333740;
}

.emoji-icon {
    width: 18px;
    height: 18px;
    color: #D3D6D8;
    margin-left: 5px;
    cursor: 'pointer'
}

.img-icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    color: #D3D6D8;
    cursor: 'pointer';
}


.btn-tool {
    display: flex;
    align-items: center;
    color: #D3D6D8;
    /* position: absolute;
    right: 5px;
    bottom: 5px; */
}

.msg-btn {
    width: 56px;
    height: 28px;
    line-height: 28px;
    background: linear-gradient(90deg, #1DB4FE 0%, #028CFF 100%);
    color: #ffffff;
    border-radius: 14px;
    border: 0;
    letter-spacing: 0;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-left: 8px;
    cursor: pointer;
}

button.msg-btn:disabled {
    cursor: not-allowed;
    background: #7ECBFF;
}

.msg-box-mute {
    justify-content: center;
    height: 130px;
    align-items: center;
    position: relative;
}

.mute-state-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

.mute-msg {
    font-size: 12px;
    font-weight: 400;
    color: #7C848C;
    line-height: 18px;
}

.mute-blur-box {
    position: relative;
}

.mute-blur-box:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    background-color: #1D2026;
}

.emoji-all {
    position: absolute;
    left: 0;
    bottom: 155px;
    background: #1D2026;
    box-shadow: 0px -8px 32px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 1px solid #22262E;
    padding-bottom: 16px;
    z-index: 1000;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.emoji-content {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 16px 0 0px 16px;
    font-size: 20px;
    vertical-align: sub;
    cursor: pointer;
}

.emoji-mask {
    bottom: 0;
    top: 0;
    position: fixed;
    opacity: .3;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: calc(100% - 280px);
    z-index: 1000;
}

.show-error {
    position: absolute;
    left: 40px;
    bottom: 200px;
    width: auto;
    /* height: 20px; */
    font-size: 14px;
    font-family: 'PingFangSC-Regular',
        'PingFang SC';
    font-weight: 400;
    line-height: 20px;
    padding: 2px;
    width: 196px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
}

.show-error-msg {
    width: auto;
    /* height: 20px; */
    font-size: 14px;
    font-family: 'PingFangSC-Regular',
        'PingFang SC';
    font-weight: 400;
    color: #FFFFFF;
    /* line-height: 20px; */
}

.chat-tool-item {
    width: 24px;
    height: 24px;
    padding: 2px;
    margin-right: 8px;
    cursor: pointer;
}

.chat-tool-item:hover {
    background-color: #242933;
    border-radius: 4px;
}