.chat-list {
  height: calc(100% - 120px);
  padding-bottom: 18px;
  overflow-y: auto;
  width: 100%;
  position: absolute;
}

.chat-list > .chat-list-item {
  height: 64px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-list > .chat-list-item > .avatar {
  background: url('../assets/avatar.svg') no-repeat center / 36px 36px;
  /* background: gray; */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: relative;
}

.chat-list > .chat-list-item > .avatar > .unread-count {
  position: absolute;
  top: 0px;
  left: 24px;
  font-size: 10px;
  background: #f04c36;
  color: white;
  border-radius: 10px;
  width: 8px;
  height: 8px;
}

.chat-list > .chat-list-item > .name {
  color: #191919;
  font-size: 13px;
}

.chat-list > .chat-list-item > div {
  margin-left: 15px;
}
