@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

* {
    @apply font-scenario;
}

.page-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.fixed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.board-section {
    position: relative;
    height: 100%;
    width: 100%;
}