@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import 'tailwindcss/screens';

* {
    @apply font-scenario;
}

.fixed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    position: fixed;
    width: 100%;
}