.signal {
  width: 74px;
  >div {
    align-items: center;
  }
  .signal {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2C43BA;
    border-radius: 50%;
  }

  .signalGood {
    display: flex;
    .signal {
      width: 32px;
      height: 32px;
      background-image: url('../../assets/signal-good.png');
      margin: 2px;
    }
    .text {
      color: #8eae7c;
      font-size: 14px;
      margin-left: 5px;
    }
  }
  .signalWeak {
    display: flex;
    .signal {
      width: 32px;
      height: 32px;
      background-image: url('../../assets/signal-weak.png');
      margin: 2px;
    }
    .text {
      color: #f1c360;
      font-size: 14px;
      margin-left: 5px;
    }
  }
  .signalBad {
    display: flex;
    .signal {
      width: 32px;
      height: 32px;
      background-image: url('../../assets/signal-bad.png');
      margin: 2px;
    }
    .text {
      color: red;
      font-size: 14px;
      margin-left: 5px;
    }
  }
}