/* --- room-item-card --- */
.room-item-card {
  @apply w-full h-full relative;
  border-radius: 16px;
  padding: 12px 16px 12px 22px;
  transition: transform 0.2s linear;
  cursor: pointer;
  background: #e9f6fa;
  font-family: 'Montserrat Roboto';
  line-height: 150%;
  /* fcr-white */
  color: #000;
}

.room-item-card:hover {
  transform: translateY(-1px);
  box-shadow: 6px 6px 20px -5px rgb(0 0 0 / 13%);
}

.room-item-card.upcoming {
  /* fcr_blue2 */
  background: #e4e6ff;
}

.room-item-card.over {
  /* fcr-gray4 */
  background: #f0f0f7;
}

.room-item-card.live {
  /* fcr-card-purple */
  background: #5765ff;
  color: #fff;
}

.room-item-card .info {
  @apply flex-1;
  margin-right: 15px;
}

.room-item-card .info .header {
  @apply flex items-center;
  font-style: italic;
  font-weight: 800;
  font-size: 10px;
  line-height: 150%;
}

.room-item-card .info .header .date {
  @apply flex items-center;
}

.room-item-card .info .header .date::after {
  /* fcr-light-web-line 0 */
  background-color: #dbdfec;
  content: '';
  height: 8px;
  width: 1px;
  margin: 0 15px;
}

.room-item-card .info .header .id {
  @apply flex items-start;
}

.room-item-card .info .header .id::before {
  content: '';
  display: inline-block;
  height: 17px;
  width: 17px;
  background-image: url(../../../assets/fcr_id_black.svg);
  background-size: cover;
}

.room-item-card.live .info .header .id::before {
  background-image: url(../../../assets/fcr_id_white.svg);
}

.room-item-card .info .name {
  @apply truncate;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin: 8px 0 6px;
}

.room-item-card .footer {
  @apply flex items-center;
  font-style: italic;
  font-weight: 800;
  font-size: 9px;
}

.room-item-card .footer .state {
  @apply inline-flex items-center;
  margin-right: 20px;
}

.room-item-card .footer .type {
  @apply inline-flex items-center;
}

.room-item-card .footer .state .live-icon {
  margin-right: 3px;
  width: 16px;
}

.room-item-card .footer .type .label {
  margin-right: 1px;
}

.room-item-card .operation {
  @apply absolute top-0 h-full flex items-center;
  right: 16px;
}
.room-item-card .operation .btn {
  display: flex;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  border-radius: 88px;
  /* Gray 1 */
  background: #030303;
}

.room-item-card .operation .btn.enter {
  transition: width 0.2s linear;
  width: 88px;
}

.room-item-card .operation .btn.replay {
  @apply flex items-center;
  padding: 0 20px 0 16px;
}

.room-item-card:hover .operation .btn.enter {
  width: 122px;
}

.room-item-card .operation .enter .text,
.room-item-card .operation .replay .text {
  @apply h-full;
  text-align: center;
  border: none;
  font-weight: 800;
  font-size: 10px;
  /* white */
  color: #ffffff;
}

.room-item-card .operation .enter .text {
  width: 88px;
}

.room-item-card .operation .enter .share {
  @apply h-full relative items-center justify-center;
  width: 34px;
  display: none;
}

.room-item-card:hover .operation .enter .share {
  display: flex;
}

.room-item-card .operation .enter .share::before {
  @apply h-full absolute;
  width: 1px;
  content: '';
  background: #4a4c5f;
  top: 0;
  left: 0;
}

.room-item-card .operation .enter .share::after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 14px;
  background-image: url(../../../assets/fcr_share.svg);
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

.room-item-card .operation .enter .share:hover::after {
  background-color: rgba(52, 52, 52, 0.8);
}
