.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999;
  left: 0;
  top: 0;
}
.card-loading-position {
  position: relative;
}
.page-loading-text {
  @apply text-level1;
  position: absolute;
  bottom: -50px;
  white-space: nowrap;
}
