.facade {
  gap: 10px;
  border-radius: 14px;
  overflow: hidden;
}

.home-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 280px;
}

.home-page {
  width: 100vw;
  height: 100vh;
  background: #f9f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #586376;
  font-family: helvetica neue, arial, PingFangSC, microsoft yahei;
}

.home-form button {
  width: 280px;
  margin-bottom: 12px;
}

.home-bg {
  background: url('./assets/bg.png') no-repeat center / 380px 500px;
}

.home-vocational .home-bg {
  background: url('./assets/bg-vocational.png') no-repeat center / 380px 500px;
}

.facade .table-flex-container {
  width: 420px;
  height: 500px;
  box-sizing: border-box;
}

.home-page.debug .table-flex-container {
  height: auto;
}

.home-form {
  padding-left: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.home-form .table-row-item.home-row-item {
  width: 280px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  /* background-color: #F9F9FC; */
  /* border: 1px solid black; */
  margin-bottom: 12px;
}
.home-form input {
  height: 100%;
  /* background-color: #F9F9FC; */
  padding-left: 10px;
}
.home-form .select {
  flex: 1;
}

.table-col-item .react-select-container {
  flex: 1;
}

.table-col-item .input-prefix {
  color: #7b88a0;
}

.home-page-header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0;
  z-index: 999;
  justify-content: space-between;
}

.header-left,
.header-right {
  display: flex;
  justify-items: center;
  align-items: center;
}
.header-left {
  padding-left: 30px;
  padding-top: 12px;
}
.header-right {
  padding-top: 20px;
  padding-right: 30px;
}

.header-left-logo {
  width: 36px;
  height: 36px;
  background: url('./assets/logo.png') no-repeat center / 36px 36px;
}

.header-left-title {
  margin-left: 10px;
  color: #191919;
}

.header-left-text {
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  margin-left: 10px;
}

.header-right-about,
.header-right-item {
  font-size: 14px;
  font-weight: 400;
  color: #586376;
  cursor: pointer;
}

.header-right-about:hover,
.header-right-item:hover,
.header-right .react-select__single-value:hover {
  color: #0073ff;
}

.header-right .react-select__control {
  border: none;
  outline: none;
  box-shadow: 0 0 0 0 transparent;
}
.header-right .react-select__control {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.header-right .language-en-div .react-select__value-container {
  padding-left: 100px !important;
}

.home-page .modal {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}
.home-label {
  color: #586376;
  font-size: 14px;
}
.language-en-div .select-prefix,
.region-zh-div .select-prefix {
  left: 28px;
}

.language-zh-div .select-prefix {
  left: 75px;
}

.language-zh-div .react-select__value-container {
  padding-left: 117px !important;
}

.header-right .react-select__menu {
  top: 30px;
}

.language-en-div .react-select__menu,
.language-zh-div .react-select__menu {
  width: 131px;
}

.language-en-div .options-container,
.language-zh-div .options-container {
  width: 131px;
}

.region-en-div .react-select__menu {
  left: 16px;
}

.language-en-div .react-select__menu {
  left: 28px;
}

.region-zh-div .react-select__menu {
  left: 29px;
}

.language-zh-div .react-select__menu {
  left: 75px;
}

.header-right .react-select__single-value {
  cursor: pointer;
  color: #7b88a0;
}

.can-error-item .table-col-item {
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

.entry-room-loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  visibility: hidden;
}
.entry-room-loading-wrapper.show-loading {
  visibility: visible;
}
.entry-room-loading {
  background: url(./assets/loading.gif) no-repeat center;
  height: 50px;
  width: 50px;
  background-size: cover;
}
