.bg-download-bg {
  background-color: #e3e3f0;
}

.bg-download-fg {
  background-color: #456dfd;
}

.progress-height {
  height: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  font-size: 0.75rem;
  line-height: 1rem;
}
