/* 竖屏情况下的容器 */
.all-streams-portrait-container{
    width: 100%;
    height: 100%;
}
/* 文本样式提示 */
.all-streams-portrait-container .placeholder-text{
    position: absolute;
    background: rgba(66, 98, 255, 1);
    width: 93px;
    height: 93px;
    border-radius: 50%;
    line-height: 93px;
    text-align: center;
    color: #fff;
    font-size: 3.2vw;
    font-weight: 600;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.all-streams-portrait-container .show-stream{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
}
.all-streams-portrait-container .grid-item{
    background-color: #f1f1f1;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.all-streams-portrait-container .pagination {
    position: absolute;
    bottom: 0px;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.all-streams-portrait-container .page-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    text-decoration: none;
    background: rgba(21, 21, 21, 0.8);
}
.left-btn{
    margin: auto auto auto 8px;
}
.right-btn {
    margin: auto 8px auto auto;
}
