/* 竖屏情况下的容器 */
.all-streams-portrait-container {
    position: relative;
    background: var(--background-dark, #151515);
    height: calc(100vh - 57px - 48px);
    width: 100%;
}


.all-streams-portrait-container.all-streams-portrait-container-landscape {
    height: calc(100% - 52px);
    width: 142px;
}

/* 文本样式提示 */
.all-streams-portrait-container .placeholder-text {
    position: absolute;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    line-height: 93px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* 文本样式提示 */
.all-streams-portrait-container .placeholder-text-students {
    background: var(--head-2, rgba(255, 117, 122, 1));
}

/* 文本样式提示 */
.all-streams-portrait-container .placeholder-text-teacher {
    background: var(--head-4, rgba(210, 219, 14, 1));
}
/* 举手样式边框 */
.all-streams-portrait-stream-lift-hand {
    border: 2px solid var(--interactive-action, rgba(255, 187, 28, 1))
}
/* 讲话样式边框 */
.all-streams-portrait-stream-speak {
    border: 2px solid var(--head-5, rgba(132, 189, 0, 1));
}
/* 举手的图标样式 */
.all-streams-portrait-stream-lift-hand-container {
    position: absolute;
    left: 5px;
    top: 5px;
}
/* 视频流左下角姓名容器 */
.all-streams-portrait-stream-name-container {
    height: 28px;
    gap: 10px;
    border-radius: 4px;
    padding-right: 5px;
    opacity: 0px;
    background: var(--background-dark, rgba(21, 21, 21, 1));
    position: absolute;
    bottom: 7px;
    left: 5px;
    display: block;
}
/* 视频流左下角姓名容器-姓名 */
.all-streams-portrait-stream-name-container-name {
    font-family: Open Sans;
    line-height: 28px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-left: 5px;
    display: inline-block;
    color: var(--inverse-text-primary, rgba(254, 254, 254, 1));
}
/* 视频流左下角姓名容器-教师图标 */
.all-streams-portrait-stream-name-container-icon {
    display: inline-block;
    margin-left: 5px;
    margin-top: -3px;
}
/* 视频流左下角姓名容器-共享图标 */
.all-streams-portrait-stream-name-container-screen-share {
    margin-left: 10px;
    display: inline-block;
    margin-top: -3px;
}

.all-streams-portrait-container .show-stream {
    width: 100%;
    height: 100%;
    background: var(--background-dark, rgba(21, 21, 21, 1));
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.all-streams-portrait-container.all-streams-portrait-container-landscape .show-stream {
    height: unset;
}

.all-streams-portrait-container .grid-item {
    background: var(--color-windowview, rgba(44, 44, 44, 1));
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid var(--background-dark, rgba(21, 21, 21, 1));
}

.all-streams-portrait-container.all-streams-portrait-container-landscape .grid-item {
    height: 159.5px;
}

.all-streams-portrait-container .pagination {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
}

.all-streams-portrait-container .page-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    text-decoration: none;
    background: var(--ui-03-80, rgba(21, 21, 21, 0.8));
}

.left-btn {
    margin: auto auto auto 8px;
}

.right-btn {
    margin: auto 8px auto auto;
}