.chat-message {
  @apply flex flex-col w-full;
  padding: 0 15px;
  margin-top: 18px;
}

.chat-message-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-message-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-message-username {
  font-size: 12px;
  color: #586376;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 71px;
}

.chat-message-content {
  min-height: 38px;
  border-radius: 4px;
  padding: 9px 10px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #191919;
}

.chat-message-content.ghost {
  border: 1px solid #ececf1;
}

.chat-message-content.blue {
  background-color: #e1ebfc;
}
