.message-box {
    margin-top: 3px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: calc(100% - 180px);
}



.msg {
    margin: 10px 5px 5px 8px;
}

.msg-tag {
    margin-left: 8px !important;
    border-radius: 8px !important;
    opacity: 0.3 !important;
    border: 1px solid #ABB1BA !important;
}

.msg-user-other {
    display: flex;
    align-items: center;
}

.msg-user-me {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.msg-avatar {
    width: 22px;
    height: 22px;
    margin: 0 5px;
}

.msg-border {
    display: flex;
    justify-content: flex-end;
}

.msg-text {
    margin: 3px 8px 0 0;
    max-width: 60%;
    min-height: 20px;
    padding: 3px 5px;
    border-radius: 4px;
    word-break: break-all;
    white-space: pre-wrap;
}

.msg-text-me {
    background: #E1EBFC;
}

.msg-text-other {
    background: #FFFFFF;
    border: 1px solid #ECECF1;
}

.no-msgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mute-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 28px;
    background: #F9F9FC;
    border-radius: 4px;
    margin: 8px 40px;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}