.message-box {
    margin-top: 3px;
    overflow-y: scroll;
}

/* @media screen and (max-height: 1127px) {

    .message-box {
        height: 640px;
    }
} */


@media screen and (max-height: 1027px) {

    .message-box {
        height: 640px;
    }
}

@media screen and (max-height: 977px) {

    .message-box {
        height: 560px;
    }
}

@media screen and (max-height: 927px) {

    .message-box {
        height: 420px;
    }
}

@media screen and (max-height: 827px) {

    .message-box {
        height: 375px;
    }
}

@media screen and (max-height: 727px) {

    .message-box {
        height: 295px;
    }
}

@media screen and (max-height: 677px) {

    .message-box {
        height: 235px;
    }
}


/* user */
@media screen and (max-height: 1027px) {
    .user {
        height: 750px;
    }
}

@media screen and (max-height: 927px) {
    .user {
        height: 650px;
    }
}

@media screen and (max-height: 827px) {
    .user {
        height: 550px;
    }
}

@media screen and (max-height: 727px) {
    .user {
        height: 450px;
    }
}

@media screen and (max-height: 677px) {
    .user {
        height: 361px;
    }
}

.user {
    overflow-y: scroll;
    overflow-x: hidden;
}

.msg {
    margin: 10px 5px 5px 8px;
}

.msg-tag {
    margin-left: 8px !important;
    border-radius: 8px !important;
    opacity: 0.3 !important;
    border: 1px solid #ABB1BA !important;
}

.msg-user-other {
    display: flex;
    align-items: center;
}

.msg-user-me {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.msg-avatar {
    width: 22px;
    height: 22px;
    margin: 0 5px;
}

.msg-border {
    display: flex;
    justify-content: flex-end;
}

.msg-text {
    margin: 3px 8px 0 0;
    max-width: 60%;
    min-height: 20px;
    padding: 3px 5px;
    border-radius: 4px;
    word-break: break-all;
    white-space: pre-wrap;
}

.msg-text-me {
    background: #E1EBFC;
}

.msg-text-other {
    background: #FFFFFF;
    border: 1px solid #ECECF1;
    float: left;
}

.no-msgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mute-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 28px;
    background: #F9F9FC;
    border-radius: 4px;
    margin: 8px 40px;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* UserList 样式 */
.user-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.user-info {
    display: flex;
    align-items: center;
    width: auto;
    height: 48px;
}

.user-avatar {
    width: 36px;
    height: 36px;
}

.user-text {
    /* width: 43px; */
    height: 18px;
    font-size: 13px;
    font-family: 'PingFangSC-Regular',
        'PingFang SC';
    font-weight: 400;
    color: #191919;
    line-height: 18px;
    margin: 0 5px;

}

.user-tag {
    /* display: inline-block !important; */
    /* width: 36px !important;
    height: 16px !important; */
    border-radius: 8px !important;
    opacity: 0.3 !important;
    text-align: center !important;
    /* padding: 0 !important; */
}

.teacher-tag {
    border: 1px solid #3C86F7 !important;
    color: #3C86F7 !important;
}

.student-tag {
    border: 1px solid #ABB1BA !important;
}

.tag-text {
    width: 28px;
    height: 10px;
    font-size: 12px;
    font-family: 'PingFangSC-Regular',
        'PingFang SC';
    font-weight: 400;
    line-height: 10px;
}

.teacher-text {
    color: #357BF6;
}

.mute-icon {
    cursor: pointer;
}