@import '~agora-scenario-ui-kit/lib/style.css';

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rtc-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.edu-room .video-player {
  border: 2px solid white;
  margin-top: -2px;
}

.edu-room .layout {
  position: relative;
}

.edu-room .tabs {
  position: absolute;
  top: 15px;
  left: 15px;
}

.layout-aside-normal {
  max-width: 300px;
  min-width: 300px;
  flex: 1;
  position: relative;
}

.layout-aside.layout-aside-fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  width: auto;
  margin: 10px;
  height: auto;
}

.screen-share-player-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.agora-board-resources input[type=file] {
  display: none;
}

.mirror canvas{
  transform: scaleX(1) !important;
}

.mirror video{
  transform: scaleX(1) !important;
}

#netless {
  z-index: 0;
}

.filename {
  max-width: 90px;
}

.video-marquee-pin {
  position: absolute;
  height: 165px;
  width: 100%;
}

.video-marquee-pin ~ .board-box {
  margin-top: 165px;
}

.board-box {
  position: relative;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.fullscreen .layout-aside {
  border: none;
  min-width: 35px;
}

.fullscreen .video-player {
  display: none;
}

.small-class-chat {
  bottom: 8px;
  right: 11px;
}

.fullscreen .video-marquee-pin ~ .board-box {
  margin-top: 0px;
}