.fcr-dialog-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(8, 8, 8, 0.4);
  height: 100%;
  z-index: 1050;
}

.fcr-dialog-mask-hidden {
  display: none;
}

.fcr-dialog-root .fcr-confirm-dialog-wrap.fcr-dialog-wrap,
.fcr-dialog-root:has(.fcr-confirm-dialog-wrap) .fcr-dialog-mask {
  z-index: 2000;
}

.fcr-dialog-wrap {
  position: fixed;
  bottom: 10px;
  width: 335px;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px 20px;
  border-radius: 20px;
  background: #3c3c3c;
}

.fcr-dialog-wrap-middle {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2000;
}

.fcr-dialog-wrap-landscape {
  padding: 24px 20px;
  border-radius: 20px;
  background: #3c3c3c;
  bottom: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 50%) !important;
  z-index: 2000;
}

.fcr-confirm-dialog-title {
  @apply fcr-font-title fcr-text-1;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

.fcr-confirm-dialog-inner-wrap {
  /* display: flex;
  flex-direction: row; */
}

.fcr-confirm-dialog-inner-icon {
  padding-right: 20px;
}

.fcr-confirm-dialog-inner {
  @apply fcr-text-1;
  font-size: 14px;
  word-break: break-all;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  margin: 20px 0;
  opacity: 0.8;
}

.fcr-confirm-dialog-footer {
  /* display: flex; */
  justify-content: space-between;
}

.fcr-confirm-dialog-footer-btns {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  /* margin-left: auto; */
}

.fcr-confirm-dialog-footer-btns .fcr-btn {
  background: var(--interactive-primary, #9E007E);
}

.fcr-btn.fcr-btn-mobile-cancel,
.fcr-btn {
  font-family: Helvetica Neue;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.fcr-confirm-dialog-footer-block {
  display: flex;
  flex-direction: column-reverse;
  align-content: space-between;
}

.fcr-btn-mobile {
  min-width: 153px !important;
  height: 40px !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  border-radius: 12px !important;
}

.fcr-btn-mobile-block {
  min-width: 295px !important;
  width: 100% !important;
  height: 40px !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  border-radius: 50px !important;
}

.fcr-btn-mobile-cancel {
  background-color: #555b69 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.fcr-btn-mobile-cancel-block {
  background-color: #555b69 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  width: 100% !important;
  margin-top: 12px;
  border-radius: 50px !important;
}