
.fcr-pagination-mobile-list .fcr-pagination-mobile-float__btn {
  width: 30px;
  height: 30px;
  /* Note: backdrop-filter has minimal browser support */
  /* backdrop-filter: blur(25px); */
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 2px 0px rgba(31, 30, 82, 0.1);
  border-radius: 50%;
}
.fcr-pagination_btn--opacity{
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.5);
}
.fcr-pagination-mobile-float__page {
  @apply fcr-text-1;
  padding: 3px 0 5px;
}
.fcr-pagination-mobile-list {
  --effect-color: theme(colors.brand.4);
  transition: all 0.2s;
  /* position: relative; */
  /* gap: 4px; */
}
.fcr-pagination-mobile-list-right{
  /* transform: translateX(-100vw); */
  
}
.fcr-pagination-mobile-list-left{
  /* transform: translateX(100vw); */
  
}
.fcr-pagination-mobile-list-container{
  display: flex;
}
.fcr-pagination-mobile-list-kepp-right{
  /* width:100%; */
  height:100%;
  position: absolute;
  top:0;
  right:0;
}
.fcr-pagination-mobile-list-col {
  flex-direction: column;
}

.fcr-pagination-mobile-list__prev,
.fcr-pagination-mobile-list__next {
  pointer-events: all;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  /* background: rgba(255, 255, 255, 0.8); */
  z-index: 1;
}
.fcr-pagination-mobile-list__prev {
  left: 10px;
}

.fcr-pagination-mobile-list__next {
  right: 10px;
}
