.hover{
  cursor: pointer;
}

.icon-box {
  border-radius: 99px;
  max-width: 29px;
}

.icon-box-hover:hover {
  background-color: #f0f0f7;
}

.icon-hover:hover {
  background-color: #f0f0f7;
}

.header-actions .icon-box-hover:hover,
.zoom-controller .icon-box-hover:hover,
.tool .icon-box-hover:hover {
  color: #191919 !important;
}

.icon-hover{
  border-radius: 9999px;
  cursor: pointer;
  text-align: center;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-svg {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.svg-recording {
  background: url('./assets/svg/recording.svg') no-repeat center;
}

.svg-share-screen {
  background: url('./assets/svg/share-screen.svg') no-repeat center;
}

.svg-checked {
  background: url('./assets/svg/icon-accept.svg') no-repeat center;
}

.svg-close {
  background: url('./assets/svg/icon-refuse.svg') no-repeat center;
}

.svg-student-authorized {
  background: url('./assets/svg/student-granted-active.svg') no-repeat center;
}

.svg-student-whiteboard {
  background: url('./assets/svg/student-granted-default.svg') no-repeat center;
}

.svg-teacher-authorized {
  background: url('./assets/svg/teacher-granted-active.svg') no-repeat center;
}

.svg-teacher-whiteboard {
  background: url('./assets/svg/teacher-granted-default.svg') no-repeat center;
}