.video-player {
  @apply relative flex items-center justify-center;
  height: 168px;
  width: 300px;
  background: transparent;
  border-radius: 4px;
  color: #fff;
  overflow: hidden;
}

.top-right-info {
  @apply absolute top-0 right-0 flex items-center;
  padding: 8px;
}

.bottom-left-info {
  @apply absolute bottom-0 left-0 flex items-end;
  padding: 0 8px;
}

.bottom-right-info {
  @apply absolute bottom-0 right-0;
  padding: 0 8px;
}

.stars {
  font-size: 18px;
  color: #f58723;
}

.stars-label {
  @apply text-white;
  font-size: 12px;
  text-shadow: 0px 1px 2px rgba(13, 29, 61, 0.8);
}

.mic-state {
  color: #0073ff;
  font-size: 18px !important;
  margin-right: 6px;
}

.mic-state.disabled {
  color: #ff0000;
}

.username {
  @apply text-white font-medium;
  font-size: 12px;
  margin-bottom: 5px;
  /* letter-spacing: -0.41px; */
  text-shadow: 0 1px 2px rgb(13 29 61 / 80%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 71px;
}

.whiteboard-state {
  color: #ffe72e;
  font-size: 18px !important;
}

.video-player-tools {
  @apply flex flex-col items-center;
  width: 36px;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
  border-radius: 18px;
  padding: 16px 10px;
}
/* .video-player-tools.host {
  height: 168px;
} */

.video-player-tools > .iconfont {
  @apply cursor-pointer box-content;
  font-size: 22px;
  color: #357bf6;
}

.video-player-tools > .iconfont.red {
  color: #ff0000;
}

.video-player-tools > .iconfont.yellow {
  color: #ffe72e;
}

.video-player-tools-popover.popover-placement-bottom
  .video-player-tools
  .iconfont,
.video-player-tools-popover.popover-placement-top
  .video-player-tools
  .iconfont {
  margin-right: 9px;
}

.video-player-tools-popover.popover-placement-bottom
  .video-player-tools .video-granted,
.video-player-tools-popover.popover-placement-bottom
  .video-player-tools .video-no_granted,
.video-player-tools-popover.popover-placement-top
  .video-player-tools .video-granted
.video-player-tools-popover.popover-placement-top
  .video-player-tools .video-no_granted {
    margin-right: 8px;
}

.video-player-tools-popover.popover-placement-left
  .video-player-tools .video-granted,
.video-player-tools-popover.popover-placement-left
  .video-player-tools .video-no_granted {
    height: 34px;
}

.video-player-tools-popover.popover-placement-bottom .video-player-tools,
.video-player-tools-popover.popover-placement-top .video-player-tools {
  margin-top: 2px;
  @apply flex flex-row items-center justify-center;
  height: 36px;
  width: auto;
}

.video-player-tools-popover {
  padding: 0;
}
.video-player-tools-popover > .popover-content > .popover-arrow {
  display: none;
}

.video-player-tools-popover > .popover-content > .popover-inner {
  background: transparent;
  border-radius: none;
  box-shadow: none;
}

.video-player-tools-popover
  > .popover-content
  > .popover-inner
  > .popover-inner-content {
  padding: 0;
}

.volume-indicators {
  @apply flex flex-col;
  margin-left: 6px;
}

.v-indicator {
  @apply rounded;
  height: 1px;
  width: 6px;
  background-color: #357bf6;
  margin-bottom: 4px;
}

.show-scroll .scroll-btn {
  opacity: 1 !important;
  visibility: unset !important;
}

.video-container .scroll-btn {
  opacity: 0;
  visibility: hidden;
}

.video-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video-container::-webkit-scrollbar {
  width: 0;
}

.video-item {
  width: 300px;
  height: 168px;
  margin-right: 5px;
}

.left-container {
  color: #FFFFFF;
  width: 30px;
  height: 168px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}


.right-container {
  color: #FFFFFF;
  width: 30px;
  height: 168px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: absolute;
  right: 0;
  z-index: 999;
  cursor: pointer;
}

.offset {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.no_granted, .no_podium {
  color: #bdbdca !important;
}

.video-player-tools .iconfont::before{
  border-radius: 50%;
} 

.video-player-tools .iconfont:hover::before {
  background-color: #f0f0f7;
}

.center-reward {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.video-granted, .video-no_granted {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  background: url('../icon/assets/svg/video-granted-active.svg') no-repeat center / 22px 22px;
}


.video-granted:hover, .video-no_granted:hover, .private-call-active:hover, .private-call-default:hover {
  background-color: #f0f0f7;
}

.video-no_granted {
  background-image: url('../icon/assets/svg/video-granted-default.svg')
}

.bottom-right-granted {
  width: 22px;
  height: 22px;
  background: url('../icon/assets/svg/granted-active-icon.svg') no-repeat center / 22px 22px;
}

.private-call-active, .private-call-default {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  background: url('../icon/assets/svg/private-call-active.svg') no-repeat center / 22px 22px;
}

.private-call-default {
  background-image: url('../icon/assets/svg/private-call-default.svg');
}
