.h5-invite {
  @apply w-full h-full relative bg-no-repeat;
  padding: 15px;
  background: linear-gradient(180deg, #ffffff 0%, #f8faff 12.21%);
}

.h5-invite:before {
  @apply block absolute w-full h-full top-0 left-0 bg-no-repeat;
  content: '';
  background-image: url(@/app/assets/h5-invite-bg.png);
  background-size: 100%;
  background-position: top center;
}

.h5-invite .content {
  /* fcr_white */
  background: #ffffff;
  border-radius: 16px;
}

.h5-invite .hello {
  @apply relative;
  font-family: 'Montserrat Roboto';
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 4px;
}

.h5-invite .welcome {
  @apply relative;
  @apply flex justify-between;
  font-family: 'Montserrat Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 15px;
}

.h5-invite .room-info {
  @apply relative;

  border-radius: 16px;
  padding: 25px;
  overflow: hidden;
  /* fcr_gray4 */
  background-color: #f0f0f7;
  line-height: 1.5;
}

.h5-invite .room-info:before {
  @apply block absolute w-full h-full top-0 left-0 bg-no-repeat;
  content: '';
  opacity: 0.1;
  background-image: url(@/app/assets/h5-invite-room-bg.png);
  background-size: 100%;
  background-position: top center;
}

.h5-invite .room-info header {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  /* or 240% */

  /* fcr_dark_transblack80% */
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 35px;
}

.h5-invite .room-info .inviter {
  font-family: 'Montserrat Roboto';
  /* fcr_dark_text2 */
  color: #959595;
  line-height: 1.7;
  margin-bottom: 30px;
}

.h5-invite .room-info .inviter .name {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  /* fcr_brand_blue */
  color: #357bf6;
}

.h5-invite .room-info .room-name {
  font-family: 'Montserrat Roboto';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  /* fcr_black */
  color: #000000;
  margin-bottom: 25px;
}

.h5-invite .room-info .room-id {
  @apply flex justify-start items-center;
  font-family: 'Montserrat Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;

  /* fcr_black */
  color: #000000;
  margin-bottom: 40px;
}

.h5-invite .room-info .room-time {
  @apply flex justify-between items-start;
  padding-bottom: 5px;
}

.h5-invite .room-info .start-time,
.h5-invite .room-info .end-time {
  @apply flex flex-col;
}
.h5-invite .room-info .room-time .time {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1;

  /* fcr_black */
  color: #000000;
}

.h5-invite .room-info .room-time .date {
  font-family: 'Montserrat Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;

  /* fcr_black */
  color: #000000;
}

.h5-invite .room-info .duration {
  font-family: 'Montserrat Roboto';
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  text-align: center;

  /* fcr_dark_text2 */
  color: #959595;
  width: 68px;
  /* fcr_dark_line0 */
  border-bottom: 1px solid #4a4c5f;
}

.h5-invite .content .form {
  padding: 0 25px;
}

.h5-invite .content .form-item {
  @apply flex;
  height: 65px;
  padding-top: 15px;
}

.h5-invite .content .form-item .label {
  width: 20%;
  height: 30px;
  line-height: 30px;
}

.h5-invite .form-item .ant-input,
.h5-invite .form-item .ant-input:focus,
.h5-invite .form-item .ant-input-affix-wrapper,
.h5-invite .form-item .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #ffffff00 !important;
  box-shadow: none;
}

.h5-invite .form-item .ant-form-item {
  flex: 1;
}

.h5-invite .footer {
  @apply absolute;
  width: calc(100% - 40px);
  bottom: 4vh;
}

.h5-invite .footer .join-btn {
  @apply w-full;
  height: 46px;
  /* fcr_brand_blue */
  background: #357bf6;
  border-radius: 32px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  /* Day/Fill/Text */
  color: #ffffff;
  margin-bottom: 12px;
}

.h5-invite .footer .tip {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;

  /* fcr_light_text3 */
  color: #bdbec6;
  text-align: center;
}

.h5-invite .footer .tip .link {
  color: #357bf6;
}
