.nav-footer {
  @apply flex justify-between items-end pointer-events-none;
  height: 128px;
  padding-bottom: 30px;
}

.nav-footer .cancel,
.nav-footer .ok {
  @apply pointer-events-auto;
  height: 49px;
  border-radius: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.nav-footer .cancel {
  width: 117px;
  /* fcr-light-btn2 */
  background: #f8f8f8;
  /* fcr-black */
  color: #000000;
  border: none;
}

.nav-footer .ok,
.nav-footer .ok.ant-btn:active,
.nav-footer .ok.ant-btn:focus,
.nav-footer .ok.ant-btn:hover {
  width: 200px;
  /* fcr-brand blue */
  background: #357bf6;
  /* Day/Fill/Text */
  color: #ffffff;
  border: none;
}
