.home-setting-container {
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 18%);
  border-radius: 6px;
  border-top: 1px solid #eeeef7;
  position: relative;
  overflow-y: hidden;
  width: 720px;
  /* color: #191919; */
  background: #fff;
}

.home-setting-container .home-setting-title {
  background: #f9f9fc;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  border: 0;
  outline: 0;
  width: 100%;
  padding-left: 19px;
  /* border-bottom: 1px solid #3e3f40; */
  border-bottom: 1px solid #eeeef7;
  color: #191919;
}

.setting-btn {
  color: #0073ff;
  font-size: 14px;
  cursor: pointer;
}

.home-setting-content {
  width: 720px;
  height: 400px;
}

.home-setting-content .left {
  width: 180px;
  height: 100%;
  color: #7b88a0;
  border-right: 1px solid #e3e3ec;
}

.home-setting-content .left .tab-item {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  font-size: 13px;
  position: relative;
}

.home-setting-content .left .tab-item.active {
  color: #0073ff;
  background: #e3eeff;
}

.home-setting-content .left .tab-item .icon {
  width: 22px;
  height: 22px;
  background-position: top;
  margin-right: 3px;
}

.home-setting-content .left .tab-item .icon.about {
  background-image: url(./assets/about.svg);
}

.home-setting-content .left .tab-item.active .icon.about {
  background-image: url(./assets/about-active.svg);
}

.home-setting-content .left .tab-item .icon.setting {
  background-image: url(./assets/setting.svg);
}

.home-setting-content .left .tab-item.active .icon.setting {
  background-image: url(./assets/setting-active.svg);
}

.home-setting-content .left .tab-item.active::before {
  content: ' ';
  position: absolute;
  width: 3px;
  height: 100%;
  background: #0073ff;
  top: 0;
  left: 0;
}

.home-setting-content .right {
  height: 100%;
  font-size: 13px;
  color: #191919;
  flex: 1;
  position: relative;
}

.home-setting-content .right .tab-container {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.home-setting-modal .modal-content {
  padding: 0;
}
