.collapse-enter {
    opacity: 0;
    transform: scale(0.9);
}

.collapse-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

/* .collapse-exit {
    opacity: 1;
}

.collapse-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
} */