.fcr-after-class-mobile-dialog-mask,
.fcr-mobile-dialog-mask {
  background: rgba(39, 41, 47, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcr-mobile-dialog-mask {
  background: rgba(39, 41, 47, 0.6);
}
.fcr-after-class-mobile-dialog,
.fcr-mobile-dialog {
  width: 328px;
  height: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  animation: zoomIn 0.2s;
}
.fcr-mobile-dialog {
  padding-bottom: 24px;
  height: auto;
}
.fcr-after-class-mobile-dialog-img,
.fcr-mobile-dialog-img {
  width: 296px;
  height: 182px;
  background: url('./assets/after-class.png') no-repeat top center / cover;
  position: relative;
  margin-top: -5px;
}
.fcr-mobile-dialog-img {
  background: url('./assets/generic-error.png') no-repeat top center / contain;
}
.fcr-after-class-mobile-dialog h1,
.fcr-mobile-dialog h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #000;
  padding-top: 21px;
  padding-bottom: 12px;
  margin: 0;
}
.fcr-after-class-mobile-dialog h2,
.fcr-mobile-dialog h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #757575;
  padding-bottom: 14px;
  margin: 0;
}
.fcr-after-class-mobile-dialog-btn,
.fcr-mobile-dialog-btn {
  width: 288px;
  height: 48px;
  background: #4262ff;
  border-radius: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
