/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

.fcr-video-grid-settings {
  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  z-index: 100;
  position: absolute;
  right: 14px;
  top: 10px;
}
.fcr-video-grid-settings .fcr-video-grid-settings-button {
  width: 88px;
  height: 30px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @apply fcr-bg-component fcr-text-level1 fcr-border fcr-border-divider;
}

.fcr-video-grid-settings .fcr-video-grid-settings-button-text {
  margin: 0 3px;
}

.fcr-video-grid-settings .fcr-video-grid-settings-dropdown {
  box-sizing: border-box;
  width: 88px;
  /* background: rgba(254, 254, 255, 0.95); */
  box-shadow: 0px 4px 50px -8px rgba(143, 143, 143, 0.3);
  border-radius: 8px;
  margin-top: 4px;
  padding: 12px 0;
  @apply fcr-bg-component fcr-text-level1 fcr-border fcr-border-divider;
}

.fcr-video-grid-settings-dropdown--closed {
  display: none;
}

.fcr-video-grid-settings .fcr-video-grid-settings-dropdown ul {
  margin: 0;
}
.fcr-video-grid-settings .fcr-video-grid-settings-dropdown .fcr-video-grid-settings-inner-el {
  width: 88px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fcr-video-grid-settings .fcr-video-grid-settings-dropdown .fcr-video-grid-settings-inner-el:hover {
  background: #eff4fe;
  @apply fcr-bg-brand fcr-text-level1;
}
