.fcr-mobile-landscape-container {
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 100%;
  background-color: black;
  justify-content: flex-end;
}

.fcr-mobile-landscape-container-rotate {
  height: 100vw;
  transform: rotate(90deg);
  transform-origin: 50vw center;
  position: relative;
  flex-shrink: 0;

}

.fcr-mobile-landscape-container video,
.fcr-mobile-landscape-container-rotate video {
  /* object-fit: contain !important; */
}

.landscape-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: linear-gradient(90deg, grey 1%, transparent 1%),
    linear-gradient(0deg, grey 1%, transparent 1%);
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px;
}

.landscape-whiteboard-container {
  height: 100%;
  width: 50%;
  background-color: black;
}

.fcr-mobile-auto-play-failed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.fcr-mobile-auto-play-failed>div {
  position: relative;
  padding-top: 130px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.fcr-mobile-auto-play-failed.fcr-mobile-auto-play-failed-no-board>div {
  padding-top: 20px;
}

.fcr-mobile-auto-play-failed.fcr-mobile-auto-play-failed-landscape>div {
  padding-top: 0;
  justify-content: center;
}

.fcr-mobile-auto-play-failed-btn {
  height: 32px;
  background: #4262ff;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;

  text-align: center;

  color: #ffffff;
  padding: 0 5px;
}

.fcr-countdown-mobile-widget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.fcr-countdown-mobile-widget-landscape {
  position: fixed;
  /* top: 0;
  right: 0; */
  z-index: 9;
}

/* .fcr-countdown-mobile-widget-have-stream .fcr-countdown-mobile {
  bottom: 162px;
} */
.fcr-mobile-room-info-container {
  position: fixed;
  top: 8px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.fcr-mobile-room-info-record-container {
  position: fixed;
  top: 8px;
  left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.15);
  height: 24px;
  padding: 3px 8px 3px 6px;
  border-radius: 50px;
}

.fcr-mobile-room-info-record-container span {
  line-height: 18px;
}

.fcr-mobile-room-info-container .fcr-mobile-room-info-user-count-container,
.fcr-mobile-room-info-container .fcr-mobile-room-info-time-container {
  height: 24px;
  padding: 3px 8px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcr-mobile-room-info-user-count-container {}

.fcr-mobile-room-info-time-container {
  margin-left: 5px;
}


.fct-mobile-main-top {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  background: var(--ui-03, #151515);

  order: 0;
}


.fct-mobile-main-top .fct-mobile-board-fullscreen-btn {
  position: absolute;
  display: flex;
  left: 20px;
  top: 24px;
  z-index: 3;
}

.fct-mobile-main-container.fct-mobile-main-container-landscape .fct-mobile-main-top {
  order: 2;
  width: 550px;
}

.fct-mobile-main-container.fct-mobile-main-container-landscape .fct-mobile-main-top .fct-mobile-board-fullscreen-btn {
  left: 11px;
}

.all-stream-fold-icon-wrapped {
  order: 3;
  width: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.all-stream-fold-icon-wrapped svg {
  width: 12px;
  height: 28px;
}

.fct-mobile-main-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-dark, #151515);
  width: calc(100% - 142px -14px);
  z-index: 3;
}

.fct-mobile-main-container.fct-mobile-main-container-landscape {
  flex-direction: row;
  padding: 0 14px;
}

.all-streams-portrait-container {
  width: 142px;
  order: 3;
}

.landscape-teacher-stream {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
}

.landscape-teacher-stream.active {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/room-placholder-bg.jpg') no-repeat top left / cover;
}

.landscape-bottom-tools {
  /* position: absolute; */
  height: 57px;
  /* bottom: 0; */
  width: 100%;
  /* display: flex;
  flex-direction: row;
  align-items: center; */

  background: var(--background-dark, #151515);
  padding: 9px 0;
  /* z-index: 19; */
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 8.07%, rgba(0, 0, 0, 0.01) 15.54%, rgba(0, 0, 0, 0.02) 22.5%, rgba(0, 0, 0, 0.04) 29.04%, rgba(0, 0, 0, 0.05) 35.26%, rgba(0, 0, 0, 0.07) 41.25%, rgba(0, 0, 0, 0.09) 47.1%, rgba(0, 0, 0, 0.11) 52.9%, rgba(0, 0, 0, 0.13) 58.75%, rgba(0, 0, 0, 0.15) 64.74%, rgba(0, 0, 0, 0.16) 70.96%, rgba(0, 0, 0, 0.18) 77.5%, rgba(0, 0, 0, 0.19) 84.46%, rgba(0, 0, 0, 0.20) 91.93%, rgba(0, 0, 0, 0.20) 100%); */
}

.landscape-bottom-tools-horizontal {
  order: 1;
  position: static;
  width: 75px;
  height: calc(100vh - 52px);
}

.landscape-bottom-tools-horizontal .fcr-chatroom-mobile-landscape-input-container {
  height: 100%;
}

.landscape-bottom-tools-notfullScreen {
  display: block;
}

.landscape-bottom-tools-fullScreen {
  display: none;
}