.trophy-container {
  position: fixed;
  z-index: 999;
  transition: top 1s cubic-bezier(0.15, -0.75, 0.88, 0.33), 
  left 1s cubic-bezier(0, 0, 0, 0);
}

@keyframes trophyContainer {  
  0%{
    transform: scale(0.65); 
  }
  25%{
    transform: scale(0.3);
    opacity: 0.5;
  }
  50%{
    transform: scale(0.15);
    opacity: 0.25;
  }
  75%{
    transform: scale(0.1);
    opacity: 0.2;
  }
  100%{
    transform: scale(0);
  }
}

.gift-animation-container .gift-animation{
  position: absolute;
  left: calc(50% - 160px);
  top: 50%;
  width: 148px;
  height: 129px;
  transform: translate(-50% , -50%) scale(1);
  background:url(../../assets/icon_trophy.png) no-repeat center center;
  background-size: 100% 100%;
  z-index: 500;
}

.gift-animation-container .gift-animation.giftAnimationBig{
  animation:giftAnimationBig 1s linear 1 forwards;
  -webkit-animation:giftAnimationBig 1s linear 1 forwards;
}

.gift-animation-container .gift-animation.scalc{
  transform:translate(-50% , -50%)  scale(3.01875);
}

.gift-animation-container .gift-animation.giftAnimationSmall{
  animation:giftAnimationSmall 0.5s linear 1 forwards;
  -webkit-animation:giftAnimationSmall 0.5s linear 1 forwards;
}

@keyframes giftAnimationBig{
  0%{
      transform:translate(-50% , -50%)  scale(0.8);
      margin-top: 0rem;
  }
  60%{
      transform:translate(-50% , -50%)  scale(1);
      margin-top: 0rem;
  }
  80%{
      transform:translate(-50% , -50%)  scale(1);
      margin-top: -0.4rem;
  }
  100%{
      transform:translate(-50% , -50%)  scale(1);
      margin-top: 0rem;
  }

}

@keyframes giftAnimationSmall{
  0%{
      transform:translate(-50% , -50%)  scale(3.01875);
  }
  100%{
      transform:translate(-50% , -50%)  scale(0.15);
  }
}
