
.gift-animation-container .gift-animation{
  position: absolute;
  left: calc(50% - 160px);
  top: 50%;
  width: 1.38rem;
  height: 1.6rem;
  transform: translate(-50% , -50%) scale(1);
  background:url(../../assets/icon_trophy.png) no-repeat center center;
  background-size: 100% 100%;
  z-index: 500;
}

.gift-animation-container .gift-animation.giftAnimationBig{
  animation:giftAnimationBig 1s linear 1 forwards;
  -webkit-animation:giftAnimationBig 1s linear 1 forwards;
}

.gift-animation-container .gift-animation.scalc{
  transform:translate(-50% , -50%)  scale(3.01875);
}

.gift-animation-container .gift-animation.giftAnimationSmall{
  animation:giftAnimationSmall 0.5s linear 1 forwards;
  -webkit-animation:giftAnimationSmall 0.5s linear 1 forwards;
}

@keyframes giftAnimationBig{
  0%{
      transform:translate(-50% , -50%)  scale(1);
      margin-top: 0rem;
  }
  60%{
      transform:translate(-50% , -50%)  scale(3.01875);
      margin-top: 0rem;
  }
  80%{
      transform:translate(-50% , -50%)  scale(3.01875);
      margin-top: -0.4rem;
  }
  100%{
      transform:translate(-50% , -50%)  scale(3.01875);
      margin-top: 0rem;
  }

}

@keyframes giftAnimationSmall{
  0%{
      transform:translate(-50% , -50%)  scale(3.01875);
  }
  100%{
      transform:translate(-50% , -50%)  scale(0.15);
  }
}
