.sub-title {
    font-size: 13px;
    font-weight: 400;
    color: #586376;
    align-self: flex-start;
}

.programs {
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}

.program-item {
    width: 190px;
    height: 150px;
    border-radius: 4px;
    border: 1px solid #E8E8F2;
    margin-right: 16px;
    margin-bottom: 18px;
    @apply box-border flex flex-col justify-center items-center cursor-pointer float-left;
}


.program-item-img {
    width: 159px;
    height: 101px;
    border: 1px solid #ccc;
    margin-top: 18px;
    @apply box-border;
}

.program-item-title {
    margin-top: 6px;
    @apply flex justify-center items-center;
}

.program-item-title .title-text {
    margin-left: 7px;
    font-size: 13px;
    font-weight: 400;
    color: #191919;
}