.h5-home {
  height: 100vh;
  background: #fff;
  overflow: auto;
}
.h5-home-vocational {
  background: url('./assets/h5-home-bg.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}
.h5-header {
  width: 100%;
  background: url('./assets/bg@2x.png') no-repeat;
  background-size: cover;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8vh;
}
.h5-header:before {
  content: '';
  width: 72px;
  height: 72px;
  display: block;
  z-index: 1;
  background: url('./assets/logo@2x.png') no-repeat;
  background-size: 72px;
  margin-bottom: 3vh;
}
.home-h5-form {
  margin: 0 auto;
  margin-top: 76px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-h5-form .table-row-item.home-row-item {
  height: 40px;
}
.home-h5-form .input-wrapper {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e3e3ec;
  border-radius: unset;
}
.home-h5-form .home-h5-select {
  border-bottom: 1px solid #e3e3ec;
}
.home-h5-form .home-h5-select .react-select__control {
  background-color: transparent !important;
}
.home-h5-form .h5-btn-submit {
  margin-top: 6vh;
}
.h5-home-vocational .h5-header {
  background: none;
}
.h5-home-vocational .h5-title {
  display: block;
  text-align: center;
  width: 100%;
}
.h5-home-vocational .home-h5-form {
  margin-top: 7vh;
}
.h5-home-vocational .table-col-item .fcr-input-prefix .home-label,
.h5-home-vocational .react-select-container .select-prefix .home-label,
.h5-home-vocational .fcr-input-wrapper input,
.h5-home-vocational .home-align-center {
  color: #fff;
}
.h5-home-vocational .fcr-input-wrapper {
  background: unset;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #e3e3ec;
}
.h5-home-vocational .fcr-input-wrapper:not(.fcr-input-wrapper-disabled):hover {
  border-color: #357bf6;
  border-right-width: 0 !important;
  background-color: unset;
  z-index: 1;
}
.h5-home-vocational .react-select__control .h5-home-vocational .react-select-prefix > span {
  border: unset;
}
.h5-home-vocational .react-select__single-value {
  color: #fff !important;
}
.h5-home-vocational .react-select__control {
  background-color: transparent !important;
  border-bottom: 1px solid #e3e3ec;
  border-color: unset !important;
  border-radius: unset !important;
  border-style: unset !important;
  border-width: unset !important;
  box-shadow: unset !important;
}
.h5-home-vocational .react-select__control--is-focused:hover {
  border: unset !important;
}
.h5-home-vocational .react-select__control:hover {
  border-color: #357bf6;
}
