.setting .select {
    font-size: 13px;
}

.setting .device-choose {
    margin-bottom: 30px;
}
.setting .device-title, .setting .device-text {
    font-size: 12px;
    font-weight: 400;
    color: #586376;
    margin-bottom: 10px;
}

.setting .device-volume {
    margin-top: 15px;
    @apply flex;
}

.setting .device-volume .slider {
    margin-left: 6px;
    @apply flex-1;
}


