.app-home {
  background: url(../../assets/home-bg.png);
  background-size: cover;
}

.form-section {
  background: rgba(255, 255, 255, 0.93);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.form-submit-button {
  background: #030303;
  color: #fff;
  font-size: 20px;
  height: 56px;
}

.form-header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #030303;
}

.nav-header .product-logo {
  display: inline-block;
  background-image: url(../../assets/favicon.png);
  background-size: 100% 100%;
  height: 38px;
  width: 38px;
  margin-right: 16px;
}

.nav-header .product-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  color: #fff;
}

.form-footer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #030303;
}

.about-btn .setting-btn {
  color: #fff;
}

.about-btn .fcr-btn {
  background-color: #fff;
  border: 1px solid #fff;
  min-width: unset;
  height: unset;
  padding: 4px 8px;
  border-radius: 6px;
}

.animated-form {
  animation: form-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-27 22:50:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@keyframes form-slide-top {
  0% {
    transform: translateY(30px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
