html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rtc-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.rtc-screen-share {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: black;
}

.rtc-screen-share video{
  object-fit: contain !important;
}

.edu-room .video-player {
  margin-top: -2px;
}

.edu-room .layout {
  position: relative;
}

.edu-room .tabs {
  position: absolute;
  top: 15px;
  left: 15px;
}

.chat-panel .tabs {
  top: 0;
  left: 0;
  flex: 1 1;
  position: relative;
}

.layout-aside-normal {
  max-width: 300px;
  min-width: 300px;
  flex: 1;
  gap: 2px;
  padding-left: 2px;
  position: relative;
}

.layout-aside.layout-aside-fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
}

.layout-aside-fullscreen {
  height: 50%;
}

.layout-aside-fullscreen .chat-header {
  border-top: 1px solid #ececf1;
}

.layout-aside-normal .icon-close {
  display: none;
}

.screen-share-player-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.agora-board-resources .tabs {
  position: inherit;
  top: 0;
  left: 0;
}

.agora-board-resources input[type=file] {
  display: none;
}

.mirror canvas{
  transform: scaleX(1) !important;
}

.mirror video{
  transform: scaleX(1) !important;
}

#netless {
  z-index: 0;
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  border: 1px solid #ECECF1;
  border-radius: 4px;
}

.filename {
  @apply text-white;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 71px;
}

.video-marquee-pin {
  position: absolute;
  height: 165px;
  width: 100%;
}

.video-marquee-pin ~ .board-box {
  margin-top: 165px;
}

.board-box {
  position: relative;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.fullscreen .layout-aside {
  border: none;
  min-width: 35px;
}

.fullscreen .video-player {
  display: none;
}

/* .small-class-chat {
  position: absolute;
  bottom: 8px;
  right: 11px;
} */

.fullscreen .video-marquee-pin ~ .board-box {
  margin-top: 0px;
}

.placeholder-desc {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  color: #7d8798;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 999;
  transform: translateY(74px);
}