.inviteContainer {
  @apply bg-component;
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
  border-radius: 6px;
  position: relative;
  overflow-y: hidden;
  width: 400px;
  /* color: #191919; */
}
.inviteContainer .inviteTitle {
  @apply bg-icon-selected-color text-level1;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  border: 0;
  outline: 0;
  width: 100%;
  padding-left: 19px;
}
