.toolbar-position {
  position: absolute;
  left: 15px;
  top: 5rem;
  transition: .5s;
}

.zoom-position {
  position: absolute;
  left: 15px;
  bottom: 8px;
}

.whiteboard {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-loading-position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

