.modal {
    box-shadow: 0px 2px 8px 0px rgba(47, 65, 146, 0.15);
    border-radius: 4px;
    border: 1px solid #E1E1EA;
    padding-bottom: 20px;
    @apply box-border bg-white;
}

.modal-title {
    @apply box-border flex justify-between items-center;
    height: 40px;
    background-color: #F9F9FC;
    padding: 0 20px;
}

.modal-title-text {
    color: #333333;
    font-size: 14px;
}

.modal-title-close {
    cursor: pointer;
}

.modal-content {
    @apply box-border flex flex-col justify-center items-center;
    padding: 17px 20px;
}

.modal-footer {
    @apply flex justify-center items-center;
}

.btn-div {
    margin: 0 7px;
}