.whiteboard-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.whiteboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 4px solid #75c0fe;
  border-radius: 4px;
  background: white;
  position: absolute;
  left: 0;
  bottom: 0;
}
.whiteboard-zoom-status {
  border-radius: 50%;
  box-shadow: 0 0 3px #cecece;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 34px;
  height: 34px;
  z-index: 2;
  cursor: pointer;
  background-color: #fff;
}
.whiteboard-h5-container {
  transition: all 0.3s ease;
}
