.table-flex-container {
  @apply flex;
  @apply flex-col;
}

.table-row-item {
  @apply flex;
  @apply flex-row;
  font-size: 13px;
  /* padding-left: 19px; */
}

.table-col-item {
  @apply text-level1;
  @apply flex;
  @apply flex-1;
  @apply items-center;
  font-size: 13px;
  /* font-family: PingFangSC-Regular, PingFang SC; */
  font-weight: 400;
  /* justify-content: center; */
}

.table-header {
  @apply flex;
  @apply flex-1;
  @apply flex-row;
  @apply bg-icon-selected-color;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0;
  padding-left: 19px;
  @apply border-bottom-width-1 border-divider;
  line-height: 20px;
}
.agora-board-resources .border-bottom-width-1 {
  @apply border-divider;
}

.border-bottom-width-1 {
  border-bottom-width: 1px;
  margin: 0px 0px -1px -1px;
}

.item-gap-10 {
  gap: 10px;
}

.table-row-x-10 {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.flex-width-9 {
  flex: 9px 0 0;
}

.flex-width-20 {
  flex: 20px 0 0;
}

.inline {
  line-height: 20px;
  word-break: break-all;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.margin-gap {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 19px;
}

.no-padding {
  padding: 0;
}

.btn-group {
  margin: 0 0 10px 0;
  display: flex;
  gap: 10px;
}

.table-container {
  overflow-y: auto;
  box-sizing: content-box;
  height: 275px;
}
