.fcr-view-switch {
  background: #ffffff;
  border-radius: 12px;
}

.fcr-view-switch__indicator {
  background: #000000;
  border-radius: 12px;
  width: 50%;
  height: 100%;
  left: 0%;
  top: 0%;
  transition: left 0.2s;
}

.fcr-view-switch__indicator--on {
  left: 50%;
}

.fcr-header-divider {
  border-left: 1px solid #4a4c5f;
  height: 20px;
  margin: 0 18px;
}

.fcr-header-logo {
  font-size: 22px;
  font-weight: bold;
}
