.popper {
  display: inline-block;
  background: #fff;
  padding: 8px 16px;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
}

.popper .arrow,
.popper .arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popper .arrow {
  visibility: hidden;
}

.popper .arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.popper[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
}

.popper[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
}

.popper[data-popper-placement^='left'] > .arrow {
  right: -4px;
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
}

.popper[data-popper-placement^='right'] > .arrow {
  left: -4px;
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
}
